@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	margin-top: 50px;
	/*background-color: #F8F8F8;*/
	font-family: 'Open Sans', sans-serif;
  overflow-y: scroll; /* always show scrollbar */
}

.ar-imagegrid-cell-title {
  background: #ffffff;
  height: auto;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 37px;
}

.ar-imagegrid-cell-link:hover {
  box-shadow: 0 0 10px #888888;
  z-index: 2000;
  position: absolute;
  text-decoration: none;
}

.ar-imagegrid-cell-link:hover .ar-imagegrid-cell-title {
  width: inherit;
  height: auto;
  white-space: normal;
}

.capitalized {
  text-transform: capitalize;
}

.modal-title {
  background-image: url("../img/arachnelogo.png");
  background-repeat: no-repeat;
  background-size:  36px 36px;
  padding-left: 46px;
  line-height: 36px;
}

.btn-startsite-tab {
  border:none;
  background: none;
  border-radius: 0px;
  border-bottom: 2px solid silver;
}
.btn-startsite-tab.active {
  background: none;
  box-shadow: none;
  border-bottom: 2px solid rgb(66,139,202);
  color:rgb(66,139,202);
  
}

.row {
  margin-top:10px;
}
.fullscreenrow {
  margin-top: 0px;
}

.sections {
  font-size: 13px;
}
.sections li {
  list-style:none;
}
.sections li b {
  margin-top: 6px;
  margin-bottom: 2px;
  display: block;
}
.sections li > b {
  font-size: 1.2em;
}
.sections li li > b {
  font-size: 1.1em;
}
.sections li li li > b {
  font-size: 1em;
}
.sections hr {
  border: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sections div.section-item {
  padding-top: 2px;
  padding-bottom: 4px;
}

.sections a:after {
  content: "\e164 ";
  margin-left: 4px;
  font: 10px 'Glyphicons Halflings';
}

.sections a {
  color: inherit;
  border-bottom: 1px dotted lightgrey;
}

.sections a:hover {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.facet.panel {
  margin-bottom: 10px;
}
.facet .panel-title {
  font-size: 12px;
  cursor: pointer;
  color: #428bca;
}
.facet ul {
	margin: 0px;
}
.facet li {
	cursor: pointer;
	overflow: hidden;
  margin: 3px 0px;
	padding: 3px 6px;
}
.facet li:hover {
	background-color: #428bca;
  color: white;
}
.facet li:hover .text-muted {
  color: white;
}

.linethrough-hover:hover {
	text-decoration: line-through;
  cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}

.imagesrow .image-tile {
  display:block;
  float:left;
  overflow: hidden;
  padding: 2px 8px 2px 0px;
  bottom:0px;
  position: relative;
}
.imagesrow .imageWrapper {
  position: relative;
  background-color: #e2e2e2;
  overflow: hidden;
}
.imagesrow .imageWrapper img {
  position: absolute;
  bottom: 0px;
}

.image-tile a p {
  height: 70px;
  overflow: hidden;
  padding: 5px 2px 2px 2px;
  line-height: 13px;
}
.image-tile a:hover {
  text-decoration: none;
}

.magnifier {
    border-radius: 75px;
    height: 150px;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
    width: 150px;
    z-index: 2;
    pointer-events:none;
}
.categoryStarters .image-tile a p {
  height:auto;
  overflow: visible;

}

.imagePlaceholder {
  content:url("../img/arachnelogo.png");
}
.fullscreenMap {
  height: 100%;
}
.halfscreenMap {
  height: 50%;
}
/* Für Filter-Seite, an den Facetten */
.accordion-with-list .panel-body {
  padding: 0px;
}
.accordion-with-list .panel-title a {
  cursor: pointer;
}
.accordion-with-list .list-group-item {
  border:0px;border-bottom:1px solid #DDDDDD; margin-bottom:0px; cursor:pointer;
}
#projectTeaser{
  padding-bottom: 15px;
}

.loading{
  height:100px;
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(66,139,202) rgb(66,139,202) rgba(0,0,0,0);
  border-radius: 10px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(720deg);}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(720deg);}
}

.form-control.ng-invalid.ng-dirty {
  border-color: #a94442;
}

.form-control.ng-valid.ng-dirty {
  border-color: #3c763d;
}

/* OVERWRITING MARKER CLUSTER STYLING FOR LEAFLET PLUGIN MARKERCLUSTER */


.marker-cluster div {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-top: 4px;
}

.marker-cluster span {
  line-height:11px;
  font-size:11px;
}

 /* NEEDED FOR CHROME FULLSCREEN MODE, USED ON ENTITYIMAGESCONTROLLER */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}