@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	margin-top: 60px;
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
}
.facet {
	margin-top: 14px;
}
.facet li {
	cursor: pointer;
	overflow: hidden;
	margin-top: 3px;
	border-radius: 5px;
	padding: 4px 6px;

}
.facet li:hover {
	background-color: #eaeaea;
}

.linethrough-hover:hover {
	text-decoration: line-through;
}
.uppercase {
	text-transform: uppercase;
}
.imagesrow span {
	padding: 2px;
}

.lander-category-thumbnails {
  position: relative;
  margin: 2px;
  float: left;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-position: top;
  background-size: cover; 
}

.lander-category-thumbnails span {
    padding-left: 4px;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.imagePlaceholder {
  content:url("../img/arachnelogo.png");
}