@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	margin-top: 50px;
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
}
.capitalized {
  text-transform: capitalize;
}

.btn-startsite-tab {
  border:none;
  background: none;
  border-radius: 0px;
  border-bottom: 2px solid silver;
}
.btn-startsite-tab.active {
  background: none;
  box-shadow: none;
  border-bottom: 2px solid rgb(66,139,202);
}

.row {
  margin-top:10px;
}
.fullscreenrow {
  margin-top: 0px;
}
.sections li {
  list-style:none;
}
.facet {
	margin-top: 14px;
}
.facet li {
	cursor: pointer;
	overflow: hidden;
	margin-top: 3px;
	border-radius: 5px;
	padding: 4px 6px;

}
.facet li:hover {
	background-color: #eaeaea;
}

.linethrough-hover:hover {
	text-decoration: line-through;
  cursor: pointer;
}
.uppercase {
	text-transform: uppercase;
}

.imagesrow div {
  float:left;
  overflow: hidden;
  padding: 2px 4px;
  bottom:0px;
  position: relative;
}
.imagesrow img {
  display:none;
}
.imagesrow p {
  height: 50px;
  padding: 5px 2px 2px 2px;
  line-height: 13px;
}

.startSiteCategoryStarter span {display:none;position:absolute; bottom:2px; left:2px; right:0px; padding:10px; background:rgba(0,0,0,0.7); color: white;}
.startSiteCategoryStarter:hover span {
  display: block;
}
.imagePlaceholder {
  content:url("../img/arachnelogo.png");
}
.fullscreenMap {
  height: 100%;
}
.halfscreenMap {
  height: 50%;
}
/* Für Filter-Seite, an den Facetten */
.accordion-with-list .panel-body {
  padding: 0px;
}
.accordion-with-list .list-group-item {
  border:0px;border-bottom:1px solid #DDDDDD; margin-bottom:0px; cursor:pointer;
}
#projectTeaser{
  padding-bottom: 15px;
}

.loading{
  height:100px;
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(66,139,202) rgb(66,139,202) rgba(0,0,0,0);
  border-radius: 10px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(720deg);}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(720deg);}
}