@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
  overflow-y: scroll; /* always show scrollbar */
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
    padding-top: 55px;   /* Hack:                                                                */
    margin-top:  -35px;  /* Offset headings, because anchors for toc lie under navbar otherwise. */
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 19px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.page-title .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-title .title:hover{
  width: inherit;
  height: auto;
  white-space: normal;
}

.ar-imagegrid-cell-title {
  background: #ffffff;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 37px;
}

.ar-imagegrid-cell-link:hover {
  box-shadow: 0 0 10px #888888;
  z-index: 500;
  position: absolute;
  text-decoration: none;
}

.ar-imagegrid-cell-link:hover .ar-imagegrid-cell-title {
  width: inherit;
  height: auto;
  white-space: normal;
}

.ar-imagegrid-cell-link .label {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0.7;
  white-space: normal;
}

.ar-imagegrid-cell-link:hover .label {
  opacity: 1;
}

.ar-imageslider .thumb-row a {
  opacity: 0.7;
  cursor: pointer;
}

.ar-imageslider .thumb-row  a:hover, .ar-imageslider .thumb-row  a.active {
  opacity: 1;
  text-decoration: none;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalized {
  text-transform: capitalize;
}

.modal-title {
  background-image: url("../img/arachnelogo.png");
  background-repeat: no-repeat;
  background-size:  36px 36px;
  padding-left: 46px;
  line-height: 36px;
}

.search-nav .btn-sm {
  line-height: 1.1;
}

.search-nav .input-sm {
  height: 20px;
}

.row {
  margin-top:10px;
}
.fullscreenrow {
  margin-top: 0px;
  min-height: 100%;
}

.sections {
  font-size: 13px;
  padding-left: 20px;
}
.sections ul {
  padding-left: 0px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sections li {
  list-style:none;
}
.sections li b {
  margin-top: 8px;
  margin-bottom: -4px;
  margin-left: -20px;
  display: block;
}
.sections li > b {
  font-size: 1.4em;
}
.sections li li > b {
  font-size: 1.1em;
}
/* deeply nested sections should display inline */
.sections li li li > b {
  font-size: 1em;
  display: inline;
  font-weight: normal;
  font-style: italic;
  margin-left: 0px;
  margin-right: 2px;
}
.sections li li li li > b {
  font-style: normal;
  margin-right: 0px;
}
.sections li li li ul {
  font-style: normal;
  margint: 0px;
}
.sections li li li ul::before {
  content: " – ";
}
.sections li li li ul:first-of-type::before, .sections li li li li ul::before {
  content: "";
  display: none;
}
.sections li li li > b::after {
  content: ': ';
}
.sections li li li ul {
  display: inline;
}
.sections li li li li {
  display: inline;
}
.sections hr {
  border: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sections div.section-item {
  padding-top: 2px;
  padding-bottom: 4px;
}

.sections a:after {
  content: "\e164 ";
  margin-left: 4px;
  font: 10px 'Glyphicons Halflings';
}

.sections a {
  color: inherit;
  border-bottom: 1px dotted lightgrey;
}

.sections a:hover {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.facet.panel {
  margin-bottom: 10px;
}
.facet .panel-title {
  font-size: 12px;
  cursor: pointer;
  color: #428bca;
}
.facet ul {
	margin: 0px;
}
.facet li {
	overflow: hidden;
  margin: 3px 0px;
	padding: 3px 6px;
}
.facet li:hover {
	background-color: #428bca;
  color: white;
}
.facet li a {
  color: black;
}
.facet li:hover a {
  color: white;
  text-decoration: none;
}
.facet li:hover .text-muted {
  color: white;
}

.linethrough-hover:hover {
	text-decoration: line-through;
  cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}

.imagePlaceholder {
  content:url("../img/arachnelogo.png");
}
.fullscreenMap {
  height: 100%;
}
.halfscreenMap {
  height: 50%;
}
/* Für Filter-Seite, an den Facetten */
.accordion-with-list .panel-body {
  padding: 0px;
}
.accordion-with-list .panel-title a {
  cursor: pointer;
}
.accordion-with-list .list-group-item {
  border:0px;border-bottom:1px solid #DDDDDD; margin-bottom:0px;
}
#projectTeaser{
  padding-bottom: 15px;
}

.loading{
  position: absolute;
  top: 250px;
  bottom:0px;
  left: 0px;
  right: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(66,139,202) rgb(66,139,202) rgba(0,0,0,0);
  border-radius: 10px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(720deg);}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(720deg);}
}

.register-form .form-control.ng-invalid.ng-dirty {
  border-color: #a94442;
}

.register-form .form-control.ng-valid.ng-dirty {
  border-color: #3c763d;
}

.faq h4 {
  margin-top: 20px;
  font-weight: bold;
}

.faq p {
  margin-left: 20px;
}

.faq p.query-example {
  font-style: italic;
}

.faq-nav.ui-scrollfix {
  position: fixed;
  top: 60;
}

/* OVERWRITING MARKER CLUSTER STYLING FOR LEAFLET PLUGIN MARKERCLUSTER */


.marker-cluster div {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-top: 4px;
}

.marker-cluster span {
  line-height:11px;
  font-size:11px;
}

 /* NEEDED FOR CHROME FULLSCREEN MODE, USED ON ENTITYIMAGESCONTROLLER */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

con10t-toc {
    float: right;
    margin-top: 5em;
    padding: 1em;
    width: 25%;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: thin;
    border-color: #bbbbbb;
}

con10t-toc div {
    padding-bottom: 2em;
    font-size: medium;
}

con10t-toc li{
    padding-left: 1em;
    font-size: small;
    list-style: outside none none;
}