.con10t-toc {
    display: inline-block;
    padding: 1em;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: thin;
    border-color: #E7E7E7;
}

.con10t-toc-entry {
    padding-top: 55px;   /* Hack:                                                                */
    margin-top:  -55px;  /* Offset headings, because anchors for toc lie under navbar otherwise. */
}

.con10t-toc a {
    cursor: pointer;
    cursor: hand;
}

.con10t-toc-heading {
    padding-bottom: 1em;
    font-size: large;
}

.con10t-toc-level-1 {
    font-size: medium;
}
.con10t-toc-level-2 {
    padding-left: 1em;
    font-size: small;
}
.con10t-toc-level-3 {
    padding-left: 2em;
    font-size: small;
}
.con10t-toc-level-4 {
    padding-left: 3em;
    font-size: small;
}
.con10t-toc-level-5 {
    padding-left: 4em;
    font-size: small;
}
.con10t-toc-level-6 {
    padding-left: 5em;
    font-size:  small;
}

con10t-catalog-tree {
    display: inline-block;
    padding: 1em;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: thin;
    border-color: #E7E7E7;
}
.con10t-catalog-tree-title {
    padding-bottom: 1em;
    font-size: large;
}
.con10t-catalog-tree-author {
    padding-bottom: 1em;
    font-size: medium;
}
.con10t-catalog-tree-child {
    border-style: solid none none none;
    border-width: thin;
    border-color: #E7E7E7;
}
.con10t-catalog-tree-children{
    padding-left: 2em;
}

.con10t-tree {
    display: inline-block;
    padding: 1em;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: thin;
    border-color: #E7E7E7;
}
