// Components navbar related

// navbar is collapsed when screen is smaller
$screen-lg: 1180px;
// ?
$idai-navbar-search-width-diff:            400px !default;
// $screen-lg - this = space left for search bar
$screen-lg-navbar-search-width-diff:       950px !default;
// navbar will not grow if the screen is larger
$idai-screen-xl:                           1500px !default;
// and will be fixed to this size
$idai-screen-xl-navbar-search-width:       550px !default;
