// Components navbar related
$screen-lg: 1050px;
$idai-navbar-search-width-diff:            400px !default;
$screen-lg-navbar-search-width-diff:       920px !default;
$idai-screen-xl:                           1600px !default;
$idai-screen-xl-navbar-search-width:       650px !default;
