// Components navbar related
$screen-lg: 1180px;
$idai-navbar-search-width-diff:            400px !default;
$screen-lg-navbar-search-width-diff:       870px !default;
$idai-screen-xl:                           1600px !default;
$idai-screen-xl-navbar-search-width:       700px !default;
