@import "variables";
@import "idai-components";
@import "con10t-page";
@import "con10t-widgets";
@import "leaflet";
@import "map";
@import "threedviewer";

body {
  overflow-y: scroll; /* always show scrollbar */
}

@media screen and (max-width: 415px) {

  #projectLogo {

    display: none;
  }
}

/* Breakpoints for project logos in footer */
@media screen and (max-width: 760px) {

  idai-footer .logoImage {

    height: 55px;
  }
}

@media screen and (max-width: 708px) {

  idai-footer .logoImage {

    height: 50px;
  }
}

@media screen and (max-width: 656px) {

  idai-footer .logoImage {

    height: 45px;
  }
}

@media screen and (max-width: 645px) {

  idai-footer .logoImage {

    height: 40px;
  }
}

@media screen and (max-width: 553px) {

  idai-footer .logoImage {

    height: 35px;
  }
}

@media screen and (max-width: 500px) {

  idai-footer .logoImage {

    height: 30px;
  }
}

@media screen and (max-width: 450px) {

  idai-footer .logoImage {

    height: 25px;
  }
}

@media screen and (max-width: 400px) {

  idai-footer .logoImage {

    height: 20px;
  }
}

@media screen and (max-width: 350px) {

  idai-footer .logoImage {

    height: 15px;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {

  max-height: 375px;

}

[ui-view] {
    padding-top: 50px;
}

.messages {
    margin-top: 60px;
    position: fixed;
    width: 100%;
    z-index: 500;
    .alert {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 19px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.clickable {
  cursor: pointer;
}

#custom-catalog .panel-heading {
    background-color: #337ab7 !important;
    color: white;
}

#custom-catalog .panel-default {
    border-color: #337ab7;
}

#custom-entry .panel-heading {
    background-color: #f5f5f5 !important;
    color: #333;
}

#custom-entry .panel-default {
    border-color: #ddd;
}

.page-title .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-title .title:hover{
  width: inherit;
  height: auto;
  white-space: normal;
}

.ar-imagegrid-cell-title {
  background: #ffffff;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 37px;
  line-height: 1.2;
}

.ar-imagegrid-cell-link:hover {
  box-shadow: 0 0 10px #888888;
  z-index: 500;
  position: absolute;
  text-decoration: none;
}

.ar-imagegrid-cell-link:hover .ar-imagegrid-cell-title {
  width: inherit;
  height: auto;
  white-space: normal;
}

.ar-imagegrid-cell-link .label {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0.7;
  white-space: normal;
}

.ar-imagegrid-cell-link:hover .label {
  opacity: 1;
}

.ar-imageslider .thumb-row a {
  opacity: 0.7;
  cursor: pointer;
}

.ar-imageslider .thumb-row  a:hover, .ar-imageslider .thumb-row  a.active {
  opacity: 1;
  text-decoration: none;
}

/* map widgets */

.ar-map * {
  box-sizing: content-box;
}

*[ar-map-popup] ul {
  padding-left: 10px;
}

.ar-map-geogrid-label {
  color: #3f3f3f;
  text-shadow: -1px 0 #fefefe, 0 1px #fefefe, 1px 0 #fefefe, 0 -1px #fefefe;
  font-weight: bold;
  width: 50px !important;
  left: -19px !important;
  top: -4px !important;
}

.ar-map-geogrid-label-inner {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
}

*[ar-grid-map] .leaflet-popup {
  bottom: 0px !important;
}





.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalized {
  text-transform: capitalize;
}

.search-nav .btn-sm {
  line-height: 1.1;
}

.search-nav .input-sm {
  height: 20px;
}

.row {
  margin-top:10px;
}
.fullscreenrow {
  margin: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
}

.sections {
  padding-left: 20px;
}
.sections ul {
  padding-left: 0px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sections li {
  list-style:none;
}
.sections li b {
  margin-top: 8px;
  margin-bottom: -4px;
  margin-left: -20px;
  display: block;
}
.sections li > b {
  font-size: 1.4em;
}
.sections li li > b {
  font-size: 1.1em;
}
/* deeply nested sections should display inline */
.sections li li li > b {
  font-size: 1em;
  display: inline;
  font-weight: normal;
  font-style: italic;
  margin-left: 0px;
  margin-right: 2px;
}
.sections li li li li > b {
  font-style: normal;
  margin-right: 0px;
}
.sections li li li ul {
  font-style: normal;
  margint: 0px;
}
.sections li li li ul::before {
  content: " – ";
}
.sections li li li ul:first-of-type::before, .sections li li li li ul::before {
  content: "";
  display: none;
}
.sections li li li > b::after {
  content: ': ';
}
.sections li li li ul {
  display: inline;
}
.sections li li li li {
  display: inline;
}
.sections hr {
  border: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sections div.section-item {
  padding-top: 2px;
  padding-bottom: 4px;
}

.sections a[target="_blank"]:after {
  content: "\e164 ";
  margin-left: 4px;
  font: 10px 'Glyphicons Halflings';
}

.sections a {
  color: inherit;
  border-bottom: 1px dotted lightgrey;
}

.sections a:hover {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.facet.panel {
  margin-bottom: 10px;
}
.facet .panel-title {
  font-size: 12px;
  cursor: pointer;
  color: #37588e;
}
.facet ul {
	margin: 0px;
}
.facet li {
	overflow: hidden;
  margin: 3px 0px;
	padding: 3px 6px;
}
.facet li:hover {
	background-color: rgba(85, 114, 161, 0.9);
  color: white;
}
.facet li a {
  color: black;
}
.facet li:hover a {
  color: white;
  text-decoration: none;
}
.facet li:hover .text-muted {
  color: white;
}

.linethrough-hover:hover {
	text-decoration: line-through;
  cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}

.imagePlaceholder {
  content:url("../img/arachnelogo.png");
}

/* Für Filter-Seite, an den Facetten */
.accordion-with-list .panel-body {
  padding: 0px;
}
.accordion-with-list .panel-title a {
  cursor: pointer;
}
.accordion-with-list .list-group-item {
  border:0px;border-bottom:1px solid #DDDDDD; margin-bottom:0px;
}
#projectTeaser {
  padding-bottom: 15px;
}

.loading {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(66,139,202) rgb(66,139,202) rgba(0,0,0,0);
  border-radius: 10px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(720deg);}
}
@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(720deg);}
}

.register-form .form-control.ng-invalid.ng-dirty {
  border-color: #a94442;
}

.register-form .form-control.ng-valid.ng-dirty {
  border-color: #3c763d;
}

.faq h2 {
  padding-top: 60px;   /* Hack:                                                                */
  margin-top:  -60px;  /* Offset headings, because anchors for toc lie under navbar otherwise. */
}

.faq h4 {
  /*margin-top: 20px;*/
  font-weight: bold;
}

.faq p {
  margin-left: 20px;
}

.faq p.query-example {
  font-style: italic;
}

.faq-nav.ui-scrollfix {
  position: fixed;
  top: 60;
}

.con10t-page {
  text-align: justify;
}

.con10t-page img {
  padding: 0 15px;
}

.con10t-page img[align="right"] {
  padding: 0 0 0 15px;
}

.con10t-page img[align="left"] {
  padding: 0 15px 0 0;
}

.catalog-entry {
  padding: 10px;
  border-radius: 4px;
}

.catalog-entry:hover {
  background-color: #EEEEEE;
}

.catalog-entry .angular-ui-tree-handle {
  padding: 2px;
}

.catalog-entry .edit-btn {
  padding: 2px 3px;
  visibility: hidden;
  cursor: pointer;
}

.catalog-entry:hover .edit-btn {
  visibility: visible;
}

.catalog-edit .angular-ui-tree-placeholder {
  background: #f0f9ff;
  border-radius: 4px;
  border: 1px dashed #bed2db;
  margin: 0;
}

.carousel-caption {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
}

.carousel-indicators li {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.markdown-editor-button-group {
  margin-bottom: 3px;
}

.markdown-editor-button-group .btn {
  width: 24px;
  height: 24px;
}

.markdown-editor-button-group .btn span {
  text-align: center;
}

.markdown-editor-button-group .heading-button span {
  font-size: 11px;
  margin-left: -2px;
}

.markdown-editor-button-group .heading-button .heading-button-number {
  font-weight: bold;
  vertical-align: -1px;
  margin-left: 0px;
}

/* OVERWRITING MARKER CLUSTER STYLING FOR LEAFLET PLUGIN MARKERCLUSTER */


.marker-cluster div {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-top: 4px;
}

.marker-cluster span {
  line-height:11px;
  font-size:11px;
}

:-moz-full-screen.fullscreenrow {
  padding-top: 0;
}

 /* NEEDED FOR CHROME FULLSCREEN MODE, USED ON ENTITYIMAGESCONTROLLER */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
  padding-top: 0;
}

con10t-catalog-tree {

  width: 100%;
}