.ar-imageslider {
  .thumb-row {
    overflow: hidden;
    padding: 4px;
    position: relative;
  }


  #thumbbox {
    height: 70px;
    width: auto;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    display: inline-block;
  }

  #thumbbox a {
    opacity: 0.3;
    cursor: pointer;
  }

  #thumbbox a:hover,
  #thumbbox a.active {
    opacity: 1;
    text-decoration: none;
  }

  .navigate-left {
    top: 23px;
    left: 3px;
  }

  .navigate-right {
    top: 23px;
    right: 3px;
  }

  .navigate-right, .navigate-left {
    opacity: 1;
  }

  #maximg-nav-left,
  #maximg-nav-right,
  .navigate-left,
  .navigate-right{
    position: absolute;
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    z-index: 1503;
    cursor: pointer;
    color: #37588e;
    background-color: #ededed;
    padding: 3px;
    border-radius: 1.5em;
    text-align: center;
  }

  #maximg-nav-left,
  #maximg-nav-right {
    opacity: 0;
    top: 49%;
    transform: translateY(-50%);
    transition: .5s ease-in-out;
  }

  #maximg-nav-right, .navigate-right {
    right: 5px;
  }

  #maximg-nav-left, .navigate-left {
    left: 5px;
  }

  #previewbox:hover a#maximg-nav-left,
  #previewbox:hover a#maximg-nav-right {
    opacity: 1;
  }

  #previewbox {
    position: relative;
    height: 300px;
    background-color: #ededed;
    
  }
  #maximg-wrapper {
    width: 100%;
    height:300px;
    white-space: nowrap;
    text-align: center;
    font: 0/0 a;         /* remove the gap between inline(-block) elements */

  }

  #maximg:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }
  #maximg img {
    vertical-align: middle;
    cursor: zoom-in;
    height: auto;
    max-width: 100%;
  }

}