.ar-imageslider {

  #thumbbox {
    height: 70px;
    width: auto;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    display: inline-block;
  }

  #thumbbox a {
    opacity: 0.3;
    cursor: pointer;
  }

  #thumbbox a:hover,
  #thumbbox a.active {
    opacity: 1;
    text-decoration: none;
  }

  .navigate-left, .navigate-right {
    position: absolute;
    font-size: 1.7em;
    z-index: 50;
    cursor: pointer;
  }

  .navigate-left {
    margin: 25px 0 0 3px;
  }

  .navigate-right {
    right: 21px;
    margin: 25px 0 0;
  }

  .hightlighted-image {
    text-align: center;
    position: relative;
    padding: 4px;
  }

  .navigate-right, .navigate-left {
    opacity: 1;
  }

}