.con10t-page .con10t-row {
    @include make-row();
}

.con10t-page .con10t-row .con10t-title {
    @include make-md-column(12);
}

.con10t-page .con10t-row .con10t-content {
    @include make-md-column(8);
    @include make-md-column-pull(4);
}

.con10t-page .con10t-row .con10t-sidebar {
    @include make-md-column(4);
    @include make-md-column-push(8);
}

/* add search icon to link */
.con10t-page a[con10t-search-query]:before {
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.3em;
}

/* add file icon to link */
.con10t-page a[con10t-page]:before {
    content: "\e022";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.3em;
}

.con10t-row {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 25px 25px;
}

.con10t-title {
    background-color: #fff;
    padding: 50px;
}

.teaserpage .con10t-title {
    background-color: #fff;
    padding: 15px 50px 50px 50px;
    text-align: center;
}

.con10t-content h1 {
    margin-top: 0;
}

.con10t-page .con10t-row .con10t-sidebar {
    padding-top: 15px;
}