.con10t-media-tree {
  padding: 0 25px 25px 25px;
  margin: 25px 0;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
  border-radius: 2px;
  overflow: hidden;
}

.con10t-media-tree .row {
  margin-top: 0 !important;
}

.header-teaser {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: -10px !important;
  width: 105% !important;

  object-fit: none;
  object-position: center;
  height: 175px;
}

.header-teaser img {

}

.header-image-centered-cropped {
  object-fit: none;
  object-position: center;
  height: 200px;
  width: 100%;
}

.con10t-media-tree .header figure {
  background-clip: content-box;
  background-color: #eee; /* background color of figcaption */
}

.con10t-media-tree .header h1 {
  padding: 15px 10px 10px 1px;
}

.con10t-media-tree .header figure img {
  padding: 7px;
  background-color: #eee;
}

.con10t-media-tree .header figcaption {
  text-align: center;
  padding: 7px;
  border-top: 1px solid #ccc;
}