.con10t-media-tree {
  padding: 0 25px 25px 25px;
  margin: 25px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.header-image-centered-cropped {
  object-fit: none;
  object-position: center;
  height: 200px;
  width: 100%;
}

.con10t-media-tree .header {

}

.con10t-media-tree .header h1 {

}

.con10t-media-tree .header figcaption {
  text-align: center;
}