/* Author: Jan G. Wieners */

.con10t-image {
  display: inline-block;
}

.con10t-image img {
  max-width: 100%;
  padding: 0!important;
}

.con10t-image .caption {
  border-bottom: 2px solid rgba(85, 114, 161, 0.3);
  background-color: rgba(85, 114, 161, 0.2);
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
}

.con10t-image-left {
  float: left;
  padding: 5px 25px 25px 0 !important;
}

.con10t-image-right {
  float: right;
  padding: 5px 0 25px 25px !important;
}

/* Image overlay */
.capsicum {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.capsicum img {

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  max-width: 90%;
  max-height: 90%;
  z-index: 5;
  cursor: pointer;
}

.capsicum:target {
  outline: none;
  display: block;
}