.space-right {
  margin-right: 2em;
}

.space-top {
  margin-top: 1em;
}

.blink {
  animation: blinkanim 4s linear infinite;
}

@keyframes blinkanim {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
