.space-right {
  margin-right: 2em;
}

.space-top {
  margin-top: 1em;
}

.blink {
  animation: blinkanim 2s linear infinite alternate;
}

@keyframes blinkanim {
  0%{opacity: 0.2;}
  50%{opacity: 0.6;}
  100%{opacity: 1;}
}
