.map-fullscreen {
  //position: fixed;
  //padding-left: 115px;
  //right: 15px;
  //bottom: 0;
  //top: 40px;
  height: 100%;
  //padding-bottom: 50px;
}

.map-fullscreen #map {
  position: fixed;
  padding-left: 115px;
  right: 0;
  bottom: 0;
  top: 40px;
  height: 100%;
  padding-bottom: 50px;
}

#map.fullscreencol {
  overflow-y: hidden;
}

.con10t-page #map {
  height: 250px;
}

#map img {
  padding: 0;
}

#ar-map-zoomcontrol {
  left: 0;
  text-align: center;
}

.map-fullscreen #menu {
  bottom: 0;
  left: 0;
  overflow-y:auto;
  top: 0;
  text-align: left;
  padding-right: 30px;
  z-index:500;
}

.ar-map-zoomcontrol-box {
  border: 1px solid #e3e3e3;
  padding: 4px 10px 4px 10px;
  font-weight: bold;
  cursor: pointer;
}

.map-fullscreen #map{
  top: 50px;
}