.map-fullscreen {
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 0;
  top: 40px;
  height: 100%;
  padding-bottom: 50px;
}

.map-fullscreen #map {
  height: 100%;
}

#map {
  height: 250px;
}

#map img {
  padding: 0;
}

/* map menu items and controls */

#map-right-menu, #map-left-menu, #ar-map-zoomcontrol {
  background-color: rgba(248, 248, 248, 0.9);
  position: fixed;
  top: 10px;
  text-align: left;
  z-index:500;
}

#map-right-menu {
  right: 10px;
}

#map-left-menu {
  left: 10px;
}

#ar-map-zoomcontrol {
  left:10px;
  text-align: center;
}

.map-fullscreen #map-right-menu,
.map-fullscreen #map-left-menu,
.map-fullscreen #ar-map-zoomcontrol {
  top: 60px;
}

#map-right-menu.toggled, #map-left-menu.toggled {
  bottom:10px;
  overflow-y:auto;
}

.ar-map-zoomcontrol-box {
  border: 1px solid #e3e3e3;
  padding: 4px 10px 4px 10px;
  font-weight: bold;
  cursor: pointer;
}