.map-fullscreen {
  //position: fixed;
  //padding-left: 115px;
  //right: 15px;
  //bottom: 0;
  //top: 40px;
  height: 100%;
  //padding-bottom: 50px;
}

.map-fullscreen #map {
  position: fixed;
  padding-left: 115px;
  right: 0;
  bottom: 0;
  top: 50px;
  height: 100%;
  padding-bottom: 50px;
}

#map.fullscreencol {
  overflow-y: hidden;
}

.con10t-page #map {
  height: 250px;
}

#map img {
  padding: 0;
}

#ar-map-zoomcontrol {
  left: 0;
  text-align: center;
}

.map-fullscreen #menu {
  bottom: 0;
  left: 0;
  overflow-y:auto;
  top: 0;
  text-align: left;
  padding-right: 30px;
  z-index:500;
}

.ar-map-zoomcontrol-box {
  border: 1px solid #e3e3e3;
  padding: 4px 10px 4px 10px;
  font-weight: bold;
  cursor: pointer;
}

.map-fullscreen #gradientBar {
  width: 100%;
  height: 15px;
  background: -webkit-linear-gradient(left, #C7EBAB , yellow, #EA512D);
  background: -o-linear-gradient(left, #C7EBAB , yellow, #EA512D);
  background: -moz-linear-gradient(left, #C7EBAB , yellow, #EA512D);
  background: linear-gradient(to right, #C7EBAB , yellow, #EA512D);
}

.row.map-nav {
  margin-top: 0;
  position: relative;
  z-index: 1;
  pointer-events: none; /* to enable mapp zoom */
}

.row.map-nav > div {
  padding-left: 26px; /* temporary until maps buttons are in top right corner */
  z-index: 1;
  pointer-events: auto
}

.row.map-nav .btn-toolbar > .btn-group,
.row.map-nav .btn-toolbar > .btn {
  box-shadow: 0 1px 5px rgba(0,0,0,.45);
  border-radius: 3px;
}

