.threedviewer {
	overflow       : hidden;
	padding        : 0;
	margin		   : 0;
	color          : #FFFFFF;
	position       : absolute;
	top            : $navbar-height;
	bottom         : 0;
	right          : 0;
	left           : 0;
	background     : -webkit-linear-gradient(darkblue, lightblue); /* For Safari */
    background     : -o-linear-gradient(darkblue, lightblue); /* For Opera 11.1 to 12.0 */
    background     : -moz-linear-gradient(darkblue, lightblue); /* For Firefox 3.6 to 15 */
    background     : linear-gradient(darkblue, lightblue); /* Standard syntax */
}

.threedviewer #info .top {
	position	: absolute;
	top		    : 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
	color       : whitesmoke;
	font-family : 'Source Sans Pro',sans-serif; 
	font-size   : 25px;
	text-shadow : -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000, 3px 3px 3px #0c0c0c;
}

.threedviewer #info .topLeft {
	position           : absolute;
	top                : 0px;
	left               : -500px;
	padding            : 4px;
	color              : #FFFFFF;
	text-align         : left;
	font-family        : 'Source Sans Pro',sans-serif;
	font-size          : 18px;
	background-color   : rgba(26,26,26,0.7);
	box-shadow: 3px 3px 3px #0c0c0c; 
}

.threedviewer #info .topRight {
	position: fixed;
    top: $navbar-height;
    right: 0;
}

.threedviewer #info .bottomRight {
	position           : absolute;
	bottom             : 0px;
	right              : -450px;
	padding            : 4px;
	color              : #FFFFFF;
	text-align         : center;
	font-family        : 'Source Sans Pro',sans-serif;
	font-size          : 13px;
	font-weight        : bold;
	background-color   : rgba(26,26,26,0.7);
	box-shadow: -3px -3px 3px #0c0c0c;
}

.threedviewer #fileElem {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -5000px;
}

.threedviewer a:link {
    text-decoration : none;
    font-weight     : bold;
    color           : #CEB39C;
}
.threedviewer a:visited {
    text-decoration : none;
    font-weight     : bold;
    color           : #CEB39C;
}
.threedviewer a:hover {
    text-decoration : underline;
    font-weight     : bold;
    color           : #CEB39C;
}
.threedviewer a:active {
    text-decoration : none;
    font-weight     : bold;
    color           : #CEB39C;
}

div.dg.main.a {
	margin-top: $navbar-height;
}