.welcome-page {

	.bar {
		margin: 0 -30px;
		background-color: #efefef;
	}

	.line-right {
		border-right: 1px solid $navbar-default-bg;
	}

	.project-chevron:hover {
	  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
	}

}