<div class="row fullscreenrow">

		<div threedimensional id="3dcontainer" style="position: absolute; top:0px; left:0px; right: 0px; background: linear-gradient(to top, #1e5799 0%,#7db9e8 100%);">

		</div>
	    <!-- <div id="loader" style="position: absolute; top: 50%; left: 50%; margin:-40px 0 0 -40px;"></div> -->
	    <div class="loading" style="display:none"></div>
	    <!-- info on screen display -->
		
		<!--<form>
	        <input type="file" id="fileElem" onchange="onFileChange(this.files)">
	    </form> -->

	    <div class="btn-group-vertical" id="3dControls" style="opacity:0.8; position:absolute; right:10px; top: 60px;">
			
			<button class="btn btn-default btn-sm" id="controlMode" value="0"><span class="glyphicon glyphicon-retweet"></span> Flug-Steuerung</button>

			<button class="btn btn-info btn-sm">Hilfe und Informationen</button>

		</btn>


</div>



<!-- <div id="info" style="text-align:center;">
			<div class="top" id="title"></div>
			<div class="topLeft" id="data"></div>
			<div class="bottomRight" id="help"></div>
		</div> -->

