<div class="threedviewer" ng-controller="ThreeDimensionalController">

	<!-- three.js container -->
	<div three-d-viewer id="3d-container"></div>

	<div id="loader" style="position: absolute; top: 50%; left: 50%; margin:-40px 0 0 -40px;">
		<div id="progress" style="positition: bottom; text-align: center"></div>
	</div>

	<!-- info on screen display -->
	<div id="info" style="text-align:center; top:50px;">
		<div class="top" id="title"></div>
		<div class="topLeft" id="data"></div>
		<div class="topRight" id="gui"></div>
		<div class="bottomRight" id="help"></div>
	</div>

</div>

