<div ng-controller="AllCategoriesController as allCategoriesController" autoscroll="true">
	<div class="row" style="background-color:white" id="categories_container">
		<div  style="width: 80%; max-width:900px; margin: 170px auto; margin-top: 0px;">
			<h2 style="font-weight:300; margin:0px 0px 50px; text-align:center">
				<a href="allCategories" style="outline: none;">Alle Kategorien in Arachne:</a>
			</h2>
			<div ar-imagegrid
				cells="category.categoryStart"
				columns="3"
				margin="4">					
			</div>
			<div ar-imagegrid
				cells="category.subCategories"
				columns="3"
				margin="4">					
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style=" margin-top: 30px; margin-bottom:30px">
			<p>
				<img src="img/siegel_unikoeln.gif" height="80px"></img>
				<img src="img/Siegel-DAI.gif" height="80px"></img>
			</p>
			<p class="small">Copyright Arachne © 2014 | <a href="impressum">Impressum</a> | <a href="datenschutz">Datenschutz</a> | Fehlermeldungen bitte an <a href="mailto:arachne@uni-koeln.de">arachne@uni-koeln.de</a></p>
		</div>
	</div>
</div>