<div ng-controller="AllCategoriesController as allCategoriesController" autoscroll="true">
	<div class="row" style="background-color:white" id="categories_container">
		<div  style="width: 80%; max-width:900px; margin: 170px auto; margin-top: 0px;">
			<h2 style="font-weight:300; margin:0px 0px 50px; text-align:center">
				<a href="allCategories" style="outline: none;">Alle Kategorien in Arachne:</a>
			</h2>
			<div ar-imagegrid
				cells="category.categoryStart"
				columns="3"
				margin="4">					
			</div>
			<div ar-imagegrid
				cells="category.subCategories"
				columns="3"
				margin="4">					
			</div>
		</div>
	</div>
</div>