<div ng-controller="AllCategoriesController as allCategoriesController" autoscroll="true">
	
	<div class="row text-center">
		<h3>Alle Kategorien:</h3>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-12" ng-repeat="start in category.categoryStart"  class="list-group">
				<div class="panel panel-default">
					<div class="panel-heading">
					    <a href="{{category.categoryStart[$index].href}}"><h3 class="panel-title">{{category.categoryStart[$index].title}}</h3></a>
					</div>
					<div class="panel-body">
						<div class="row" >
							<div class="col-md-3">
								<a href="{{category.categoryStart[$index].href}}"><img style="height:70px;" src="{{category.categoryStart[$index].imgUri}}"></img></a>
							</div>
							<div class="col-md-9">
								<a href="{{category.categoryStart[$index].href}}">{{category.categoryStart[$index].subtitle}}</a>
							</div>
					   </div>
					</div>
				</div>
			</div>
			<div class="col-md-12" ng-repeat="subCat in category.subCategories" class="list-group" style="height:220px;">
				<div class="panel panel-default">
					<div class="panel-heading">
					   <a href="{{subCat.href}}"> <h3 class="panel-title">{{subCat.title}}</h3></a>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<a href="{{subCat.href}}"><img style="height:70px;" src="img/subCategories/{{subCat.title}}.jpeg"></img></a>
							</div>
							<div class="col-md-9">
								<a href="{{subCat.href}}">{{subCat.subtitle}}</a>
							</div>
					   </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style=" margin-top: 30px; margin-bottom:30px">
			<p>
				<img src="img/siegel_unikoeln.gif" height="80px"></img>
				<img src="img/Siegel-DAI.gif" height="80px"></img>
			</p>
			<p class="small">Copyright Arachne © 2014 | <a href="impressum">Impressum</a> | <a href="datenschutz">Datenschutz</a> | Fehlermeldungen bitte an <a href="mailto:arachne@uni-koeln.de">arachne@uni-koeln.de</a></p>
		</div>
	</div>
</div>