<div ng-controller="BookmarksController as bookmarksController">
	<div  ng-if="!user.username" class="col-md-12 text-right alert alert-info">
		Für Notizen und Lesezeichen, bitte anmelden <span class="glyphicon glyphicon-share-alt" style="-webkit-transform:rotate(90deg) scaleX(-1); transform:rotate(90deg) scaleX(-1); margin: 0 35px; font-size: 20px;"></span>
	</div>
	<div class="col-md-7" ng-if="user.username">
		<div class="page-header">
			<button type="button" class="btn btn-link pull-right" ng-click="createBookmarksListModal()">Neue Liste anlegen</button>
			<h3><span style="color: rgb(66,139,202); margin-right:10px" class="glyphicon glyphicon-inbox"> </span> Ihre Notizen & Lesezeichen</h3>

		</div>
		<div ng-if="bookmarksLists.length == 0">
			Keine Liste vorhanden. Legen Sie doch eine an.
		</div>
		<accordion class="accordion-with-list" ng-repeat="bookmarksList in bookmarksLists" >
			<accordion-group  is-open="false">
		    	<accordion-heading>
	    			{{ bookmarksList.name }}<small> {{ bookmarksList.commentary }} </small> <button type="button" class="btn btn-xs btn-link" ng-click="deleteBookmarksListModal(bookmarksList.id, bookmarksList.name)">löschen</button><span class="badge pull-right">{{bookmarksList.bookmarks.length}}</span>
		    	</accordion-heading>
		    	<div ng-if="bookmarksList.bookmarks.length == 0"  class="list-group-item clearfix">
		    		In dieser Liste sind noch keine Noitzen vorhanen.
		    	</div>
	    		<div ng-repeat="bookmark in bookmarksList.bookmarks" class="list-group-item clearfix">
					<div class="row-fluid">
						<div class="btn-group pull-right">
	    					<button type="button" class="btn btn-sm " ng-click="updateBookmarkModal(bookmark.id,bookmark.commentary)"><span class="glyphicon glyphicon-pencil"></span></button>
	    					<button type="button" class="btn btn-sm " ng-click="deleteBookmark(bookmark)"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
		    			<div class="col-md-2 col-xs-2" ng-if="bookmark.thumbnailId">
							<a href="entity/{{ bookmark.arachneEntityId }}/image/{{ bookmark.thumbnailId }}">
								<img width="100%" ng-src="{{dataserviceUri}}/arachnedataservice/image/thumbnail/{{ bookmark.thumbnailId }}"/>
							</a>
						</div>
						<div class="pull-left" ng-if="!bookmark.thumbnailId">
							<img  class="img-thumbnail" width="50" height="50" ng-src="img/imagePlaceholder.png"></img></a>
						</div>
						<div class="col-md-8">
							<a href="entity/{{ bookmark.arachneEntityId }}" class="title small" >{{ bookmark.title }}</a><br>
							<b>Notiz:</b> {{ bookmark.commentary }}
						</div>
					</div>
					
  				</div>
	    	</accordion-group>
	  	</accordion>
	  	
  	</div>
  	<div class="col-md-5"  ng-if="user.username">
		<div class="page-header">
			<button class="btn btn-danger pull-right" ng-click="bookmarksController.logout()">Abmelden &nbsp; <span class="glyphicon glyphicon-log-out"></span></button>
			<h3>Ihr Profil</h3>
		</div>

		<ul class="list-group">
			<li class="list-group-item">
				<small class="text-muted">Nutzername</small> <span class="pull-right">{{user.username}}</span>
			</li>
			<li class="list-group-item">
				<small class="text-muted">Vorname</small> <span class="pull-right">{{user.firstname}}</span>
			</li>
			<li class="list-group-item">
				<small class="text-muted">Nachname</small> <span class="pull-right">{{user.lastname}}</span>
			</li>
		</ul>

	</div>
</div>