<div ng-controller="BookmarksController as bookmarksController">
	<div  ng-if="!user.username" class="col-md-12 text-right alert alert-info">
		Für Notizen bitte anmelden <span class="glyphicon glyphicon-share-alt" style="-webkit-transform:rotate(90deg) scaleX(-1); transform:rotate(90deg) scaleX(-1); margin: 0 35px; font-size: 20px;"></span>
	</div>
	<div class="col-md-8 col-md-offset-2" ng-if="user.username">
		<div class="page-header">
			<button type="button" class="btn btn-link pull-right" ng-click="createBookmarksList()">
				<span class="glyphicon glyphicon-plus"></span> Neues Notizbuch anlegen 
			</button>
			<h3><span style="color: rgb(66,139,202); margin-right:10px" class="glyphicon glyphicon-inbox"> </span> Ihre  Notizen</h3>

			<div class="text-right">
				<small class="text-muted">Sortierung:</small>
				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-sm btn-default dropdown-toggle">
						<span ng-show="sort">{{ sort }}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ng-click="sortList('id')">
								Éntity-ID
							</a>
						</li>
						<li>
							<a ng-click="sortList('title')">
								Titel
							</a>
						</li>
						<li>
							<a ng-click="sortList('subTitle')">
								Untertitel
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-if="bookmarksLists.length == 0">
			Kein Notizbuch vorhanden.
		</div>
		<accordion class="accordion-with-list" ng-repeat="bookmarksList in bookmarksLists" >

			<accordion-group heading="{{ bookmarksList.name }}">
		    	<div class="list-group-item">
					<div class="btn-group pull-right">
    					<a type="button" class="btn btn-sm btn-link" ng-href="search/{{bookmarksList.query.toString()}}"><span class="glyphicon glyphicon-search"></span></a>
    					<button type="button" class="btn btn-sm btn-link" ng-click="updateBookmarksList(bookmarksList.id)"><span class="glyphicon glyphicon-pencil"></span></button>
    					<button type="button" class="btn btn-sm btn-link" ng-click="deleteBookmarksList(bookmarksList.id)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
		    		<small ng-if="bookmarksList.commentary">Kommentar:</small><br>
		    		{{ bookmarksList.commentary }}
		    	</div>

		    	<div ng-if="bookmarksList.bookmarks.length == 0"  class="list-group-item clearfix">
		    		In diesem Notizbuch sind noch keine Notizen vorhanden.
		    	</div>

	    		<div ng-repeat="bookmark in bookmarksList.bookmarks | orderBy:id " class="list-group-item clearfix">
					<div class="row-fluid">
						<div class="btn-group pull-right">
	    					<button type="button" class="btn btn-sm btn-link" ng-click="updateBookmark(bookmark)"><span class="glyphicon glyphicon-pencil"></span></button>
	    					<button type="button" class="btn btn-sm btn-link" ng-click="deleteBookmark(bookmark)"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
		    			<div class="col-md-2 col-xs-2">
							<a ng-if="bookmark.thumbnailId" href="entity/{{ bookmark.arachneEntityId }}">
								<img ar-img img-id="{{ bookmark.thumbnailId }}" img-width="100" />
							</a>
							<img ng-if="!bookmark.thumbnailId" width="100" height="100" ng-src="img/imagePlaceholder.png"></img></a>
						</div>
						<div class="col-md-8">
							<a href="entity/{{ bookmark.arachneEntityId }}" ng-if="bookmark.title.length > 0" class="title" >{{ bookmark.title }}</a>
							<a href="entity/{{ bookmark.arachneEntityId }}" ng-if="bookmark.title.length == 0" class="title" >Objekt der Kategorie: {{ bookmark.type }}</a>
							<br>							
		    				<small ng-if="bookmark.commentary">Kommentar:<br></small> {{ bookmark.commentary }}
						</div>
					</div>
					
  				</div>
	    	</accordion-group>

	  	</accordion>
	  	
  	</div>

</div>