<div ng-controller="BookmarksController as bookmarksController">
	<script type="text/ng-template" id="createBookmarksList.html">
		<div class="modal-header">
			<h4 class="modal-title"><img src="img/arachnelogo.png" style="height: 36px; opacity: 0.43; width: 36px;"></img>Neue Liste anlegen:
			</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<input type="name" class="form-control" ng-model="name" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="commentary" class="form-control" ng-model="commentary" placeholder="commentary">
			</div>
			<div class="modal-footer">
            	<button class="btn btn-primary" ng-click="$close(name, commentary)">OK</button>
            	<button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        	</div>
		</div>
	</script> 
	<script type="text/ng-template" id="updateBookmarkModal.html">
		<div class="modal-header">
			<h4 class="modal-title"><img src="img/arachnelogo.png" style="height: 36px; opacity: 0.43; width: 36px;"></img>Neuen Kommentar eingeben:
			</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<input type="commentary" class="form-control" ng-model="commentary" placeholder="commentary">
			</div>
			<div class="modal-footer">
            	<button class="btn btn-primary" ng-click="$close(commentary)">OK</button>
            	<button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        	</div>
		</div>
	</script> 

	<div ng-if="bmStatus == 404">
		<p>keine Liste vorhanden, bitte eine erstellen!</p>
	</div>

	<div ng-if="bmStatus == 403">
		<p>Bitte erst einloggen!</p>
	</div>
	<div class="col-md-6" ng-if="bmStatus == 0 || bmStatus == 404">
		<div class="page-header">
			<button type="button" class="btn btn-link pull-right" ng-click="createBookmarksListModal()">Neue Liste anlegen</button>
			<h3 class="capitalized">Ihre Notizen & Lesezeichen</h3>

		</div>
		<accordion ng-repeat="bookmarksList in bookmarksLists" >
			<accordion-group  is-open="false">
	    	<accordion-heading>
	    			<h4  class="capitalized">{{ bookmarksList.name }} <small>{{ bookmarksList.commentary }} </small><button type="button" class="btn btn-default pull-right" ng-click="deleteBookmarksList(bookmarksList.id)"><span class="glyphicon glyphicon-trash"></button></h4>
	    	</accordion-heading>
	    		<div ng-repeat="bookmarks in bookmarksList.bookmarks"class="list-group-item clearfix">
	    					<a href="../frontend/entity/{{bookmarks.arachneEntityId }}" class="title" class="capitalized">{{ bookmarks.arachneEntityId }}</a>
	    					{{ bookmarks.commentary }} 
	    					<button type="button" class="btn btn-sm pull-right" ng-click="deleteBookmark(bookmarks.id)"><span class="glyphicon glyphicon-trash"></span></button>
	    					<button type="button" class="btn btn-sm pull-right" ng-click="updateBookmarkModal(bookmarks.id)"><span class="glyphicon glyphicon-pencil"></span></button>		
  				</div>
	    	</accordion-group>
	  	</accordion>
	  	
  	</div>
  	<div class="col-md-5 col-md-offset-1" ng-if="bmStatus == 0 || bmStatus == 404">
		<div class="page-header">
			
			<h3 class="capitalized">Ihr Profil</h3>
		</div>
	</div>
</div>