<script type="text/ng-template" id="entries_renderer.html">
	
	<div ui-tree-handle class="catalog-entry" ng-class="{ moveable: editable }" ng-init="entry.show = false">

		<a data-nodrag
			ng-class="{
				'glyphicon-file': entry.totalChildren == 0,
				'glyphicon-folder-open': !collapsed && entry.totalChildren > 0,
				'glyphicon-folder-close': collapsed && entry.totalChildren > 0
			}"
			class="glyphicon text-muted"
			style="cursor: pointer; text-decoration: none; margin-right: 5px;"
			ng-click="toggleNode(this, entry)"></a>

        <span class="entry-label">
            {{entry.label}}
        </span>
		
		<span ng-show="editable">
			<a class="edit-btn pull-right"
	                ng-click="removeEntry(this, entry)"
	                uib-tooltip="{{ 'catalog_delete_entry' | transl8 }}"
	                tooltip-append-to-body="true"
	                data-nodrag>
				<span class="glyphicon glyphicon-trash"></span>
			</a>
			<a class="edit-btn pull-right"
	                ng-click="addChild(this, entry)"
	                uib-tooltip="{{ 'catalog_create_entry_child' | transl8 }}"
	                tooltip-append-to-body="true"
	                data-nodrag>
				<span class="glyphicon glyphicon-file"></span>
			</a>
			<a class="edit-btn pull-right"
	                ng-click="editEntry(entry)"
	                uib-tooltip="{{ 'catalog_edit_entry' | transl8 }}"
	                tooltip-append-to-body="true"
	                data-nodrag>
				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</span>

		<div ng-if="entry.text && entry.show" class="well well-sm">
			<span markdown-to-html="entry.text"></span>
		</div>

	</div>

	<ol ng-class="{hidden:collapsed}" ui-tree-nodes ng-model="entry.children">

		<li ng-repeat="entry in entry.children" ui-tree-node collapsed="{{entry.totalChildren > 0}}" ng-include="'entries_renderer.html'"></li>

		<div ng-if="!entry.loading && entry.children.length < entry.totalChildren" class="catalog-entry" style="cursor: pointer;"
			 	ng-click="loadChildren(entry)">
			<a style="display: block;">
				<em ng-if="entry.totalChildren - entry.children.length == 1">
					{{ 'ui_show_more' | transl8 }} ({{entry.totalChildren - entry.children.length}} {{ 'ui_more_entry' | transl8 }})
				</em>
				<em ng-if="entry.totalChildren - entry.children.length > 1">
					{{ 'ui_show_more' | transl8 }} ({{entry.totalChildren - entry.children.length}} {{ 'ui_more_entries' | transl8 }})
				</em>
			</a>
		</div>
	</ol>

	<div ng-show="entry.loading">
		<div class="loading"></div>
	</div>

</script>

<div class="row" ng-controller="CatalogController">

	<div ng-hide="catalog">
		<div class="loading"></div>
	</div>

	<div class="col-md-5 catalog-edit" ng-show="catalog">

		<h3 class="page-header">
			<strong>{{catalog.root.label}}</strong> <small>{{ 'catalog_author' | transl8 }}: {{catalog.author}}</small>
			
			<div ng-show="editable" class="btn-group btn-group-sm pull-right">
				<button class="btn btn-default" ng-click="editCatalog()"
                        uib-tooltip="{{ 'catalog_edit' | transl8 }}"
                        tooltip-append-to-body="true">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
                <button class="btn btn-default" ng-click="addChild(null, catalog.root)"
                        uib-tooltip="{{ 'catalog_create_entry' | transl8 }}"
                        tooltip-append-to-body="true">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
				<button class="btn btn-default" ng-click="removeCatalog()"
                        uib-tooltip="{{ 'catalog_delete' | transl8 }}"
                        tooltip-append-to-body="true">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>

		</h3>

		<div ng-if="catalog.root.children.length > 0" ui-tree="treeOptions" data-drag-enabled="editable" id="tree-root">
			<ol ui-tree-nodes="nodes" ng-model="catalog.root.children" ng-class="{hidden: collapsed}">
				<li ng-repeat="entry in catalog.root.children"
						ui-tree-node collapsed="{{entry.totalChildren > 0}}"
						ng-include="'entries_renderer.html'">
				</li>

				<div ng-if="!catalog.root.loading && catalog.root.children.length < catalog.root.totalChildren"
					 class="catalog-entry" style="cursor: pointer;" ng-click="loadChildren(catalog.root)">
					<a style="display: block;">
						<em ng-if="catalog.root.totalChildren - catalog.root.children.length == 1">
							{{ 'ui_show_more' | transl8 }} ({{catalog.root.totalChildren -
								catalog.root.children.length}} {{ 'ui_more_entry' | transl8 }})
						</em>
						<em ng-if="catalog.root.totalChildren - catalog.root.children.length > 1">
							{{ 'ui_show_more' | transl8 }} ({{catalog.root.totalChildren -
								catalog.root.children.length}} {{ 'ui_more_entries' | transl8 }})
						</em>
					</a>
				</div>
			</ol>
		</div>

		<div ng-show="editable && catalog.root.children.length == catalog.root.totalChildren" class="catalog-entry"
					style="cursor: pointer;" ng-click="addChild(null, catalog.root)">
			<a style="display: block;">
				<em><span class="glyphicon glyphicon-file"></span> {{ 'catalog_create_entry' | transl8 }}</em>
			</a>
		</div>

	</div>

	<div class="col-md-7">
		<!-- TODO: show catalog text here -->
	</div>

</div>