<div class="row" ng-controller="CatalogsController">

	<div class="col-md-2">
		<h4>{{ 'catalog_your_catalog' | transl8 }}</h4>
        <div>
            <ul>
                <li ng-repeat="catalog in catalogs" ng-class="{ active: activeCatalog.root.id == catalog.root.id }">
                    <a ng-href="catalog/{{catalog.id}}" style="cursor:pointer">
                        {{catalog.root.label}}
                    </a>
                </li>
                <li>
                    <a ng-click="createCatalog()" style="cursor:pointer">
                        <i><span class="glyphicon glyphicon-plus-sign"></span> {{ 'catalog_add' | transl8 }}</i>
                    </a>
                </li>
            </ul>
        </div>
		<div ng-if="catalogs.length == 0">
			<em>{{ 'catalog_no_catalog' | transl8 }}</em>
		</div>
	</div>

</div>