<div class="row" ng-controller="CategoryCtrl">
	<div class="col-md-offset-1 col-md-10 media" style="margin-top:20px;">
		<div class="media-left">
			<a href="" style="cursor:default;">
				<img src="{{ imgUri }}" alt="{{ title }}" class="media-object" style="max-width:420px;">
			</a>
		</div>
		<div class="media-body" style="padding-left:15px;">
			<h1 class="media-heading">
				{{ title }}
			</h1>
			<hr>
			<p>{{ subtitle }}</p>
			<br>
			<form ng-controller="SearchFormCtrl"
					ng-submit="search('facet_kategorie:\'' + title + '\'')"
					class="input-group form-inline"
					role="search">
				<input size="50" type="text" ng-model="q" name="q" class="form-control" placeholder="Suche in dieser Kategorie"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
					</button>
				</span>
			</form>
			<ul class="list-inline text-muted">
				<li ng-show="resultSize">
					Insgesamt
					<b ng-bind="resultSize | number"></b>
					Einträge
				</li>
				<li>
					<a ng-href="search?q=*&fq=facet_kategorie:'{{title}}'">
						<span class="glyphicon glyphicon-search"></span> Alle Anzeigen
					</a>
				</li>
				<li ng-show="mapfacet">
					<a ng-href="map?q=*&fl=2000&fq=facet_kategorie:'{{title}}'&restrict={{mapfacet}}">
						<span class="glyphicon glyphicon-map-marker"></span> Karte
					</a>
				</li>
			</ul>
			<br>
			<p><i>Unten haben Sie die Möglichkeit, nach kategoriespezifischen Kriterien zu browsen.</i></p>
		</div>
	</div>
	<div class="col-md-offset-1 col-md-10">
		<div class="page-header">
			<h2 ng-hide="currentQuery.facets.facet_kategorie">Alle Datensätze in Arachne</h2>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div ng-repeat="facet in facets" class="panel panel-default facet" ng-if="$index % 2 == 0">
					<div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
						<h5 class="panel-title">
							<span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
							<span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>	
							&nbsp;{{facet.name | transl8 }}
						</h5>
					</div>
					<ul class="list-unstyled facet"	ng-show="facet.open">
						<li ng-repeat="facetValue in facet.values">
							<small>
								<a ng-href="search/{{currentQuery.addFacet(facet.name,facetValue.value).removeParam('offset').toString()}}">
									<b class="pull-right text-muted">{{facetValue.count | number}}</b>
									{{facetValue.value | stripCoords}}
								</a>
							</small>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div ng-repeat="facet in facets" class="panel panel-default facet" ng-if="$index % 2 == 1">
					<div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
						<h5 class="panel-title">
							<span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
							<span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>	
							&nbsp;{{facet.name | transl8 }}
						</h5>
					</div>
					<ul class="list-unstyled facet"	ng-show="facet.open">
						<li ng-repeat="facetValue in facet.values">
							<small>
								<a ng-href="search/{{currentQuery.addFacet(facet.name,facetValue.value).removeParam('offset').toString()}}">
									<b class="pull-right text-muted">{{facetValue.count | number}}</b>
									{{facetValue.value | stripCoords}}
								</a>
							</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>
