<div ng-controller="SearchCtrl as searchCtrl">
	<div class="row fullscreenrow">
   		<div ng-hide="searchresults.markers" class="loading"></div>
        <div ng-if="searchresults.markers" class="col-md-12 halfscreenMap" map id="map"></div>

	</div>
	<div class="row" ng-if="searchresults.markers">
		<div class="col-md-6 col-md-offset-1">
			<div class="page-header">
				<h2 ng-repeat="facet in activeFacets" ng-if="facet.name == 'facet_kategorie'" class="capitalized">{{ facet.value }} <small> Arachne-Kategorie</small></h2>

			</div>

			
			<accordion class="accordion-with-list" close-others="oneAtATime">
				<accordion-group heading="{{facet.name | i18n }}" is-open="false"  ng-if="facet.name!='facet_geo'" ng-repeat="facet in searchresults.facets" >
					<a class="list-group-item"  ng-click="searchCtrl.addFacet(facet.name, facetValue.value)"  ng-repeat="facetValue in facet.values">
						<span class="badge">{{facetValue.count}}</span>
						{{facetValue.value}}
					</a>
			    </accordion-group>
			</accordion>
			
		</div>
		<div class="col-md-3 col-md-offset-1 well well-sm" style="margin-top:-40px">
			
			<a href="search/?q={{currentQueryParameters.q}}&fq={{currentQueryParameters.fq}}" type="button" class="btn btn-primary btn-lg btn-block">Ausgewählte Objekte &nbsp; <i class="glyphicon glyphicon-arrow-right"> </i></a>
			
			<hr>
			<h4>Aktive Filter <small> Anlicken zum entfernen.</small></h4>
			<ul class="list-group">
				<li class="list-group-item linethrough-hover" ng-click="searchCtrl.removeFacet(facet)" ng-repeat="facet in activeFacets" style="margin-right:2px">
					<i>{{facet.name | i18n}}</i> <b style="text-transform:capitalize;">{{facet.value}}</b> <i class="glyphicon glyphicon-remove-circle pull-right"></i>
				</li>
			</ul>
			<hr>
			<h4 class="pull-left">Ergebnisse in Arachne</h4>
			<h2 class="pull-right">{{searchresults.size}}</h2>
				
			
		</div>
		<div class="col-md-6">

				

		</div>
	</div>
</div>
