<div ng-controller="SearchCtrl as searchCtrl">
	<div class="col-md-offset-1">
		<div class="row">
			<div class="col-md-4">
		 		<a href="{{ imgUrl }}">
		    		<img src="{{ imgUrl }}" alt="{{ subtitle}}" class="img-responsive pull-left">
		  		</a>
		  	</div>
		  	<div class="col-md-6">
		    	<h2>{{ currentQuery.facets.facet_kategorie }}</h2>
		    	{{ subtitle }}
		    	<br><br><br>
		    	<h4>Ergebnisse in dieser Kategorie:</h4><h2> {{resultSize | number}}</h2>
		  	</div>
		</div>
	</div>
	<div class="row" ng-show="facets">
		<div class="col-md-9 col-md-offset-1">
			<div class="page-header">
				<h2 ng-hide="currentQuery.facets.facet_kategorie">Alle Datensätze in Arachne</h2>
			</div>
			
			<accordion class="accordion-with-list" close-others="oneAtATime">
				<accordion-group heading="{{facet.name | i18n }}" ng-repeat="facet in facets" >
					<a ng-repeat="facetValue in facet.values"
							ng-href="search/{{currentQuery.addFacet(facet.name,facetValue.value).toString()}}"
							class="list-group-item">
						<span class="badge">{{facetValue.count}}</span>
						{{facetValue.value}}
					</a>
			    </accordion-group>
			</accordion>
			
		</div>
	</div>
</div>
