<div class="row" style="margin-top:0px;" ng-controller="DataimportCtrl">
    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>Administration</h2>
    </div>


    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Dataimport:
        </h3>
        <br>
        <button ng-click="fetchData();lastAction='you asked the system to refresh (pending)';lastActionOutcome=undefined;">Refresh</button>
        <abc ng-hide="lastActionOutcome">&nbsp;&nbsp;{{lastAction}}</abc>
        <abc ng-show="lastActionOutcome">&nbsp;&nbsp;{{lastActionOutcome}}</abc>
        <br>
        <br>

        <div ng-hide="backendResponse">No information available at the moment ...</div>


        <div ng-show="backendResponse.status">Dataimport status: {{backendResponse.status}}</div>
        <div ng-show="backendResponse.elapsedTime">Elapsed time: {{backendResponse.elapsedTime}}</div>
        <div ng-show="backendResponse.estimatedTimeRemaining">Estimated time remaining:
            {{backendResponse.estimatedTimeRemaining}}</div>
        <div ng-show="backendResponse.count">Dataimport count: {{backendResponse.count}}</div>
        <div ng-show="backendResponse.indexedDocuments">Indexed documents: {{backendResponse.indexedDocuments}}</div>
        <div ng-show="backendResponse.documentsPerSecond">Documents per second: {{backendResponse.documentsPerSecond}}</div>


        <br>
        <button ng-click="startDataimport();">Start Dataimport</button>
        <button ng-click="stopDataimport();">Stop Dataimport</button>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Cache:
        </h3>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Other:
        </h3>
    </div>
</div>