<div class="row" style="margin-top:0px;" ng-controller="DataimportController">
    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>Administration</h2>
    </div>


    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
		
        <h3>Dataimport:</h3>
        
        <div class="row">

            <div class="col-md-6">
                <span ng-show="lastActionOutcome"><span ng-hide="lastAction">&nbsp;&nbsp;</span>{{lastActionOutcome}}</span>
                <div ng-hide="dataimportInfo">No information available at the moment ...</div>
                <dl class="dl-horizontal">
                    <span id="dataimport_status" ng-show="dataimportInfo.status">
                        <dt>Dataimport status:</dt>
                        <dd>{{dataimportInfo.status}}</dd>
                    </span>
                    <span ng-show="dataimportInfo.elapsedTime">
                        <dt>Elapsed time:</dt>
                        <dd>{{dataimportInfo.elapsedTime}}</dd>
                    </span>
                    <span ng-show="dataimportInfo.estimatedTimeRemaining">
                        <dt>Est. time remaining:</dt>
                        <dd>{{dataimportInfo.estimatedTimeRemaining}}</dd>
                    </span>
                    <span ng-show="dataimportInfo.count">
                        <dt>Total documents:</dt>
                        <dd>{{dataimportInfo.count | number}}</dd>
                    </span>
                    <span ng-show="dataimportInfo.indexedDocuments">
                        <dt>Indexed documents:</dt>
                        <dd>{{dataimportInfo.indexedDocuments | number}}</dd>
                    </span>
                    <span ng-show="dataimportInfo.documentsPerSecond">
                        <dt>Documents per second:</dt>
                        <dd>{{dataimportInfo.documentsPerSecond}}</dd>
                    </span>
                </dl>
            </div>

            <div class="col-md-6">
                <button class="btn btn-primary" ng-click="startDataimport();">
                    <span class="glyphicon glyphicon-play"></span> Start
                </button>
                <button class="btn btn-danger" ng-click="stopDataimport();">
                    <span class="glyphicon glyphicon-stop"></span> Stop
                </button>
                <button class="btn btn-default" ng-click="requestRefresh();">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </button>
                <input type="checkbox" ng-model="constantlyRefresh"> Constantly refresh
            </div>

        </div>

    </div>

</div>