<div class="row" style="margin-top:0px;" ng-controller="DataimportCtrl">
    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>Administration</h2>
    </div>


    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Dataimport:
        </h3>
        <br>
        <button ng-click="requestRefresh();">Refresh</button>
        <abc ng-show="lastAction">&nbsp;&nbsp;{{lastAction}}</abc>
        <abc ng-show="lastActionOutcome"><abc ng-hide="lastAction">&nbsp;&nbsp;</abc>{{lastActionOutcome}}</abc>
        <br>
        <br>

        <div ng-hide="dataimportInfo">No information available at the moment ...</div>


        <div id="dataimport_status" ng-show="dataimportInfo.status">Dataimport status: {{dataimportInfo.status}}</div>
        <div ng-show="dataimportInfo.elapsedTime">Elapsed time: {{dataimportInfo.elapsedTime}}</div>
        <div ng-show="dataimportInfo.estimatedTimeRemaining">Estimated time remaining:
            {{dataimportInfo.estimatedTimeRemaining}}</div>
        <div ng-show="dataimportInfo.count">Dataimport count: {{dataimportInfo.count}}</div>
        <div ng-show="dataimportInfo.indexedDocuments">Indexed documents: {{dataimportInfo.indexedDocuments}}</div>
        <div ng-show="dataimportInfo.documentsPerSecond">Documents per second: {{dataimportInfo.documentsPerSecond}}</div>


        <br>
        <button ng-click="startDataimport();">Start Dataimport</button>
        <button ng-click="stopDataimport();">Stop Dataimport</button>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Cache:
        </h3>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-12 well">
        <h3>Other:
        </h3>
    </div>
</div>