<div ng-controller="EntityImageCtrl">
	<div class="row fullscreenrow">

		<div zoomifyimg ng-if="imageProperties.width"
				entityid="{{imageId}}"
				imageProperties="{{imageProperties}}"
				zoomifyHeight="{{imageProperties.height}}"
				zoomifiyTilesize="{{imageProperties.tilesize}}"
				style="height:100%">
		</div>

		<div ng-if="entity" 
				class="btn-group-vertical"
				style="opacity:0.8; position:absolute; right:10px; top: 60px;">
			<a class="btn btn-default btn-sm" href="entity/{{entity.entityId}}">
				<div style="max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:inherit;" ng-if="entity.title != ''">
					{{entity.title}}<br><i>anzeigen</i>
				</div>
			</a>
			<a class="btn btn-default btn-sm" href="{{dataserviceUri}}/image/{{imageId}}">
				<i class="glyphicon glyphicon-download-alt"></i> Download
			</a>
			<button class="btn btn-default btn-sm" ng-click="entityImgCtrl.openModalForImageEntity()">
				Bild-Metadaten
			</button>
			<button class="btn btn-default btn-sm" ng-click="requestFullscreen()">
				<span class="glyphicon glyphicon-fullscreen"></span> Vollbild
			</button>
			<a ng-if="entity.images.length > 1"
					ng-href="entity/{{entity.entityId}}/images"
					 class="btn btn-default btn-sm ">
				<span class="glyphicon glyphicon-th"></span> Alle Bilder ({{entity.images.length}})
			</a>
		</div>

	</div>
</div>