<div ng-controller="EntityImagesController">
	<div class="row fullscreenrow" style="background-color: #ddd;">

		<div ar-imagegrid
			cells="cells"
			columns="5"
			margin="2"
			hide-title="true">			
		</div>

		<div ng-if="entity" 
				class="btn-group-vertical"
				style="opacity:0.8; position:absolute; right:10px; top: 60px; z-index: 750;">
			<a class="btn btn-default btn-sm" href="entity/{{entity.entityId}}{{currentQuery.toString()}}">
				<div style="max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:inherit;" ng-if="entity.title != ''">
					{{entity.title}}<br><i>anzeigen</i>
				</div>
			</a>
		</div>

	</div>
</div>