<div ng-controller="EntityImageController" id="theimage" class="row fullscreenrow">

	<!-- message for anonymous users -->
	<div ng-if="!allow" class="col-md-12 text-right alert alert-info" style="padding: 5px; border-radius:0; z-index:500;">
		{{ 'entity_resolution_login' | transl8 }}<span class="glyphicon glyphicon-share-alt" style="-webkit-transform:rotate(90deg) scaleX(-1); transform:rotate(90deg) scaleX(-1); margin: 0 125px 0 10px; font-size: 14px;"></span>
	</div>

	<!-- zoomable image viewer for logged in users -->
	<div zoomifyimg ng-if="allow && imageProperties.width"
			entityid="{{imageId}}"
			imageProperties="{{imageProperties}}"
			zoomifyHeight="{{imageProperties.height}}"
			zoomifiyTilesize="{{imageProperties.tilesize}}"
			style="height:100%">
	</div>

	<!-- low res image for anonymous users -->
	<div ng-if="!allow || imageProperties.width" style="height:100%; position:relative; background-color:#ddd;">
		<img ar-img img-id="{{imageId}}" style="position: absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
	</div>

	<!-- toolbox in upper right corner -->
	<div ng-if="entity" 
			class="btn-group-vertical"
			style="opacity:0.8; position:absolute; right:10px; top:90px;">
		<a class="btn btn-default btn-sm" href="entity/{{entity.entityId}}{{currentQuery.toString()}}">
			<div style="max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:inherit;" ng-if="entity.title != ''">
				<span class="glyphicon glyphicon-arrow-left"></span>
				{{ 'entity.image.back_to' | transl8 }}<br>{{entity.title}}<br>
			</div>
		</a>
		<a class="btn btn-default btn-sm"  ng-click="downloadImage()">
			<span class="glyphicon glyphicon-download-alt"></span> {{ 'entity.image.download' | transl8 }}
		</a>
		<a class="btn btn-default btn-sm" ng-href="entity/{{imageId}}" ng-hide="entity.type == 'Bilder'">
			<span class="glyphicon glyphicon-list"></span> {{ 'entity.image.metadata' | transl8 }}
		</a>
		<button class="btn btn-default btn-sm" ng-click="requestFullscreen()">
			<span class="glyphicon glyphicon-fullscreen"></span> {{ 'entity.image.fullscreen' | transl8 }}
		</button>
		<a ng-if="entity.images.length > 1"
				ng-href="entity/{{entity.entityId}}/images"
				 class="btn btn-default btn-sm ">
			<span class="glyphicon glyphicon-th"></span> {{ 'entity.image.all_images' | transl8 }} ({{entity.images.length}})
		</a>
	</div>

	<!-- paging -->
	<div ng-if="entity.images"
			style="opacity:0.8; position:absolute; bottom:10px; left:50%; margin-left:-80px">

		<a ng-if="imageIndex == 0"
				class="btn btn-link disabled"
				style="font-size:30px">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</a>

		<a ng-if="imageIndex > 0"
				ng-href="entity/{{entity.entityId}}/image/{{entity.images[imageIndex-1].imageId}}{{currentQuery.toString()}}"
				class="btn btn-link"
				style="font-size:30px">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</a>

		<a ng-if="entity.images.length > 1"
				 ng-href="entity/{{entity.entityId}}/images{{currentQuery.toString()}}"
				 class="btn btn-primary btn-sm badge">
			<span class="glyphicon glyphicon-th"></span> {{imageIndex+1}}/{{entity.images.length}}
		</a>

		<a ng-if="imageIndex >= (entity.images.length - 1)"
				class="btn btn-link disabled"
				style="font-size:30px">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
		</a>

		<a ng-if="imageIndex < (entity.images.length - 1)"
				ng-href="entity/{{entity.entityId}}/image/{{entity.images[imageIndex+1].imageId}}{{currentQuery.toString()}}"
				class="btn btn-link" style="font-size:30px">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
		</a>

	</div>

</div>