<script type="text/ng-template" id="sections_template.html">

	<div ng-if="!entity.sections">
		<em>{{'entity_no_further_info'|transl8}}</em>
	</div>
	<div class="sections"
			ng-repeat="section in entity.sections"
			ng-include="'section_template.html'">
	</div>

	<br>
	<!-- Editor Section -->
	<div class="sections" ng-if="entity.editorSection">
		<li ng-if="!entity.editorSection.value" ng-class="{'thumbnail' : entity.editorSection.contextEntity}" style="list-style-type:none;">
		<b ng-if="entity.editorSection.label">{{entity.editorSection.label}}</b>
			<ul ng-repeat="section in (entity.editorSection.content || entity.editorSection.contextEntity)" ng-include="'section_template.html'"></ul>
		</li>

		<li ng-if="entity.editorSection.value" ng-switch="isArray(entity.editorSection.value)" style="list-style-type:none;">
			<span ng-switch-when="false" ng-bind-html="entity.editorSection.value | nl2br"></span>
			<div ng-switch-when="true">
				<div class="section-item" ng-repeat="valueItem in entity.editorSection.value track by $index" ng-bind-html="valueItem | nl2br"></div>
			</div>
		</li>
	</div>

	<div ng-if="entity.additionalContent.ocrText">
		<div class="page-header"><h4>OCR Text {{'entity_analysis'|transl8}}</h4></div>
		<ul>{{entity.additionalContent.ocrText}}</ul>
	</div>

</script>

<script type="text/ng-template" id="section_template.html">

	<li ng-if="!section.value" ng-class="{'thumbnail' : section.contextEntity}" style="list-style-type:none;">
		<b ng-if="section.label">{{section.label}}</b>
		<ul ng-repeat="section in (section.content || section.contextEntity)" ng-include="'section_template.html'"></ul>
	</li>

	<li ng-if="section.value" ng-switch="isArray(section.value)" style="list-style-type:none;">
		<span ng-switch-when="false" ng-bind-html="section.value | nl2br"></span>
		<div ng-switch-when="true">
			<div class="section-item" ng-repeat="valueItem in section.value track by $index" ng-bind-html="valueItem | nl2br"></div>
		</div>
	</li>

</script>

<div ng-cloak class="row"  ng-controller="EntityController">

	<div ng-hide="entity.entityId || error" class="loading"></div>

	<div class="col-md-3" ng-show="entity.entityId">

		<!-- CURRENT QUERY STATUS -->
		<div class="row"><div class="col-md-12">

			<div ng-if="resultSize">

				<div ng-if="currentQuery.q" class="panel panel-default">

					<div class="panel-heading">

						<a ng-href="search{{currentQuery.removeParam('resultIndex').removeParam('offset').toString()}}"
								class="btn btn-xs pull-right btn-primary">
							<span class="glyphicon glyphicon-arrow-left"></span> {{"ui_to_search_result"|transl8}}
						</a>

						<div>
							<b class="text-muted uppercase small">{{"ui_current_query"|transl8}}</b><br>
							<span ng-if="!currentQuery.label">{{currentQuery.q}}</span>
							<i ng-if="currentQuery.label">{{currentQuery.label}}</i>
						</div>

						<div ng-if="currentQuery.hasFacets()">
							<b class="text-muted uppercase small">{{"entity_active_filters"|transl8}}</b>
							<ul>
								<li ng-repeat="facet in currentQuery.facets">
									<small>
										<i>{{facet.key | transl8}}</i>
										<b style="text-transform:capitalize;"> &nbsp; {{facet.value}}</b>
									</small>
								</li>
							</ul>
						</div>

					</div>

					<ul class="list-group">

						<a ng-if="prevEntity"
								ng-href="entity/{{prevEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex-1).toString()}}"
								class="list-group-item"
								style="height:75px; overflow:hidden">
							<div>
								<b class="text-muted uppercase small">
									<span class="glyphicon glyphicon-chevron-left" style="color:black" ></span>
									&nbsp; {{"entity_previous_result"|transl8}}
								</b>
							</div>
							<div ar-entity-title entity="prevEntity"></div>
							
						</a>

						<li class="list-group-item" ng-hide="nextEntitySearch.size < 2" >
							<b class="text-muted uppercase small">{{"entity_shown_result"|transl8}}</b>
							<form ng-submit="go('/entity/' + currentQuery.setParam('resultIndex',resultIndexInput).toString())">
								<div class="input-group"
										ng-class="{'has-error':(resultIndexInput < 1 || resultIndexInput > resultSize)}">
							    	<input ng-model="resultIndexInput"
							    			type="number" size="4"
							    			min="1" max="{{resultSize}}" class="form-control input-sm">
							    	<span ng-if="resultIndex == resultIndexInput" class="input-group-addon" style="border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:0;"><small>von</small> <strong>{{resultSize|number}}</strong></span>
							    	<span ng-hide="resultIndex == resultIndexInput" class="input-group-btn">
							    		<button class="btn btn-primary btn-sm" ng-click="go('/entity/' + currentQuery.setParam('resultIndex',resultIndexInput).toString())">Springe</button>
							    	</span>
							    </div>
							</form>
						</li>

						<a ng-if="nextEntity"
								ng-href="entity/{{nextEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex+1).toString()}}"
								class="list-group-item text-right"
								style="height:75px; overflow:hidden">
							<div>
								<b class="text-muted uppercase small">
									&nbsp; {{"entity_next_result"|transl8}}
									<span class="glyphicon glyphicon-chevron-right" style="color:black" ></span>
								</b>
							</div>
							<div ar-entity-title entity="nextEntity"></div>
							
						</a>

					</ul>

				</div>

			</div>

		</div></div>

		<!-- END CURRENT QUERY STATUS -->

		<!-- Karte -->
    	<div ng-if="entity.places">    		
			<h5 class="text-muted uppercase"><strong>{{'entity_places'|transl8}}</strong></h5>
        	<div class="well" entitymap places="entity.places" id="entitymap" style="height:200px;"></div>
    	</div>

		<!-- NOTES -->
		<div ng-if="user.username">
			<h5 class="text-muted uppercase"><strong>{{'entity_catalogs'|transl8}}</strong></h5>
			<button type="button" class="btn btn-default btn-sm" ng-click="createEntry()">
				<span class="glyphicon glyphicon-pushpin"></span> {{'entity_create_entry'|transl8}}
			</button>
		</div>
		<!-- END NOTES -->

	</div>

	<div ng-show="entity.entityId" class="col-md-9">

		<div class="row">

			<div class="col-md-8">
				<h2 class="page-title">
					<div class="title">
						{{ entity.title }} <span ng-if="!entity.title" class="capitalized">{{entity.type}}</span>
					</div>
					<div class="subtitle"><small>{{ entity.subtitle }}</small></div>
				</h2>
				<div>
					<small>
						<a ng-href="{{ serverUri }}entity/{{entity.entityId}}">
							arachne.dainst.org/entity/{{entity.entityId}}
						</a>
					</small>
				</div>
			</div>

			<div class="col-md-4">
				<table class="table table-condensed" style="margin-bottom:0">
					<thead>
						<tr>
							<td><b>{{ 'entityId' | transl8 }}:</b></td>
							<td>{{ entity.entityId }}</td>
						</tr>
					</thead>
					<tr>
						<td><b>{{'ui_category'|transl8}}:</b></td>
						<td>{{ categories[entity.type]["singular"] }}</td>
					</tr>
					<tr>
						<td><b>{{'ui_serial_number'|transl8}}:</b></td>
						<td>{{ entity.internalId }}</td>
					</tr>
				</table>
			</div>

		</div>

		<hr>

		<div class="row">

			<!-- CONTENT SECTION -->
			<div class="col-md-8">

				<tabset ng-if="catalogEntries.length > 0">
					<tab ng-if="!entity.sections" heading="{{'entity_no_further_info'|transl8}}" select="updateCatalogEntryParameter()">
						<div ng-if="!entity.sections">
							<em>{{'entity_no_further_info'|transl8}}</em>
						</div>
					</tab>
					<tab ng-if="entity.sections" heading="{{entity.sections[0].label}}" select="updateCatalogEntryParameter()">
						<div ng-include="'sections_template.html'"></div>
					</tab>
					<tab ng-repeat="catalogEntry in catalogEntries" heading="{{catalogEntry.catalogLabel}}" active="catalogEntry.active" select="updateCatalogEntryParameter(catalogEntry)">
						<div class="sections">
							<li><b>{{catalogEntry.label}}</b></li><br>
							<em>{{'entity_catalog_info'|transl8}} </em><a ng-href="catalog/{{catalogEntry.catalogId}}">{{catalogEntry.catalogLabel}}</a> <em>.</em><br>
							<em>{{'catalog_author'|transl8}}: </em>{{catalogEntry.author}}<br>
						</div>	
						<br>
						<span markdown-to-html="catalogEntry.text"></span>
					</tab>
				</tabset>

				<div ng-if="catalogEntries.length == 0" ng-include="'sections_template.html'"></div>

			</div>
			<!-- END CONTENT SECTION -->

			<!-- CONTEXT & IMAGE SECTION -->
			<div class="col-md-4">

				<h3 ng-if="entity.images.length > 1">
					<a ng-href="entity/{{entity.entityId}}/images{{currentQuery.toString()}}">
						{{'entity_images'|transl8}} <small>({{entity.images.length}})</small>
					</a>
				</h3>
				<h3 ng-if="entity.images.length == 1">{{'entity_image'|transl8}}</h3>
				<div ar-imageslider ng-if="entity.images" entity="entity" current-query="currentQuery"></div>

				<div ng-if="entity.externalLinks">
					<h3>{{'entity_other_views'|transl8}}</h3>
					<div class="list-group">
						<a ng-repeat="externalLink in entity.externalLinks"
								ng-href="{{ externalLink.url }}"
								type="button"
								class="list-group-item"
								target="_blank">
							<span class="glyphicon glyphicon-new-window pull-right"></span>
							{{externalLink.label}}
						</a>
					</div>
				</div>
				
				<div ng-show="contextSize">						
					<h3>
						<a ng-href="search{{contextQuery.toString()}}">
							{{'entity_linked_objects'|transl8}}
							<small>({{contextSize}})</small>
						</a>
					</h3>
					<div ar-facet-browser
							query="contextQuery"
							facet-name="facet_kategorie"
							context-size="contextSize">
					</div>
				</div>

			</div>
			<!-- END CONTEXT & IMAGE SECTION -->

		</div>
			
	</div>
	
</div>
