<script type="text/ng-template" id="section_template.html">

	<li ng-if="!section.value" ng-class="{'thumbnail' : section.contextEntity}">
		<b ng-if="section.label">{{section.label}}</b>
		<ul ng-repeat="section in (section.content || section.contextEntity)" ng-include="'section_template.html'"></ul>
	</li>

	<li ng-if="section.value" ng-switch="isArray(section.value)">
		<span ng-switch-when="false" ng-bind-html="section.value | nl2br"></span>
		<div ng-switch-when="true">
			<div class="section-item" ng-repeat="valueItem in section.value track by $index" ng-bind-html="valueItem | nl2br"></div>
		</div>
	</li>

</script>

<div ng-cloak class="row"  ng-controller="EntityCtrl">

	<div ng-hide="entity.entityId || error" class="loading"></div>

	<div class="col-md-3" ng-show="entity.entityId">

		<!-- CURRENT QUERY STATUS -->
		<div ng-if="resultSize">

			<h5 ng-if="currentQuery.q" class="text-muted">
				<strong class="uppercase">Aktuelle Suche</strong>
			</h5>

			<div ng-if="currentQuery.q" class="panel panel-default">

				<div class="panel-heading">

					<a ng-href="search{{currentQuery.removeParam('resultIndex').removeParam('offset').toString()}}"
							class="btn btn-xs pull-right btn-primary">
						<span class="glyphicon glyphicon-arrow-left"></span> zum Suchergebnis
					</a>

					<div>
						<b class="text-muted uppercase small">Aktuelle Suche</b><br>
						<span ng-if="!currentQuery.label">{{currentQuery.q}}</span>
						<i ng-if="currentQuery.label">{{currentQuery.label}}</i>
					</div>

					<div ng-if="currentQuery.hasFacets()">
						<b class="text-muted uppercase small">Aktive Filter</b>
						<ul>
							<li ng-repeat="(facetName,facetValue) in currentQuery.facets">
								<small>
									<i>{{facetName | i18n}}</i>
									<b style="text-transform:capitalize;"> &nbsp; {{facetValue}}</b>
								</small>
							</li>
						</ul>
					</div>

				</div>

				<ul class="list-group">

					<a ng-if="prevEntity"
							ng-href="entity/{{prevEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex-1).toString()}}"
							class="list-group-item"
							style="height:75px; overflow:hidden">
						<div>
							<b class="text-muted uppercase small">
								<span class="glyphicon glyphicon-chevron-left" style="color:black" ></span>
								&nbsp; vorheriges Ergebnis
							</b>
						</div>
						<div ar-entity-title entity="prevEntity"></div>
						
					</a>

					<li class="list-group-item" ng-hide="nextEntitySearch.size < 2" >
						<b class="text-muted uppercase small">Angezeiger Datensatz</b>
						<form ng-submit="go('/entity/' + currentQuery.setParam('resultIndex',resultIndexInput).toString())">
							<div class="input-group"
									ng-class="{'has-error':(resultIndexInput < 1 || resultIndexInput > resultSize)}">
						    	<input ng-model="resultIndexInput"
						    			type="number" size="4"
						    			min="1" max="{{resultSize}}" class="form-control input-sm">
						    	<span ng-if="resultIndex == resultIndexInput" class="input-group-addon" style="border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:0;"><small>von</small> <strong>{{resultSize|number}}</strong></span>
						    	<span ng-hide="resultIndex == resultIndexInput" class="input-group-btn">
						    		<button class="btn btn-primary btn-sm" ng-click="go('/entity/' + currentQuery.setParam('resultIndex',resultIndexInput).toString())">Springe</button>
						    	</span>
						    </div>
						</form>
					</li>

					<a ng-if="nextEntity"
							ng-href="entity/{{nextEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex+1).toString()}}"
							class="list-group-item text-right"
							style="height:75px; overflow:hidden">
						<div>
							<b class="text-muted uppercase small">
								&nbsp; nächstes Ergebnis
								<span class="glyphicon glyphicon-chevron-right" style="color:black" ></span>
							</b>
						</div>
						<div ar-entity-title entity="nextEntity"></div>
						
					</a>

				</ul>

			</div>

		</div>

		<!-- END CURRENT QUERY STATUS -->

		<!-- NOTES -->
		<div ng-if="user.username" ng-init="queryBookmarkListsForEntityId()">
			<h5 class="text-muted uppercase"><strong>Notizen</strong></h5>
			<div ng-repeat="bookmarklist in bookmarklists">
				<div ng-repeat="bookmark in bookmarklist.bookmarks" class="panel panel-info">
					<div class="panel-heading">
						In Notizbuch: <b>{{ bookmarklist.name }}</b>
						<div class="btn-group pull-right">
							<button class="btn btn-sm btn-link" ng-click="updateBookmark(bookmark)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-sm btn-link" ng-click="deleteBookmark(bookmark.id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
							
						</div>
					</div>
					<div class="panel-body small">
						<small ng-if="bookmark.commentary">Kommentar:<br></small>
						{{ bookmark.commentary }}
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-default btn-sm" ng-click="createBookmark()">
				<span class="glyphicon glyphicon-pushpin"></span> Notiz anlegen
			</button>
		</div>
		<!-- END NOTES -->
		<!-- Karte -->
    	<div ng-if="entity.facet_aufbewahrungsort || entity.facet_fundort">
        	<div entitymap found="entity.facet_fundort" depo="entity.facet_aufbewahrungsort" id="entitymap" style="height:200px;"></div>
    	</div>

	</div>

	<div ng-show="entity.entityId" class="col-md-9">

		<div class="row">

			<!-- CONTENT SECTION -->
			<div class="col-md-8">

				<h2 class="page-title">
					<div class="title">
						{{ entity.title }} <span ng-if="!entity.title" class="capitalized">{{entity.type}}</span>
					</div>
					<div class="subtitle"><small>{{ entity.subtitle }}</small></div>
				</h2>

				<hr>
				<div class="row">
					<div class="col-md-3">
						<b>{{ 'entityId' | i18n }}</b><br>{{ entity.entityId }}
					</div>
					<div class="col-md-3">
						<b>Kategorie:</b><br>{{ categories[entity.type]["singular"] }}
					</div>
					<div class="col-md-3">
						<b>Seriennummer:</b><br>{{ entity.internalId }}
					</div>
					<div class="col-md-3">
						
						<div class="btn-group-vertical pull-right">
							<button style="text-align:left"
									ng-click="permaLink=!permaLink"
									ng-class="{'active':permaLink}"
									class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-link"></span>
								&nbsp;Perma-Link
							</button>
						</div>
					</div>
				</div>
				<div class="row" ng-hide="!permaLink">
					<div class="col-md-12">
						<hr>
						<b>Perma-Link: </b><a href="{{ serverUri }}entity/{{entity.entityId}}">{{ serverUri }}entity/{{entity.entityId}}</a>
					</div>
				</div>	  
				<hr>

				<div ng-if="!entity.sections">
					<em>keine weiteren Angaben eingetragen</em>
				</div>
				<div class="sections"
						ng-repeat="section in entity.sections"
						ng-include="'section_template.html'">
				</div>
				<div ng-if="entity.additionalContent.ocrText">
					<div class="page-header"><h4>OCR Text-Analyse</h4></div>
					<ul>{{entity.additionalContent.ocrText}}</ul>
				</div>

			</div>
			<!-- END CONTENT SECTION -->

			<!-- CONTEXT & IMAGE SECTION -->
			<div class="col-md-4">

				<div class="row">
					<div class="col-md-12">
						<h3 ng-if="entity.images.length > 1">
							<a ng-href="entity/{{entity.entityId}}/images{{currentQuery.toString()}}">
								Abbildungen <small>({{entity.images.length}})</small>
							</a>
						</h3>
						<h3 ng-if="entity.images.length == 1">Abbildung</h3>
						<div ar-imageslider ng-if="entity.images" entity="entity" current-query="currentQuery"></div>
					</div>
				</div>

				<div class="row" ng-if="entity.externalLinks">
					<div class="col-md-12">
						<h3>Andere Ansichten</h3>
						<div class="list-group">
							<a ng-repeat="externalLink in entity.externalLinks"
									ng-href="{{ externalLink.url }}"
									type="button"
									class="list-group-item"
									target="_blank">
								<span class="glyphicon glyphicon-new-window pull-right"></span>
								{{externalLink.label}}
							</a>
						</div>
					</div>
				</div>
				
				<div class="row" ng-show="contextSize">
					<div class="col-md-12">
						
						<h3>
							<a ng-href="search{{contextQuery.toString()}}">
								Verknüpfte Objekte
								<small>({{contextSize}})</small>
							</a>
						</h3>

						<div ar-facet-browser
								query="contextQuery"
								facet-name="facet_kategorie"
								context-size="contextSize">
						</div>

					</div>
				</div>

			</div>
			<!-- END CONTEXT & IMAGE SECTION -->

		</div>
			
	</div>
	
</div>
