<div ng-controller="EntityImgCtrl as entityImgCtrl">
	<div class="row fullscreenrow">	
        <div ng-if="!user.username" class="col-md-12 text-right alert alert-info">
			Für die Vollansicht von Bildern, bitte anmelden <span class="glyphicon glyphicon-share-alt" style="transform:rotate(90deg) scaleX(-1); margin: 0 35px; font-size: 20px;"></span>
		</div>
		<div ng-if="user.username" ng-init="entityImgCtrl.loadImageProperties();"></div>
		<div ng-if="imageProperties.width" style="height:100%" zoomifyimg entityid="{{entityId}}" imageProperties="{{imageProperties}}" zoomifyHeight="{{imageProperties.height}}" zoomifiyTilesize="{{imageProperties.tilesize}}"></div>
	</div>
</div>
