<script type="text/ng-template" id="section_template.html">
	<li ng-if="section.value">
		<div ng-switch="isArray(section.value)">
			<span ng-switch-when="false" ng-bind-html="section.value"></span>
			<ul ng-switch-when="true">
				<li ng-repeat="valueItem in section.value" ng-bind-html="valueItem"></li>
			</ul>
		</div>
	</li>
	<ul ng-if="!section.value">
		<b>{{section.label}}</b>
		<li ng-repeat="section in section.content" ng-include="'section_template.html'"></li>
	</ul>
</script>

<div ng-controller="EntityImgCtrl as entityImgCtrl">
	<div class="row fullscreenrow">	
        <div ng-if="!user.username" class="col-md-12 text-right alert alert-info">
			Für die Vollansicht von Bildern, bitte anmelden <span class="glyphicon glyphicon-share-alt" style="-webkit-transform:rotate(90deg) scaleX(-1); transform:rotate(90deg) scaleX(-1); margin: 0 35px; font-size: 20px;"></span>
		</div>
		<!-- Using ng-init with a method for evoking something after user logs in -->
		<div ng-if="user.username" ng-init="entityImgCtrl.loadImageProperties();"></div>
		<div ng-if="imageProperties.width" style="height:100%" zoomifyimg entityid="{{entityId}}" imageProperties="{{imageProperties}}" zoomifyHeight="{{imageProperties.height}}" zoomifiyTilesize="{{imageProperties.tilesize}}" ng-init="entityImgCtrl.loadEntityForGallery()"></div>
		<div ng-if="entity"  style="opacity:0.8; position:absolute; right:10px; top: 60px;">
			<a class="btn btn-primary btn-xs" href="entity/{{entity.entityId}}"><span class="glyphicon glyphicon-arrow-left"></span> {{entity.title}}</a>
			<btn class="btn btn-default btn-xs" ng-click="entityImgCtrl.openModalForImageEntity()">Bild-Metadaten</btn>
		</div>

		<ul class="pager" ng-if="entity.images" ng-init="entityImgCtrl.setNextAndPreviousImages()" style="opacity:0.8; position:absolute; bottom:10px; left:50%">
			<li class="previous disabled" ng-if="!previousImage"><span class="glyphicon glyphicon-chevron-left"></span></li>
			<li class="previous"  ng-if="previousImage"><a href="entity/{{entity.entityId}}/image/{{previousImage.imageId}}" ><span class="glyphicon glyphicon-chevron-left"></span></a></li>
			<li class="next disabled" ng-if="!nextImage"><span class="glyphicon glyphicon-chevron-right"></span></li>
			<li class="next" ng-if="nextImage"><a href="entity/{{entity.entityId}}/image/{{nextImage.imageId}}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
		</ul>

	</div>
</div>
