<div ng-controller="TopController as TopController" class="row">
	<div id="top"></div>
	<div class="col-md-8 col-md-offset-2" style="margin-top:20px">
		<h1>Impressum</h1>
		<hr>
		ISSN 1867-2787<br><br>
		Das Internetangebot unter <a href="http://arachne.dainst.org" title="http://arachne.dainst.org">http://arachne.dainst.org</a> wird betrieben von einem Konsortium folgender Institutionen:<br><br>

		<div>
			Deutsches Archäologisches Institut (DAI)<br>
			Podbielskiallee 69-71<br>
			14195 Berlin<br>
			Tel: 01888 77 11 0<br>
			Fax: 01888 77 11 191<br>
			Email: <a href="mailto:info@dainst.de">info@dainst.de</a><br>
			Internet: <a href="http://www.dainst.org" title="www.dainst.org">www.dainst.org</a><br>

			Das Deutsche Archäologische Institut ist eine Forschungsanstalt des Bundes im Geschäftsbereich des Auswärtigen Amts. Es wird vertreten durch den Wissenschaftlicher Direktor für Informationstechnologien Prof. Dr. Reinhard Förtsch. 
			Arachne wird administriert von Prof. Dr. Reinhard Förtsch.<br>
		</div>	<br>
		<div>
			Archäologisches Institut<br>
			Universität zu Köln<br>
			Albertus-Magnus-Platz<br>
			50923 Köln<br>
			Tel:  +49 (0) 221 - 470 2946<br>
			Email: <a href="mailto:pschedi0@uni-koeln.de">pschedi0@uni-koeln.de</a><br>
			Internet: <a href="http://www.klassarchaeologie.uni-koeln.de" title="http://www.klassarchaeologie.uni-koeln.de">http://www.klassarchaeologie.uni-koeln.de</a><br>
			Das Archäologische Institut der Universität zu Köln wird vertreten durch Dr. des. Paul Scheding.<br>
		</div>

		<h3>Wissenschaftlicher Beirat für Arachne</h3>
		<hr>
		<a href="http://www.klassarchaeologie.uni-koeln.de/?q=node/27">Prof. Dr. Dietrich Boschung</a><br>
		<a href="http://www.perseus.tufts.edu/About/grc.html">Prof. Dr. Greg Crane</a><br>
		<a href="http://www.dainst.org/mitarbeiter-detailansicht/-/person-display/13710">Prof. Dr. Ortwin Dally</a><br>
		<a href="http://www.dainst.org/mitarbeiter-detailansicht/-/person-display/13405">Prof. Dr. Reinhard Foertsch</a><br>
		<a href="http://archaeologie.uni-koeln.de/node/28">Prof. Dr. Henner von Hesberg</a><br>
		<a href="http://www.arch.ox.ac.uk/resources/staff_directory/donna_kurtz">Prof. Dr. Donna Kurtz</a><br>
		<a href="http://www.hki.uni-koeln.de/node/51">Prof. Dr. Manfred Thaller</a></p><br>
	</div>
</div>