<div ng-controller="IndexController">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="panel-title">{{ 'facet_kategorie' | transl8 }}</h5>
				</div>
				<ul class="list-unstyled facet">
					<li ng-repeat="category in categories" ng-class="{selected: category.title == currentCategory}">
						<a href="index?c={{category.title}}">{{category.title}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="panel-title">{{ 'facets' | transl8 }}</h5>
				</div>
				<ul class="list-unstyled facet">
					<li ng-repeat="facet in facets" ng-class="{selected: facet.name == currentFacet}">
						<a href="index?c={{currentCategory}}&fq={{facet.name}}">{{facet.name | transl8 }}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="panel-title">{{values.length}} {{ 'facet_values' | transl8 }} <b ng-if="values.length > 250">! Max. 250 displayed</b></h5>
				</div>
				<div class="panel-nav" align="center" ng-if="currentFacet">
					<a href="index?c={{currentCategory}}&fq={{currentFacet}}" ng-show="groupedBy"><span class="glyphicon glyphicon-remove"></span></a>
					<a href="index?c={{currentCategory}}&fq={{currentFacet}}&group={{letter}}" ng-repeat='letter in ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","x","y","z"]' class="text-uppercase" ng-class="{'btn btn-primary': letter == groupedBy}">{{letter}}</a>
				</div>
				<div class="panel-nav" align="center" ng-if="currentValue">
					{{'ui_current_search' | transl8}}: <b>{{currentValue}}</b>
				</div>
				<ul class="list-unstyled facet">
					<li ng-repeat="value in values | limitTo : 250"  ng-class="{selected: value == currentValue}">
						<a href="index?c={{currentCategory}}&fq={{currentFacet}}&fv={{value}}&group={{groupedBy}}">{{ value }}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6" style="position: absolute; right: 0px; bottom: 190px; top: 60px; overflow-y: scroll;">
			<h4 ng-hide="currentValue == undefined"><strong>{{currentCategory}}, {{currentFacet | transl8 }} = {{currentValue}}</strong> - {{ 'results' | transl8}}: {{entities.length}} </h4>
			<hr>
			<div ar-imagegrid
				cells="entities"
				columns="3"
				margin="4" ng-if="currentValue" ng-show="entities.length > 0">					
			</div>	
		</div>
</div>