<div ng-controller="MapCtrl">
	<div class="row fullscreenrow">

		<!-- Loading-Icon -->
		<div ng-hide="resultSize >= 0" class="loading"></div>

		<!-- Menü -->
		<div ar-map-menu route="map" result-size="resultSize" facet-limit="facetLimit" mapfacet="mapfacet" mapfacet-names="mapfacetNames" current-query="currentQuery" facets="facets"></div>

		<!-- Karte -->
		<div ar-map ng-if="resultSize != null" mapfacet="mapfacet" current-query="currentQuery" class="col-md-12 fullscreenMap" id="map"></div>

	</div>

</div>