<li>
    <a href="catalogs">
        <span style="color: rgb(66,139,202)" class="glyphicon glyphicon-inbox"></span>
        &nbsp;{{'navbar_manage_catalogs' | transl8}}
    </a>
    <a href="editUser">
        <span style="color: rgb(66,139,202)" class="glyphicon glyphicon-pencil"></span>
        &nbsp;{{ 'navbar_edit_profile' | transl8 }}
    </a>
    <a href="pwdreset">
        <span style="color: rgb(66,139,202)" class="glyphicon glyphicon-lock"></span>
        &nbsp;{{ 'navbar_change_password' | transl8 }}
    </a>


    <a href="admin/dataimport" ng-if="userObject.groupID>=800">
        <span style="color: rgb(66,139,202)" class="glyphicon glyphicon-transfer"></span>
        &nbsp;Dataimport
    </a>

</li>