<li id="usermenu">
    <a href="catalogs">
        <span class="glyphicon glyphicon-inbox"></span>
        {{'navbar_manage_catalogs' | transl8}}
    </a>
    <a href="editUser">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ 'navbar_edit_profile' | transl8 }}
    </a>
    <!--<a href="pwdreset"></a> this does not work for logged in users-->
    <a href="admin/dataimport" ng-if="userObject.groupID>=800">
        <span class="glyphicon glyphicon-transfer"></span>
        Dataimport
    </a>
</li>