<div class="row con10t-page">
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px">
    <h1>Lizenz</h1>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px">

  <p>Dieses Werk ist unter einer <a rel="license" href=
  "http://creativecommons.org/licenses/by-nc-nd/3.0/de/">Creative
  Commons-Lizenz</a> lizenziert. Bitte informieren Sie uns, wenn Sie der
  Ansicht sind, daß ein von Arachne publizierter Scan eine
  Urheberrechtsverletzung darstellt; wir werden diesen Fall umgehend lösen.</p>

  <p><a rel="license" href=
  "http://creativecommons.org/licenses/by-nc-nd/3.0/de/"><img alt=
  "Creative Commons License" src=
  "http://i.creativecommons.org/l/by-nc-nd/3.0/de/88x31.png"></a></p>

  <p>Die Lizenzbestimmungen der <i>Creative Commons-Lizenz</i> finden nur
  Anwendung auf diejenigen Inhalte des Arachne-Portals und der Arachne
  Objektdatenbank, die innerhalb der Internetpräsenz visualisiert und von dort
  abgerufen werden können. Inhalte die nur mittelbar in Zusammenhang mit der
  Internetpräsenz Arachne stehen und die nicht über diese abgerufen werden
  können (z.B. hochauflösende druckfertige Scans), unterliegen anderen
  Bestimmungen die nicht von der <i>Creative Commons-Lizenz</i> berührt werden.
  Diese Bestimmungen werden im Zusammenhang mit der Transaktion des
  Bildmaterials nach einer Bestellung über das Bestellsystem oder das
  Kontaktformular erörtert.</p>
</div>

  <div class="row">
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px">
    <h1>Bestellungen</h1>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px">

  <p class="c1">Für die Bestellung von Fotos als Publikationsvorlage ist
  zunächst zu beachten von welchen Vorlagen die Fotos stammen:</p>

  <ol>
    <li>Scans aus Büchern (Bilder mit Negativnummer "Repro") oder von Abzügen
    anderer Bildarchive oder Museen (Bilder mit Negativnummer "Ohne Angabe"
    oder "Museum") können weder über das Onlinebestellsystem noch über das
    Kontakformular bestellt werden. Diese Bilder müssen direkt beim jeweiligen
    Inhaber der Rechte angefragt werden.</li>

    <li><b>Scans von Negativen des Deutschen Archäologischen Insituts</b> (i.
    d. R. Bilder, deren Negativnummern mit den Kürzeln D-DAI oder INR beginnen)
    können direkt über das <b>Onlinebestellsystem</b> bestellt werden. Hierzu
    muss man sich bei Arachne anmelden, direkt auf das gewünschte Bild klicken
    und durch Klick auf das Warenkorbsymbol unter dem Bild in den Warenkorb
    hinzufügen. Der Bestellvorgang selbst kann jederzeit durch Klick auf das
    Warenkorbsymbol neben dem Benutzernamen durchgeführt werden.</li>

    <li>
      <b>Scans von Negativen aus dem Forschungsarchiv für Antike Plastik</b>
      (i. d. R. Bilder, deren Negativnummern mit den Kürzeln FA, FA- S,FA-Kae,
      Oehler, Fitt oder Mal beginnen) können über das entsprechende <b><a href=
      "?q=de/contact">Kontaktformular</a></b> zu folgenden Konditionen (in
      Anlehnung an die Medien-Preisliste des DAI) bestellt werden:

      <ul>
        <li class="c2">
          <p>Die folgenden Preise beziehen sich auf die reinen
          Bearbeitungskosten, d.h. für den Fall, dass keine Verwendung des
          angeforderten Bildmaterials in Publikationen erfolgt oder die
          Publikation rein wissenschaftlicher Natur ist. In allen anderen
          Fällen können die jeweiligen Preise für Publikationsrechte auf
          Anfrage mitgeteilt werden.</p>

          <p>Zu Beachten: Die Fotos müssen im Voraus bezahlt werden. Die
          Zahlungsmodalitäten sind auf der Rechnung angegeben. Kreditkarten
          können leider derzeit nicht akzeptiert werden. Die Zusendung eines
          Belegexemplars wird erbeten. Als Abbildungsnachweis ist der jeweilige
          permanente Link des Bilddatensatzes anzuführen (z.B.:
          http://arachne.uni-koeln.de/item/marbilder/686810).</p>
        </li>

        <li>Bildrecherche und Bildauswahl gemäß Bestellung (Mindestpreis nach
        Aufwand; entfällt bei Bildbestellung mit Angabe von
        Arachne-Seriennummer und Negativnummer) ab € 30</li>

        <li>Lieferung als Datei per E-Mail-Anhang bzw. Bereitstellung zum
        Download druckfertiger Scan, mind. 300dpi TIFF € 5 pro Stück</li>

        <li>Versand auf CD/DVD Datei (druckfertiger Scan, 300dpi TIFF) € 30 pro
        Bestellung</li>

        <li>Foto als Druckvorlage digitaler Ausdruck in Fotoqualität € 20 pro
        Stück</li>

        <li>Scans von bisher nicht digitalisierten Negativen/Abzügen auf
        Anforderung € 30 pro Stück</li>
      </ul>
    </li>
  </ol>
</div>
