<div ng-controller="ProjectsController as projectsController" style="width: 90%; margin: 0 5%;">
	<h1>
		Alle Projekte in Arachne
		<form class="form-inline pull-right" style="margin-bottom:0">
			<input class="form-control" type="text" placeholder="Filter" ng-model="filter">
		</form>
	</h1>
	<hr>
	<div class="row">

		<div ng-repeat="column in columns" class="col-md-4">
			<div ng-repeat="project in column">
				<h3 style="margin-top:25px;">
					<a ng-show="project.id" href="project/{{project.selectedLang}}/{{project.id}}" style="color:black;">
						{{project.title}}
					</a>
					<span ng-hide="project.id">{{project.title}}</span>
				</h3>
				<hr style="margin-top: 0; margin-bottom:10px;">
				<ul class="list-unstyled">
					<li ng-repeat="project in project.children" style="margin: 5px 0 5px 15px;">
						<span ng-hide="filter && project.titletoLowerCase().indexOf(filter.toLowerCase()) == -1">
							<a ng-show="project.id" href="project/{{project.selectedLang}}/{{project.id}}">
								{{project.title}}
							</a>
							<span ng-hide="project.id">{{project.title}}</span>
						</span>
						<ul ng-show="project.children">
							<li ng-repeat="project in project.children" style="margin: 5px 0 5px 15px;"
									ng-hide="filter && project.title.toLowerCase().indexOf(filter.toLowerCase()) == -1">
								<a ng-show="project.id" href="project/{{project.selectedLang}}/{{project.id}}">
									{{project.title}}
								</a>
								<span ng-hide="project.id">{{project.title}}</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
    </div>
</div>