<div class="row" ng-controller="SearchCtrl as searchCtrl">
	
	<!-- Loading-Icon -->
	<div ng-hide="searchresults.size >= 0" class="loading"></div>

	<!-- Meldung für leeres Suchergebnis -->
	<div ng-if="searchresults.size == 0">
		<div class="row" style=" height:{{screenHeight}}px;">
			<div class="col-md-4 col-md-offset-4 text-center">
				Keine Ergebnisse zu <b>"{{currentQueryParameters.q}}"</b> gefunden. Suche erneut starten ?<hr/>
				<h1 style="opacity: 0.57; font-weight: 300; font-size: 60px; margin-bottom:70px"><img style="height: 66px; width: 66px; margin-right: 10px" src="img/arachnelogo.png"> arachne <br></h1>
				<h5 style="opacity: 0.57;" ng-show="search.size">  {{ search.size }} Einträge</h5>
				<form class="input-group form-inline" role="search" method="GET" action="search/" >
					<input type="text" ng-model="q" name="q" class="form-control" placeholder="Suche">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" type="button">Suchen</button>
					</span>
				</form>
			</div>
		</div>
	</div>

	<!-- Linke Spalte -->
	<div class="col-md-2 col-sm-3" ng-if="searchresults.size">
		<div>
			<small ng-if="searchresults.size" class="text-muted">Insgesamt <b>{{ searchresults.size }}</b> Ergebnisse<br> auf <b>{{numPages}}</b> Seiten</small>
		</div>
		<small>

			<h5 class="text-muted uppercase"><b>Suchbegriff</b></h5>
			<form action="search/" method="GET" role="search">
				<input  name="q"  class="form-control" value="{{currentQueryParameters.q}}">
				<input style="display:none" name="fq" value="{{currentQueryParameters.fq}}">
				<input name="limit" style="display:none" ng-if="currentQueryParameters.limit" value="0">
				<input name="offset" style="display:none" ng-if="currentQueryParameters.offset" value="0">
				<button class="btn btn-default" style="display:none;" type="submit">Submit</button>
			</form>

			<div ng-if="activeFacets.length">
				<h5  class="text-muted uppercase"><b>Aktive Filter</b></h5>
				<button class="btn btn-sm btn-block btn-primary linethrough-hover"
							style="margin:5px 3px;"
							ng-click="searchCtrl.removeFacet(facet)"
							ng-repeat="facet in activeFacets">
					<i>{{facet.name | i18n}}</i><br>
					<b style="text-transform:capitalize;">{{facet.value}}</b>
				</button>
			</div>

			<h5 class="text-muted uppercase" ng-hide="searchresults.size < 2"><b>Filter</b></h5>
			<div class="panel panel-default facet" ng-repeat="facet in searchresults.facets" ng-hide="searchresults.size < 2">
				<div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
					<h5 class="panel-title">
						<span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
						<span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>	
						&nbsp;{{facet.name | i18n }}
					</h5>
				</div>
				<ul class="list-unstyled facet"	ng-show="facet.open">
					<li ng-click="searchCtrl.addFacet(facet.name, facetValue.value)"
							ng-repeat="facetValue in facet.values">
						<b class="pull-right text-muted">{{facetValue.count | number}}</b>
						{{facetValue.value | stripCoords}}
					</li>
				</ul>
			</div>

		</small>
	</div>

	<!-- Rechte Spalte -->
	<div class="col-md-10 col-sm-9" ng-switch="listStyle"
			ng-init="offset = currentQueryParameters.offset? currentQueryParameters.offset : 0"
			ng-if="searchresults.size">
		
		<div align="center" class="row">
			<div class="col-md-12">
				<div class="btn-group ">
					<button class="btn btn-sm btn-startsite-tab" ng-click="listStyle = 'tiles'"
							ng-class="{ 'active': listStyle == 'tiles' || listStyle == undefined }">
						<span class="glyphicon glyphicon-picture"></span>
						Kacheln
					</button>
					<button class="btn btn-sm btn-startsite-tab" ng-click="listStyle = 'list'"
							ng-class="{ 'active': listStyle == 'list' }">
						<span class="glyphicon glyphicon-align-justify"></span>
						Liste
					</button>
					<a href="map/?q={{currentQueryParameters.q}}&fq={{currentQueryParameters.fq}}&fl=2000"
							class="btn btn-sm btn-startsite-tab" style="color:#333;" ng-class="{ 'active': listStyle == 'map' }">
						<span class="glyphicon glyphicon-map-marker"></span>
						Karte (Geo-Ergebnisse)
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<!-- Griddarstellung -->
				<div ar-imagegrid
					entities="searchresults.entities"
					columns="5"
					margin="2"
					offset="searchresults.offset"
					ng-switch-default="tiles">
					
				</div ar-imagegrid>

				<!-- Listendarstellung -->
				<div ng-switch-when="list">
					<table class="table table-condensed table-hover">
					<tr>
						<td class="col-md-1">ID</td>
						<td class="col-md-1">Typ</td>
						<td class="col-md-8">Titel</td>
						<td class="col-md-2">Subtitle</td>
					</tr>	
					<tr ng-repeat="entity in searchresults.entities" class="small"	>
						<td class="col-md-1">{{entity.entityId}}</td>
						<td class="col-md-1" style="text-transform:capitalize; cursor:pointer;" ng-click="searchCtrl.addFacet('facet_kategorie', entity.type)">{{entity.type}}</td>
						<td class="col-md-8"><b><a href="entity/{{entity.entityId}}" ng-click="setResultIndex(offset + $index)">{{entity.title}}</a></b></td>
						<td class="col-md-2">{{entity.subtitle}}</td>
					</tr>
					</table>
				</div>

				<!-- Kartendarstellung -->
				<div ng-switch-when="map">
					<div ng-hide="searchresults.markers" class="loading"></div>
					<div ng-if="searchresults.markers" class="col-md-12" map id="map"></div>
				</div>

			</div>
		</div>
		
	</div>	

	<p align="center" ng-show="searchresults.size">
		<pagination ng-model="searchresults.page" total-items="searchresults.size" items-per-page="searchresults.limit" max-size="6" previous-text="zurück" next-text="weiter" boundary-links="true" first-text="&laquo;" last-text="&raquo;" ng-change="onSelectPage()" num-pages="numPages"></pagination>
	</p>

</div>
