<div class="row" ng-controller="SearchCtrl as searchCtrl">
	<div class="col-md-2">
		<div>
			<small class="text-muted">Insgesamt <b>{{ search.size }}</b> Ergebnisse</small>
		</div>
		<small>

			<ul class="list-unstyled facet" ng-repeat="(facetName,values) in searchresults.facets">
				<button class="btn btn-xs btn-default" ng-click="openfacet =! openfacet" ng-class="{ 'active': openfacet }"><b class="text-muted">{{facetName | i18n }}</b></button>
				<li ng-click="searchCtrl.addFacet(facetName, facetValue)"  ng-repeat="(facetValue, count) in values" ng-show="openfacet">
					<b class="pull-right text-muted">{{count}}</b>{{facetValue}}
				</li>
			</ul>

		</small>
	</div>

	<div class="col-md-10" ng-switch="listStyle">
		<p ng-hide="searchresults.entities.length">Lädt...</p>
		<div style="margin-bottom:20px">
			<button class="btn btn-xs linethrough-hover" ng-click="searchCtrl.removeFacet(facet)" ng-repeat="facet in activeFacets" style="margin-right:2px"><i>{{facet.name | i18n}}</i> <b style="text-transform:capitalize;">{{facet.value}}</b></button> 	
			<div class="btn-group pull-right">
				<button class="btn btn-xs" ng-click="listStyle = 'list'" ng-class="{ 'active': listStyle == 'list' }">Liste</button>
				<button class="btn btn-xs" ng-click="listStyle = 'tiles'" ng-class="{ 'active': listStyle == 'tiles' || listStyle == undefined }">Kacheln</button>
			</div>
		</div>
		<br><br>

		<table class="table table-condensed table-hover" ng-switch-when="list">
			<tr ng-repeat="entity in searchresults.entities" class="small"	>
				<td class="col-md-1">{{entity.entityId}}</td>
				<td class="col-md-1" style="text-transform:capitalize; cursor:pointer;" ng-click="searchCtrl.addFacet('facet_kategorie', entity.type)">{{entity.type}}</td>
				<td class="col-md-8"><b><a href="entity/{{entity.entityId}}">{{entity.title}}</a></b></td>
				<td class="col-md-2">{{entity.subtitle}}</td>
			</tr>
		</table>
		<div id="tiledImagesContainer" ng-switch-default="tiles">
			<div ng-repeat="entity in searchresults.entities">
				<div ng-if=" $index % 5 == 0" imagesrow class="imagesrow clearfix">
					<div arachneImageRequest="height" arachneImageHeight="300" entity="searchresults.entities[$index]"></div>
					<div arachneImageRequest="height" arachneImageHeight="300" entity="searchresults.entities[$index+1]"></div>
					<div arachneImageRequest="height" arachneImageHeight="300" entity="searchresults.entities[$index+2]"></div>
					<div arachneImageRequest="height" arachneImageHeight="300" entity="searchresults.entities[$index+3]"></div>
					<div arachneImageRequest="height" arachneImageHeight="300" entity="searchresults.entities[$index+4]"></div>
				</div>
			</div>
		</div>
	</div>	

	<p align="center">
		<button ng-click="searchresults.append()" ng-if="searchresults.size > 50" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> nächste Seite</button>
	</p>

</div>
