<div ng-controller="StartSiteController">

	<div id="top"></div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 5%; height:262px; min-width:358px;">
			<img style="opacity: 0.57; height: 80px; width: 80px; margin-right:15px; vertical-align:baseline;" src="img/arachnelogo.png">
			<h1 class="text-left" style="opacity: 0.57; font-weight: 300; font-size: 60px; margin-bottom:70px; padding-top:0; display:inline-block;">
				<small style="font-weight: 300; top:15px; position:relative; font-size:35px;">
					iDAI.objects
					<span class="text-primary" style="font-size:20px;"> beta</span>
				</small>
				<br>
				arachne
			</h1>
			<form ng-controller="SearchFormCtrl" ng-submit="search()" class="input-group form-inline" role="search" method="GET">
				<input type="text" ng-model="q" name="q" class="form-control" autofocus placeholder="Suche"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
					</button>
				</span>
			</form>
			<ul class="list-inline text-muted">
				<li ng-show="entityCount" style="opacity:.8;">
					Insgesamt
					<b ng-bind="entityCount | number"></b>
					Einträge
				</li>
				<li>
					<a href="search?q=*">
						<span class="glyphicon glyphicon-search"></span> Alle Anzeigen
					</a>
				</li>
				<li>
					<a href="map?q=*&fl=2000&restrict=facet_aufbewahrungsort" style="outline: none;">
						<span class="glyphicon glyphicon-map-marker"></span> Karte
					</a>
				</li>
				<li>		    
		    		<a href="faq" style="outline: none;"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" style="background-color:white" id="categories_container">
		<div style="width:90%; margin: 0px auto;">
			<h2 style="margin:100px 0px 0px; text-align:center">
				<a href="allCategories" style="outline: none;">Kategorien in Arachne</a>
			</h2>
			<hr>
			<div ar-imagegrid
				cells="categories"
				columns="6"
				margin="4">					
			</div>
			<div class="pull-right" style="margin-top:20px;">
				<a href="allCategories">
					... Alle Kategorien anzeigen
				</a>
			</div>
		</div>
	</div>
</div>