<div ng-controller="StartSiteController">

	<div id="top"></div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 5%; height:262px; min-width:358px;">
			<img style="opacity: 0.57; height: 80px; width: 80px; margin-right:15px; vertical-align:baseline;" src="img/arachnelogo.png">
			<h1 class="text-left" style="opacity: 0.57; font-weight: 300; font-size: 60px; margin-bottom:70px; padding-top:0; display:inline-block;">
				<small style="font-weight: 300; top:15px; position:relative; font-size:35px;">
					iDAI.objects
					<span class="text-primary" style="font-size:20px;"> beta</span>
				</small>
				<br>
				arachne
			</h1>
			<form ng-controller="SearchFormCtrl" ng-submit="search()" class="input-group form-inline" role="search" method="GET">
				<input type="text" ng-model="q" name="q" class="form-control" autofocus placeholder="Suche"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
					</button>
				</span>
			</form>
			<ul class="list-inline text-muted">
				<li ng-show="entityCount" style="opacity:.8;">
					Insgesamt
					<b ng-bind="entityCount | number"></b>
					Einträge
				</li>
				<li>
					<a href="search?q=*">
						<span class="glyphicon glyphicon-search"></span> Alle Anzeigen
					</a>
				</li>
				<li>
					<a href="map?q=*&fl=2000&restrict=facet_aufbewahrungsort" style="outline: none;">
						<span class="glyphicon glyphicon-map-marker"></span> Karte
					</a>
				</li>
				<li>		    
		    		<a href="faq" style="outline: none;"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
				</li>
			</ul>
		</div>
	</div>
	<div style="background-color:white" id="carousel_container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<h1 style="margin:50px 0px 0px 20px; text-align:center">
					<a href="allCategories" style="outline: none;">Kategorien</a>
				</h1>
			</div>
			<div class="col-md-5">
				<h1 style="margin:50px 0px 0px 20px; text-align:center">
					<a href="projects" style="outline: none;">Projekte</a>
				</h1>
			</div>
			<hr>
		</div>
		<div style="height: 200px;" class="col-md-5 col-md-offset-1">
			<carousel interval="5000">
	  			<slide ng-repeat="slide in cateslides" active="slide.active">
	  			  <img ng-src="{{slide.image}}" style="margin:auto; height:300px;">
	    			<div class="carousel-caption">
	      				<h3>{{slide.title}}</h3>
	      				<p>{{slide.text}}</p>
	    			</div>
	  			</slide>
			</carousel>
		</div>
		<div style="height: 200px;" class="col-md-5">
			<carousel interval="5000">
	  			<slide ng-repeat="slide in projslides" active="slide.active">
	  			  <img ng-src="{{slide.image}}" style="margin:auto; height:300px;">
	    			<div class="carousel-caption">
	      				<p>{{slide.title}}</p>
	    			</div>
	  			</slide>
			</carousel>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<h2 style="margin:150px 0px 0px 20px; text-align:center">
					<a href="allCategories"> Alle Kategorien anzeigen</a>
				</h2>
			</div>
			<div class="col-md-5">
				<h2 style="margin:150px 0px 0px 20px; text-align:center">
					<a href="projects"> Alle Projekte anzeigen</a>
				</h2>
			</div>
		</div>
	</div>
</div>