<div ng-controller="NewsController as newsController">

	<div class="row">
		<div class="btn-group col-md-4 col-md-offset-4">
  			<button type="button" class="btn btn-default" ng-click="selection='search'">{{ "msg_search" | i18n }}</button>
  			<button type="button" class="btn btn-default" ng-click="selection='news'">News</button>
  			<button type="button" class="btn btn-default" ng-click="selection='map'">Map</button>
  			<button type="button" class="btn btn-default" ng-click="selection='youtube'">Youtube</button>
		</div>
	</div>

	<div ng-switch on="selection">
		<div ng-switch-when="search">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					Arachne<i>4</i> zurzeit {{ search.size }} Einträge</br>
					<form class="input-group" role="search" method="GET" action="search/">
						<div class="form-group">
							<input type="text" ng-model="q" name="q" class="form-control" placeholder="Suche">
						</div>
						<span class="input-group-btn">
        					<button type="submit" class="btn btn-default" type="button">Go!</button>
      					</span>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"bauwerk"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/424501');">
					<span>Bauwerke</span>
					</a>
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"bauwerksteil"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/1933196');">
					<span>Bauwerksteile</span>
					</a>					
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"objekt"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/158019');">
					<span>Objekte</span>
				</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"relief"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/1922705');">
					<span>Szenen</span>
					</a>
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"marbilder"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/46777');">
					<span>Marbilder</span>
					</a>
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"buch"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/230879');">
					<span>Bücher</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"sammlungen"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/433041');">
					<span>Sammlungen</span>
					</a>
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"topographie"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/3099823');">
					<span>Topographien</span>
					</a>
				</div>
				<div class="col-md-4">
					<a href='#simpleBrowsing?q=*&limit=20&offset=0&fl=100&fq=facet_kategorie:"rezeption"' class="lander-category-thumbnails" style="background-image: url('http://crazyhorse.archaeologie.uni-koeln.de/arachnedataservice/image/preview/251347');">
					<span>Rezeptionen</span>
					</a>	
				</div>
			</div>
		</div>
		<div ng-switch-when="youtube">
    		<div class="row">
        		<div class="col-md-6 col-md-offset-3">
          			<iframe  height="320px;" width="600px;" src="http://www.youtube.com/embed/nMlqSCJGSCY?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
        		</div>
    		</div>
		</div>
		<div ng-switch-when="news">
			<div class="col-md-8 col-md-offset-2">
				<h2>Aktuelles</h2>
				<div  ng-repeat="news in newsList">
				<h4>{{ news.title }}</h4>
				<div ng-bind-html="news.body"></div>
				</div>
			</div>
		</div>
		<div ng-switch-when="map">
			<div class="row">
				<leaflet defaults="defaults" markers="search.markers" height="480px"></leaflet> 
			</div>
		</div>
	</div>
	<!--<div class="row">
    	<div ng-repeat="teaser in teaserList">
       	 	<a href="{{ teaser.links.1.href }}"><img style="height:70px; width:70px" src="{{ teaser.images.0 }}"></img></a>
    	</div>
    </div>-->
</div>
