<div class="btn-toolbar">
    <div class="btn-group switch-search-result-view">
        <a ar-scoped-href="search{{stripQuery(currentQuery)}}"
           class="btn btn-sm btn-default"
           ng-class="{ 'active': !currentQuery.view}">
            <span class="glyphicon glyphicon-th"></span>
            {{ 'ui_tiles' | transl8 }}
        </a>
        <a ar-scoped-href="search{{stripQuery(currentQuery, 'list')}}"
           class="btn btn-sm btn-default"
           ng-class="{ 'active': currentQuery.view == 'list' }">
            <span class="glyphicon glyphicon-th-list"></span>
            {{ 'ui_list' | transl8 }}
        </a>
        <a ar-scoped-href="map{{stripQuery(currentQuery, 'map')}}"
           class="btn btn-sm btn-default"
           ng-class="{ 'active': currentQuery.view == 'map' }">
            <span class="glyphicon glyphicon-map-marker"></span>
            {{ 'ui_map' | transl8 }}
        </a>
    </div>

    <div class="btn-group" con10t-map-menu-translocations ng-if="currentQuery.view == 'map'"></div>

    <div class="btn-group">

        <button ng-if="currentQuery.view == 'map'"
                ng-click="showLinkModal()"
                tooltip-placement="auto bottom"
                tooltip-append-to-body="true"
                uib-tooltip="{{'ui_map_link_heading' | transl8}}"
                type="button"
                class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-link" ></span>
        </button>

        <button
                tooltip-placement="auto bottom"
                tooltip-append-to-body="true"
                uib-tooltip="{{'ui_download_as' | transl8}}"
                type="button"
                ng-click="openDownloadDialog()"
                class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-download-alt"></span>
        </button>

        <button ng-if="(user.username && resultSize <= maxSearchSizeForCatalog) && (currentQuery.view != 'map')"
                tooltip-placement="auto bottom"
                tooltip-append-to-body="true"
                uib-tooltip="{{'search_catalog_create' | transl8}}"
                type="button" ng-click="createCatalogFromSearch()"
                class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-inbox"></span>
        </button>

        <button ng-if="(user.username && resultSize > maxSearchSizeForCatalog) && (currentQuery.view != 'map')"
                tooltip-placement="auto bottom"
                tooltip-append-to-body="true"
                uib-tooltip="{{'search_catalog_too-big' | transl8}} {{maxSearchSizeForCatalog}}."
                type="button"
                class="btn btn-sm btn-default disabled">
            <span class="glyphicon glyphicon-inbox"></span>
        </button>
    </div>


</div>
