<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{'ui_download_as' | transl8}}&nbsp;{{dlMode}}</h4>
</div>
<div class="modal-body">

    <p>{{'ui_download_limit' | transl8 }}</p>

    <!-- Possible second form for data type selection for download, when more data types are implemented -->

    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-sm-offset-1">
                <label class="control-label">Limit:&nbsp;</label>
            </div>

            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label">
                        <input type="radio" id="limit_100" ng-model="limit" value="100" checked>
                        100
                    </label>
                    &nbsp;
                </div>
            </div>

            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label">
                        <input type="radio" id="limit_500" ng-model="limit" value="500">
                        500
                    </label>
                    &nbsp;
                </div>
            </div>

            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label">
                        <input type="radio" id="limit_1000" ng-model="limit" value="1000">
                        1000
                    </label>
                    &nbsp;
                </div>
            </div>

            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label">
                        <input type="radio" id="limit_other" ng-model="limit" value="other">
                        {{'ui_download_limit_other' | transl8 }}:
                    </label>
                    &nbsp;
                </div>
                <input placeholder="max. 10000" type="number" class="form-control"
                       id="limit_actual" ng-model="actual" max="10000">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-offset-1">
                <a class="btn btn-primary" target="_self" ng-href="{{downloadAs()}}" ng-click="cancel()" download="{{filename}}">{{'ui_download' | transl8}}</a>
                &nbsp;
                <button class="btn btn-default" ng-click="cancel()">{{'ui_download_cancel' | transl8 }}</button>
            </div>
        </div>

    </form>
</div>
