<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ 'all' | transl8 }} {{valuesCount}} {{ 'facet_values' | transl8 }}</h4>
</div>

<div class="modal-body">
    <div class="panel panel-default" ng-show="facetValues">
        <div class="panel-nav" align="center">
            <a ng-click="searchLetter()" ng-show="groupedBy">
                <span class="glyphicon glyphicon-remove clickable"></span>
            </a>
            <a ng-click="searchLetter(letter)"
               ng-repeat='letter in ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","x","y","z"]'
               class="text-uppercase clickable" ng-class="{'btn btn-primary': letter == groupedBy}">
                {{letter}}
            </a>

            <hr class="clearfix">

            <button ng-click="currentValuePage == 0 || previousValuePage()"
                    class="btn btn-sm btn-default"
                    style="border-radius:10px; width: 7em;"
                    ng-class="{ 'disabled': currentValuePage == 0 }">
                <span aria-hidden="true" class="glyphicon glyphicon-arrow-left" style="font-size: 0.9em;"></span>
            </button>
            <small class="text-muted" style="padding: 0 8px;">
                <strong>{{ 'ui_page' | transl8 }} {{currentValuePage + 1}} / {{facetValues.length}}</strong>
            </small>
            <button ng-click="currentValuePage + 1 >= facetValues.length || nextValuePage()"
                    class="btn btn-sm btn-default"
                    style="border-radius:10px; width: 7em;"
                    ng-class="{ 'disabled': currentValuePage + 1 >= facetValues.length }">
                <span aria-hidden="true" class="glyphicon glyphicon-arrow-right" style="font-size: 0.9em;"></span>
            </button>
        </div>

        <div class="panel-body">
            <ul ng-style="{'columns':valueRows, '-webkit-columns':valueRows, '-moz-columns':valueRows}"
                class="small list-unstyled facet">
                <li ng-repeat="facetValue in facetValues[currentValuePage]"
                    ng-class="{selected: facetValue == currentValue}">
                    <a ng-click="$dismiss()" ng-href="search{{currentQuery.addFacet(currentFacet,facetValue).removeParam('offset').toString()}}">{{facetValue}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
