[submodule "con10t"]
	path = con10t
	url = dai-softsource.uni-koeln.de:/srv/repos/git/con10t.git
[submodule "lib/httParrot"]
	path = lib/httParrot
	url = https://github.com/danielmarreirosdeoliveira/httParrot
