<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Arachne 4 CBensch</title>
	<link rel="shortcut icon" href="img/arachnelogo.png">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<base href="/~obensch/frontend/">
	<link rel="stylesheet" href="css/leaflet.css">
	<link rel="stylesheet" href="css/app.css"/>
	<script type="text/javascript">
	var translations = {}
	var recieveTranslations = function (data) {
		for(var i = 0; i < data.length; i++) {
			translations[data[i].key] = data[i].value;
		}
	}
	</script>
	<script type="text/javascript" src="http://crazyhorse.archaeologie.uni-koeln.de/transl8/translation/jsonp?lang=de&application=arachne4_frontend&callback=recieveTranslations"></script>
</head>
<body ng-app="myApp">
	
<nav class="navbar navbar-default navbar-fixed-top" style="opacity:0.96" role="navigation">
    <div class="col-md-2" style="padding-left:0px">
        <img class="pull-left" src="img/arachnelogo.png" style="height: 36px; margin-left: 30px; margin-top: 8px; opacity: 0.43; width: 36px;"></img>
        <a class="navbar-brand" href="#">arachnes</a>
    </div>
    <div class="navbar-header">
        <button class="navbar-toggle" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true" type="button">
            <span class="sr-only">Toggle navigation
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="col-md-10 collapse navbar-collapse" ng-class="!navCollapsed && 'in'" style="padding-left:10px">
        <form class="navbar-form navbar-left ng-pristine ng-valid" action="search/" method="GET" role="search">
            <div class="form-group">
                <input class="form-control ng-pristine ng-valid" type="text" placeholder="Suche" name="q" ng-model="q"></input>
            </div>
            <button class="btn btn-default" style="display:none;" type="submit">Submit</button>
        </form>
    </div>
</nav>


	<div class="col-md-12">
		<div ng-view></div>

	</div>


	<script src="lib/leaflet.js"></script>

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-resource.js"></script>

	<script src="lib/angular/angular-sanitize.min.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.7.0.min.js"></script>

	<script src="lib/angular-leaflet-directive.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>


</body>
</html>
