<div class="con10t-image con10t-image-{{align}}">

    <!-- Either show an image from a arachne with a specific entity identifier -->
    <div ng-if="entityId">
        <a href="https://arachne.dainst.org/entity/{{entityId}}">
            <img ar-img
                 img-id="{{entityId}}"
                 img-width="{{width}}"
                 img-height="{{height}}"
                 class="img-responsive con10t-image-fromentityid">
        </a>
    </div>

    <!-- Or show an image from an url / src -->
    <div ng-if="src">
        <a href="#{{src}}">
            <img src="{{src}}"
                 alt="{{alt}}"
                 width="{{width}}"
                 height="{{height}}"
                 class="img-responsive con10t-image-fromsrc">
        </a>

        <a href="#_" class="capsicum" id="{{src}}">
            <img src="{{src}}">
        </a>
    </div>

    <div ng-if="showCaption" class="caption" ng-transclude></div>

</div>