<script type="text/ng-template" id="nodeTemplate">

    <div class="con10t-tree-child">

        <span class="folderinteraction"
              ng-click="toggleCollapse(node)"
              ng-if="!node.isLeaf">

            <span ng-if="checkIfShown(node)">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color:grey; cursor:pointer;"></span>
            </span>
            <span ng-if="!checkIfShown(node)">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="color:grey; cursor:pointer;"></span>
            </span>

        </span>
        <span ng-if="node.isLeaf">
            <span class="glyphicon glyphicon-file" aria-hidden="true" style="color:grey; cursor:pointer;"></span>
        </span>

        <span class="childcontent">
            {{node.name}} <span style="color: #aaa;" ng-if="node.count > 0">({{node.count}})</span>
            <a class="searchinteraction"
               ng-href="{{startFacetedSearch(node)}}">
                <span class="glyphicon glyphicon-search" aria-hidden="true" title="{{'ui_showall' | transl8}}"></span>
            </a>
        </span>

        <span ng-if="node.children.length > 0">
            <div class="con10t-tree-children" ng-if="node.children" uib-collapse="!checkIfShown(node)">
                <div ng-repeat="node in node.children" ng-include="'nodeTemplate'"></div>
            </div>
        </span>

    </div>
</script>

<div class="panel panel-default" style="position: relative; z-index: 0;">

    <div class="panel-heading" ng-show="heading">
        <h3 class="panel-title">
            {{heading}}
        </h3>
    </div>
    <div class="panel-body">
        <div ng-hide="treeRoot">
            <div class="loading"></div>
        </div>
        <div ng-repeat="node in treeRoot" ng-include="'nodeTemplate'"></div>
    </div>

</div>

<!--<div ng-click="closeAll()" title="{{'ui_hideall' | transl8}}">{{'ui_hideall' | transl8}}</div>-->