<div class="con10t-image con10t-image-{{align}}">

    <!-- Either show an image from a arachne with a specific entity identifier -->
    <img ar-img
         ng-if="entityId"
         img-id="{{entityId}}"
         img-width="{{width}}"
         img-height="{{height}}"
         class="img-responsive con10t-image-fromentityid">

    <!-- Or show an image from an url / src -->
    <img ng-if="src" src="{{src}}"
         alt="{{alt}}"
         width="{{width}}"
         height="{{height}}"
         class="img-responsive con10t-image-fromsrc">
    
    <div ng-if="showCaption" class="caption" ng-transclude></div>

</div>