<div class="row" style="margin-top: 0;" ng-controller="RegisterController">

    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>{{'register_register'|transl8}}</h2>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-12 well">

        <div>
            {{'register_please_fill_out'|transl8}}
        </div>
        <br>

        <form novalidate show-validation class="form-horizontal register-form" role="form">

            <div class="form-group">
                <label class="col-sm-4 control-label">{{'ui_username'|transl8}}*</label>
                <div class="col-sm-8">
                    <input required type="text" class="form-control" placeholder="{{'ui_username'|transl8}}"
                           ng-model="user.username">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">{{'ui_password'|transl8}}*</label>
                <div class="col-sm-4">
                    <input required type="password" class="form-control" placeholder="{{'ui_password'|transl8}}"
                           ng-model="user.password">
                </div>
                <div class="col-sm-4">
                    <input required type="password" class="form-control" placeholder="{{'ui_repeat_password'|transl8}}"
                           ng-model="user.passwordValidation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Name*</label>
                <div class="col-sm-4">
                    <input required type="text" class="form-control" placeholder="{{'ui_first_name'|transl8}}"
                           ng-model="user.firstname">
                </div>
                <div class="col-sm-4">
                    <input required type="text" class="form-control" placeholder="{{'ui_surname'|transl8}}"
                           ng-model="user.lastname">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">eMail*</label>
                <div class="col-sm-8">
                    <input required type="email" class="form-control" placeholder="eMail" ng-model="user.email">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <input required type="email" class="form-control" placeholder="{{'ui_repeat'|transl8}}"
                           ng-model="user.emailValidation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Institution</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Institution" ng-model="user.institution">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Homepage</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Homepage" ng-model="user.homepage">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{'ui_address'|transl8}}*</label>
                <div class="col-sm-3">
                    <input required type="text" class="form-control" placeholder="{{'ui_zip'|transl8}}"
                           ng-model="user.zip">
                </div>
                <div class="col-sm-5">
                    <input required type="text" class="form-control" placeholder="{{'ui_place'|transl8}}"
                           ng-model="user.place">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <input required type="text" class="form-control" placeholder="{{'ui_street'|transl8}}"
                           ng-model="user.street">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{'ui_country'|transl8}}*</label>
                <div class="col-sm-8">
                    <idai-country-picker model="user.country"></idai-country-picker>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{'ui_phone'|transl8}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="{{'ui_phone'|transl8}}" ng-model="user.phone">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.iAmHuman" ng-true-value="'humanIAm'">
                            {{'ui_nomachine'|transl8}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="reset" class="btn btn-default">{{'ui_reset'|transl8}}</button>
                    <button type="submit" ng-click="submit()" class="btn btn-primary">{{'navbar_sign_up'|transl8}}
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>