<style>
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    /*
    * And with max cross-browser enabled.
    * Nobody should ever write this by hand.
    * Use a preprocesser with autoprefixing.
    */
    .row.is-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row.is-flex > [class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
</style>

<div class="con10t-media-tree">
    <div class="row header">
        <img ar-img ng-if="hasTeaser"
             class="header-teaser"
             img-id="{{ headerTeaser }}"
             img-width="800">
        <h1 class="text-center">{{ title }}</h1>
        <div class="row is-flex">
            <figure ng-repeat="image in firstBatch track by $index" class="col-sm-{{ cols }}">

                <a href="{{ arachneUrl }}/entity/{{ image.entityid }}">
                    <img ar-img
                         img-id="{{image.entityid}}"
                         img-height="200"
                         class="header-image-centered-cropped">
                </a>
                <figcaption>
                    {{ image.title }}
                </figcaption>
            </figure>
        </div>
        <div class="row is-flex" ng-if="images.length > 3">
            <figure ng-repeat="image in secondBatch track by $index" class="col-sm-{{ cols }}"  style="margin-top: .5em">

                <a href="{{ arachneUrl }}/entity/{{ image.entityid }}">
                    <img ar-img
                         img-id="{{image.entityid}}"
                         img-height="200"
                         class="header-image-centered-cropped">
                </a>
                <figcaption>
                    {{ image.title }}
                </figcaption>
            </figure>
        </div>
    </div>
</div>