<form>
	<div class="modal-header">
		<h4 class="modal-title">{{ 'ui_create_link' | transl8}}:
		</h4>
	</div>
	<div class="modal-body">
		{{ 'ui_target' | transl8}}-URL:
		<div class="form-group">
			<input autofocus type="label" class="form-control" ng-model="link.url" placeholder="http://www.example.com">
		</div>
		{{ 'ui_linkdescription' | transl8}}:
		<div class="form-group">
			<input autofocus type="label" class="form-control" ng-model="link.description" placeholder="">
		</div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary"
    			type="submit"
    			ng-click="link.url && link.description && $close(link)"
    			ng-class="{ disabled: !link.url || !link.description }"
    			value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">{{ 'ui_dismiss' | transl8}}</button>
	</div>
</form>