<div class="row" style="margin-top: 0;" ng-controller="DataexportController">
    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>Administration</h2>
    </div>


    <div class="col-md-6 col-md-offset-3 col-xs-12">
		
        <h3>Data-Export Status:</h3>


        <div class="row">

            <div
                    class="panel "
                    ng-repeat="(taskID, task) in status.tasks"
                    ng-class="{
                        'panel-success': task.status == 'finished',
                        'panel-danger': task.status == 'error',
                        'panel-default': task.status == 'enqueued',
                        'panel-info': task.status == 'running'}"
                >
                <div class="panel-heading">
                    Export<div class="badge pull-right">Status: {{task.status}}</div>
                </div>

                <div class="panel-body">

                    <table>
                        <tr>
                            <td>Owner</td>
                            <td>{{task.owner}}</td>
                        </tr>
                        <tr>
                            <td>Created At</td>
                            <td>{{task.created_at}}</td>
                        </tr>
                        <tr>
                            <td>Started At</td>
                            <td>{{task.started_at}}</td>
                        </tr>
                        <tr>
                            <td>MediaType</td>
                            <td>{{task.mediaType}}</td>
                        </tr>
                        <tr>
                            <td>Url</td>
                            <td><a href="{{task.url}}">{{task.url}}</a></td>
                        </tr>
                        <tr ng-if="task.status == 'finished'">
                            <td>Download</td>
                            <td><a href="{{arachneSettings.dataserviceUri}}/export/file/{{taskID}}">Download File</a></td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>