<div class="row" style="margin-top: 0;" ng-controller="DataexportController">
    <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
        <h2>Administration</h2>
    </div>


    <div class="col-md-6 col-md-offset-3 col-xs-12" ng-if="user">
		
        <h3>{{"ui_data_export_status" | transl8}}</h3>

        <div class="row">

            <div class="col-md-12" ng-if="status.error">
                <div class="alert alert-danger">{{status.error | transl8}}</div>
            </div>

            <div class="col-md-12" ng-if="!status.error && !hasTasks()">{{'ui_data_export_none' | transl8}}</div>

            <div
                    ng-if="!status.error"
                    class="panel export-job"
                    ng-repeat="(taskID, task) in status.tasks"
                    ng-class="{
                        'panel-success': task.status == 'finished',
                        'panel-danger': task.status == 'error',
                        'panel-warning': task.status == 'aborted',
                        'panel-default': task.status == 'enqueued',
                        'panel-info': task.status == 'running'}"
                >
                <div class="panel-heading">
                    Export {{'ui_' + task.conversionType | transl8}} "{{task.name}}" {{'ui_to' | transl8}} {{task.mediaType}}
                    <div class="badge pull-right" ng-class="{'blink': task.status == 'running'}">
                        {{'ui_status' | transl8}}: {{'ui_data_export_status_' + task.status | transl8}}
                    </div>
                </div>

                <div class="panel-body row">
                    <div class="col-md-11">
                        <table>
                            <tr>
                                <td>{{'ui_owner' | transl8}}</td>
                                <td>
                                    {{task.owner}}
                                    <div ng-show="task.owner === user.ui_data_export_other_user" class="alert alert-warning">
                                        {{'ui_data_export_other_user' | transl8}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'ui_created_at' | transl8}}</td>
                                <td>{{task.created_at}}</td>
                            </tr>
                            <tr>
                                <td>{{'ui_started_at' | transl8}}</td>
                                <td>{{task.started_at}}</td>
                            </tr>
                            <tr>
                                <td>{{'ui_media_type' | transl8}}</td>
                                <td>{{'ui_' + task.conversionType | transl8}} {{'ui_to' | transl8}} {{task.mediaType}}</td>
                            </tr>
                            <tr>
                                <td>{{'ui_url' | transl8}}</td>
                                <td>
                                    <a href="{{restoreUrl(task.requestUrl)}}">{{'ui_restore_call' | transl8}}</a>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-md-1" ng-if="task.status == 'finished'">
                        <form action="{{dataserviceUri + '/export/file/' + taskID}}" method="get">
                            <button type="submit" class="btn btn-success btn-sm pull-right">{{'ui_download' | transl8}}</button>
                        </form>
                    </div>
                    <div class="col-md-1" ng-if="task.status == 'running' || task.status == 'enqueued'">
                        <button ng-click="cancelTask(taskID)" type="submit" class="btn btn-danger btn-sm pull-right">{{'ui_cancel' | transl8}}</button>
                    </div>
                    <div class="col-md-1" ng-if="task.status == 'error' || task.status == 'aborted'">
                        <button ng-click="clearTask(taskID)" type="submit" class="btn btn-danger btn-sm pull-right">{{'ui_delete' | transl8}}</button>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>