<div ng-controller="WelcomePageController">

    <div id="homepage-search">

        <div class="text-center"
             id="arachne-search">

            <img id="arachne-logo" src="img/arachnelogo.png">

            <h1 class="text-left"
                id="arachne-brand">
                <div id="brand-top">iDAI.objects</div>
                <div id="brand-bottom">arachne</div>
            </h1>

            <idai-search id="start-page-search"></idai-search>

            <br>

            <ul class="list-inline">
                <li ng-show="entityCount">
                    {{'ui_total'|transl8}}
                    <a href="search?q=*"><span style="margin: 0 5px 0 3px; color: #fff;" ng-bind="entityCount | transl8Number"></span></a>{{'ui_entries'|transl8}}
                </li>
                <li>
                    <a href="search">
                        <span class="glyphicon glyphicon-th"></span> {{'startsite_projects'|transl8}}
                    </a>
                </li>
                <li>
                    <a href="map" style="outline: none;">
                        <span class="glyphicon glyphicon-map-marker"></span> {{'ui_map'|transl8}}
                    </a>
                </li>
                <li>
                    <a href="info/faq" style="outline: none;"><span
                            class="glyphicon glyphicon-question-sign"></span>
                        FAQ</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="categories-teaser" class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a href="categories">
                    <img src="img/frontpage/categories/categories.jpg"
                         alt="Kategorienübersicht"
                         class="img-responsive">
                    <div class="category-title">
                        {{'startsite_show_all_categories'|transl8}}
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="category/?c=objekt">
                    <img src="img/frontpage/categories/einzelobjekte.jpg"
                         alt="Einzelobjekte"
                         class="img-responsive">
                    <div class="category-title">
                        {{'type_objekt'|transl8}}
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="category/?c=marbilder">
                    <img src="img/frontpage/categories/bilder.jpg"
                         alt="Bilder"
                         class="img-responsive">
                    <div class="category-title">
                        {{'type_marbilder'|transl8}}
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="category/?c=relief">
                    <img src="img/frontpage/categories/szenen.jpg"
                         alt="Bauwerksteile"
                         class="img-responsive">
                    <div class="category-title">
                        {{'type_relief'|transl8}}
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="category/?c=topographie">
                    <img src="img/frontpage/categories/topographien.jpg"
                         alt="Bauwerksteile"
                         class="img-responsive">
                    <div class="category-title">
                        {{'type_topographie'|transl8}}
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="category/?c=buch">
                    <img src="img/frontpage/categories/buecher.jpg"
                         alt="Bücher"
                         class="img-responsive">
                    <div class="category-title">
                        {{'type_buch'|transl8}}
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="projects-teaser" class="container-fluid">

        <div class="row"
             ng-repeat="project in projects track by $index">

            <div class="row is-flex" ng-if="$index % 2 === 0">
                <div class="col-md-6 teasertext">
                    <h2>{{ project.title[lang] }}</h2>
                    <a href="project/{{ project.id }}">
                        {{ project.teaser[lang] }}
                    </a>
                </div>
                <div class="col-md-6 teaserimage-right">
                    <a href="project/{{ project.id }}">
                        <img src="con10t/frontimages/{{ project.img }}"
                             alt="{{ project.title }}"
                             class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="row is-flex" ng-if="$index % 2 !== 0">
                <div class="col-md-6 teaserimage-left">
                    <a href="project/{{ project.id }}">
                        <img src="con10t/frontimages/{{ project.img }}"
                             alt="{{ project.title }}"
                             class="img-responsive">
                    </a>
                </div>
                <div class="col-md-6 teasertext">
                    <h2>{{ project.title[lang] }}</h2>
                    <a href="project/{{ project.id }}">
                        {{ project.teaser[lang] }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row all-projects">
            <div class="col-md-12">
                <a href="projects" class="btn btn-default btn-lg">
                    {{'startsite_show_all_projects'|transl8}}
                </a>
            </div>
        </div>

    </div>

</div>