<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{'ui_download_as' | transl8}}&nbsp;{{mode.toUpperCase()}}</h4>
</div>
<div class="modal-body" ng-init="reset()">

    <div class="alert" ng-show="message" ng-class="isSuccess() ? 'alert-success' : 'alert-danger'">{{message}}</div>

    <p>{{'ui_download_select' | transl8 }}:</p>

    <form class="form-inline" role="form">
        <div class="row">

            <div class="form-group space-right col-sm-offset-1" ng-repeat="format in formats">
                <div class="radio">
                    <label class="radio-inline control-label">
                        <input type="radio" ng-click="changeMode(format)" name="downloadFormat" ng-checked="format === 'csv'">
                        {{format.toUpperCase()}}
                    </label>
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-offset-1">
                <button ng-show="isSuccess() === null" class="btn btn-primary" ng-click="downloadAs()">{{'ui_download' | transl8}}</button>
                <button ng-show="isSuccess()" class="btn btn-primary" ng-click="cancel()">{{'ui_ok' | transl8}}</button>
                <button class="btn btn-default" ng-click="cancel()">{{'ui_cancel' | transl8 }}</button>
                <a style="display:none" target="_blank" id="hiddenDownloadLink">GET DOWNLOAD</a>
            </div>
        </div>

    </form>
</div>
