<!-- Ausgewählte Facetten -->
<div ng-if="activeFacets.length > 0">
    <h5 class="text-muted uppercase"><strong>{{'entity_active_filters' | transl8}}</strong></h5>
    <a ng-repeat="facet in activeFacets"
            ng-click="removeFacet(facet.key)"
            class="btn btn-sm btn-block btn-primary linethrough-hover">
        <i>{{facet.key | transl8}}</i><br>
        <strong>{{facet.value}}</strong>
    </a>
</div>

<!-- Andere Restriktionen -->
<div ng-if="currentQuery.restrict" style="margin-top:15px;">
    <a ng-href="{{route}}/{{currentQuery.removeParam('restrict').toString()}}"
        class="btn btn-sm btn-block btn-warning linethrough-hover"
        style="white-space:normal;">
        <i>{{'ui_restricted_entities' | transl8}}</i><br>
        <strong style="text-transform:capitalize;">{{currentQuery.restrict | transl8}}</strong>
    </a>
</div>

<!-- Auswählbare Facetten -->
<small ng-if="entityCount > 2">
    <h5 class="text-muted uppercase" ng-hide="entityCount < 2"><strong>{{'ui_filter_plural' | transl8}}</strong></h5>

        <div ng-repeat="facet in defaultFacets" class="panel panel-multi panel-default facet {{facet.name}}">
            <div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
                <h5 class="panel-title">
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
                    <span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>
                    &nbsp;{{facet.name | transl8 }}
                </h5>
            </div>
            <ul class="list-unstyled panel-body-small" ng-show="facet.open">
                <li ng-repeat="facetValue in facet.values" class="facet-value">
                    <a ar-scoped-href="search{{currentQuery.addFacet(facet.name,facetValue.value).removeParam('offset').toString()}}">
                        <strong class="pull-right text-muted">{{facetValue.count | transl8Number}}</strong>
                        {{facetValue.value | stripCoords}}
                    </a>
                </li>
                <li ng-show="facet.hasMore" class="more">
                    <i><a href="#" ng-click="loadMoreFacetValues(facet)">{{ 'ui_show_more' | transl8 }}</a></i>
                </li>
            </ul>
        </div>

        <div ng-repeat="(groupname, facetgroup) in facetGroups" class="panel panel-default panel-multi">
            <div class="panel-heading" ng-if="!groupname.startsWith('facet_') && groupname != 'group_facet_agg_geogrid'">
                <h3 class="panel-title">{{ 'group_facet_' + groupname | transl8 }}</h3>

            </div>
            <div ng-repeat="facet in facetgroup"
                    ng-if="facet.values && facet.name != 'facet_geo'"
                    ng-hide="resultSize < 2"
                    class="panel-default facet {{facet.name}}">

            <div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
                <h5 class="panel-title">
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
                    <span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>
                    &nbsp;{{facet.name | transl8 }}{{facetsAppend[facet.name]}}
                </h5>
            </div>
            <ul class="list-unstyled facet" ng-show="facet.open">
                <li ng-repeat="facetValue in facet.values">
                    <a style="cursor:pointer" ng-click="addFacet(facet.name, facetValue.value)">
                        <strong class="pull-right text-muted">{{facetValue.count | number}}</strong>
                        {{facetValue.value | stripCoords}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</small>
