<div ng-if="overlays">
    <h5 class="text-muted uppercase">
        <strong>{{'ui_map_menu_overlays_heading' | transl8}}</strong>
    </h5>

    <!-- Gruppen von Overlays in einem togglebaren Menü -->
    <div ng-if="overlays.groups">
        <div ng-repeat="group in overlays.groups">
            <h5 class="text-muted">{{group.name}}</h5>
            <div class="checkbox" ng-repeat="overlay in group.overlays">
                <label>
                    <input type="checkbox" value="" ng-model="selectedOverlays[overlay.key]" ng-change="toggleOverlay(overlay.key)">
                    {{overlay.name}}&nbsp;<a ng-if="overlay.attributionUrl" href="{{overlay.attributionUrl}}" target="_blank" title="Zur Quelle des Layers"><span class="glyphicon glyphicon-new-window" style="font-size:xx-small;color:grey"></span></a>
                </label>
            </div>
        </div>
    </div>

    <!-- Liste von Overlays als einzelne Buttons -->
    <div ng-if="!overlays.groups">
        <div class="checkbox" ng-repeat="overlay in overlays">
            <label>
                <input type="checkbox" value="" ng-model="selectedOverlays[overlay.key]" ng-change="toggleOverlay(overlay.key)">
                {{overlay.name}}
            </label>
        </div>
    </div>
</div>
