<div ng-if="entityCount == 0" class="alert alert-info">
    {{'ui_no_places_found' | transl8}}.
</div>

<div ng-if="entitiesTotal > 0" style="margin-bottom:10px;position:relative">

    <small>

        <span>
            <strong>{{ entityCount | number }}</strong>

            <span ng-if="entityCount>1">{{'ui_object_plural' | transl8}}</span>
            <span ng-if="entityCount==1">{{'ui_object' | transl8}}</span>

            <span ng-if="placesCount">
                {{'ui_at' | transl8}}

                <strong>{{ placesCount |number }}</strong>
                {{(placesCount > 1 ? 'ui_place_plural_dative' : 'ui_place') | transl8}}
            </span>
        </span>

        <br><br><br>

        <span>
            <a href="{{getScopePath()}}search{{currentQuery.removeParams(['fl', 'lat', 'lng', 'zoom', 'overlays', 'baselayer']).toString()}}"
               class="btn btn-primary btn-sm btn-block">
                {{'ui_objects_shown' | transl8}}:
                <i class="glyphicon glyphicon-search"> </i>
            </a>
        </span>

    </small>

    <div style="float: right;margin-top: 10px;">
        <span title="{{'ui_map_link_heading' | transl8}}" class="clickable glyphicon glyphicon-link" ng-click="showLinkModal()"></span>
    </div>

    <!--
    <span>
        {{'ui_objects_total' | transl8}}: <strong>{{ entitiesTotal | number }}</strong><br>
    </span>
    -->
</div>
