<div hide-footer class="row map-fullscreen" tiny-footer>

    <div id="menu" class="col-sm-2">
        <div class="well well-sm" ng-if="searchScope() !== null">
			<div ar-search-scope scope="searchScope()"></div>
        </div>

        <div class="well well-sm" ng-if="searchScope() === null" class="text-muted uppercase">
            <div class="search-scope-title">{{'ui_gridmap_heading'|transl8}}</div>
        </div>

        <div con10t-map-menu-search-info type="grid" link-to-search="false"></div>

        <div con10t-map-menu-facet-search></div>
        <div con10t-map-menu-legend></div>
    </div>

    <div ar-map-nav ></div>

    <div con10t-map class="col-sm-10 rhs" id="map" limit="500"></div>

</div>