<h5 class="text-muted uppercase">
    <strong>{{'entity_catalogs'|transl8}}</strong>
</h5>

<div ng-repeat="catalogEntry in catalogEntrySets" class="panel panel-default">
    <div class="panel-heading">
        <a ng-if="catalogEntry.projectId" ng-href="project/{{catalogEntry.projectId}}">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-globe" style="font-size: 10px"></span>
                {{catalogEntry.catalogTitle}}<br>
                <small>{{catalogEntry.catalogAuthor}}</small>
            </h3>
        </a>
        <a ng-if="!catalogEntry.projectId" ng-href="catalog/{{catalogEntry.catalogId}}">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-inbox" style="font-size: 10px"></span>
                {{catalogEntry.catalogTitle}}<br>
                <small>{{catalogEntry.catalogAuthor}}</small>
            </h3>
        </a>
    </div>
    <div class="list-group" ng-if="catalogEntry.entries[0] && catalogEntry.entries.length > 0">
        <a ng-repeat="entry in catalogEntry.entries" class="list-group-item"
                 ng-href="catalog/{{entry.catalogId}}/{{entry.id}}">
            <span class="glyphicon glyphicon-file"></span>
            {{entry.label}}
        </a>
    </div>
</div>

<button type="button" class="list-group-item btn" style="text-align: center" ng-click="createEntry()">
    <span class="text-primary">
	    <span class="glyphicon glyphicon-plus"></span> {{'add_entity_to_catalogue'|transl8}}
    </span>
</button>
