<form>
	<div class="modal-header">
		<h4 class="modal-title" ng-if="!edit">{{ 'catalog_create_entry' | transl8 }}:</h4>
		<h4 class="modal-title" ng-if="edit">{{'catalog_edit_entry' | transl8}}:</h4>
	</div>
	<div class="modal-body">
		{{ 'catalog_entry_title' | transl8}}:
		<div class="form-group">
			<input autofocus type="label" class="form-control" ng-model="entry.label" placeholder="Überschrift">
		</div>
		{{ 'catalog_entry_entity' | transl8 }}: <small>({{ 'ui_optional' | transl8 }})</small>
		<div class="form-group">
			<idai-picker search-uri="data/search"
						 result-field="entities"
						 total-field="size"
						 selected-item="entity" />
		</div>
		{{ 'catalog_description' | transl8 }}: <small>(Optional)</small>
		<div ar-markdown-text-editor markdown-text="entry.text" placeholder="{{ 'catalog_description' | transl8 }}"></div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary"
    			type="submit"
    			ng-click="(!entry.label && !entity.title) || $close(entry, entity)"
    			ng-class="{ disabled: (!entry.label && !entity.title) }"
    			value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">{{ 'ui_dismiss' | transl8}}</button>
	</div>
</form>