<div ng-cloak class="row"  ng-controller="EntityController">
    <ar-schemaorg-jsonld entity="entity"></ar-schemaorg-jsonld>


    <div ng-hide="entity.entityId || error" class="loading"></div>

    <div class="col-md-3" ng-show="entity.entityId">
        <!-- ENTER EDITOR Note: This is currently just a link to the editor of this entity in Arachne 3 -->
        <div ng-if="user.groupID >= 600 && entity.categoryKey">
            <a class="btn btn-default center-block" href="http://arachne.uni-koeln.de/arachne/index.php?view[mode]=edit&view[layout]={{entity.categoryKey}}_item&view[section]=Allgemein&view[category]=overview&search[data]=ALL&search[mode]=detail&search[match]=similar&view[active_tab]=overview&search[constraints][{{entity.categoryKey}}][searchSeriennummer]={{entity.internalId}}">
                <span class="glyphicon glyphicon-wrench"></span>
                {{"edit_button"|transl8}}
            </a>
        </div>

        <!-- CURRENT QUERY STATUS -->

        <div class="row">
            <div class="col-md-12">

                <div ng-if="resultSize">
                    <div ng-if="currentQuery.q || currentQuery.facets.length > 0" class="panel panel-default">

                        <div class="panel-heading">

                            <a ar-scoped-href="search{{currentQuery.removeParam('resultIndex').toString()}}"
                               class="btn btn-xs pull-right btn-primary">
                                <span class="glyphicon glyphicon-arrow-left"></span> {{"ui_to_search_result"|transl8}}
                            </a>

                            <div>
                                <strong class="text-muted uppercase small">{{"ui_current_query"|transl8}}</strong><br>
                                <span ng-if="!currentQuery.label">{{currentQuery.q}}</span>
                                <i ng-if="currentQuery.label">{{currentQuery.label}}</i>
                            </div>

                            <div ng-if="currentQuery.hasFacets()">
                                <strong class="text-muted uppercase small">{{"entity_active_filters"|transl8}}</strong>
                                <ul>
                                    <li ng-repeat="facet in currentQuery.facets">
                                        <small>
                                            <i>{{facet.key | transl8}}</i>
                                            <strong style="text-transform:capitalize;"> &nbsp; {{facet.value}}</strong>
                                        </small>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <ul class="list-group">

                            <a ng-if="prevEntity"
                               ar-scoped-href="entity/{{prevEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex-1).toString()}}"
                               class="list-group-item"
                               style="height:75px; overflow:hidden">
                                <div>
                                    <strong class="text-muted uppercase small">
                                        <span class="glyphicon glyphicon-chevron-left" style="color:black" ></span>
                                        &nbsp; {{"entity_previous_result"|transl8}}
                                    </strong>
                                </div>
                                <div ar-entity-title entity="prevEntity"></div>

                            </a>

                            <li class="list-group-item" ng-hide="nextEntitySearch.size < 2" >
                                <strong class="text-muted uppercase small">{{"entity_shown_result"|transl8}}</strong>
                                <form ng-submit="goToResultIndex(resultIndexInput)">
                                    <div class="input-group"
                                         ng-class="{'has-error':(resultIndexInput < 1 || resultIndexInput > resultSize)}">
                                        <input ng-model="resultIndexInput"
                                               type="number" size="4"
                                               class="form-control input-sm">
                                        <span class="input-group-addon" style="border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:0;"><small>{{ 'ui_of' | transl8 }}</small> <strong>{{resultSize|number}}</strong></span>
                                        <span ng-hide="resultIndex == resultIndexInput || resultIndexInput < 1 || resultIndexInput > resultSize" class="input-group-btn">
							    		<button class="btn btn-primary btn-sm" ng-click="goToResultIndex(resultIndexInput)">{{ 'ui_goto' | transl8}}</button>
							    	</span>
                                    </div>
                                </form>
                            </li>

                            <a ng-if="nextEntity"
                               ar-scoped-href="entity/{{nextEntity.entityId}}{{currentQuery.setParam('resultIndex',resultIndex+1).toString()}}"
                               class="list-group-item text-right"
                               style="height:75px; overflow:hidden">
                                <div>
                                    <strong class="text-muted uppercase small">
                                        &nbsp; {{"entity_next_result"|transl8}}
                                        <span class="glyphicon glyphicon-chevron-right" style="color:black" ></span>
                                    </strong>
                                </div>
                                <div ar-entity-title entity="nextEntity"></div>

                            </a>

                        </ul>

                    </div>

                </div>

            </div>
        </div>
        <!-- END CURRENT QUERY STATUS -->

        <!-- Karte -->
        <div ng-if="entity.places">
            <h5 class="text-muted uppercase"><strong>{{'entity_places'|transl8}}</strong></h5>
            <div class="well" ar-entity-map places="entity.places" id="entityMap" style="height:200px;"></div>
        </div>

        <!-- CATALOG ENTRIES -->
        <ar-catalog-occurences  ng-if="user.username" entity="entity"></ar-catalog-occurences>
    </div>

    <div ng-show="entity.entityId" class="col-md-9">
        <div class="alert alert-info" ng-if="entity.message" style="padding: 15px;">
            <span class="glyphicon glyphicon-info-sign"></span> {{entity.message}}
        </div>
        <div class="entityheader">
            <ar-entity-header entity="entity"></ar-entity-header>
        </div>

        <div class="row">
            <!-- CONTENT SECTION -->
            <div class="col-md-8">
                <div ar-entity-sections entity="entity"></div>
            </div>
            <!-- END CONTENT SECTION -->

            <!-- CONTEXT & IMAGE SECTION -->
            <div class="col-md-4">

                <div ar-imageslider ng-if="entity.images" entity="entity" current-query="currentQuery"></div>

                <ar-entity-links entity="entity"></ar-entity-links>

                <div ng-if="contextQuery" ng-show="contextSize">
                    <h3>
                        <a ng-href="search{{contextQuery.toString()}}">
                            {{'entity_linked_objects'|transl8}}
                            <small>({{contextSize}})</small>
                        </a>
                    </h3>
                    <div ar-facet-browser
                         query="contextQuery"
                         facet-name="facet_kategorie"
                         context-size="contextSize">
                    </div>
                </div>

            </div>
            <!-- END CONTEXT & IMAGE SECTION -->

        </div>

    </div>

</div>
