<strong>{{place.name}}</strong>

<div ng-if="listLength > 0">

    <br>
    <!-- small lists do not page -->
    <strong ng-if="listLength <= limit">
        {{listLength}} {{(listLength > 1 ? 'entity_linked_objects' : 'entity_linked_object') | transl8 | decapitalize}}
    </strong>

    <!-- bigger lists do page -->
    <strong ng-if="listLength > limit">
        {{listLength}} {{'entity_linked_objects' | transl8 | decapitalize}}:<br>
        <span ng-if="offset > 0">
            <span class="clickable small glyphicon glyphicon-chevron-left" ng-click="get(offset-3, limit)"></span>
        </span>
        <span ng-if="offset <= 0">
            <span class="clickable small glyphicon glyphicon-chevron-left text-muted"></span>
        </span>

        {{offset+1}}-{{(offset+limit > listLength) ? listLength : offset+limit}}

        <span ng-if="(offset + limit) < listLength">
            <span class="clickable small glyphicon glyphicon-chevron-right" ng-click="get(offset+3, limit)"></span>
        </span>
        <span ng-if="(offset + limit) >= listLength">
            <span class="clickable small glyphicon glyphicon-chevron-right text-muted"></span>
        </span>
    </strong>

    <ul style="margin-left:0px">
        <li ng-repeat="entity in shownEntities track by $index">
            <span ng-if="place.relation">{{ place.relation }}:</span>
            <a href="entity/{{entity.entityId}}" target="_blank">{{ entity.title }}</a>
        </li>


    </ul>
</div>

<div ng-if="(shownEntities.length>1) && place.query">
    <a href="search{{place.query.removeParams(['ghprec','bbox','lat', 'lng', 'zoom', 'overlays', 'baselayers']).toString()}}" target="_blank">
        {{'ui_showallobjects' | transl8}}
    </a>
</div>
