<div class="modal-header">
	<h4 class="modal-title">
		{{categoryFacetValueForContext.value}} <b class="text-info">verknüpft mit</b> {{entity.title}}
	</h4>
</div>
<div class="modal-body">
	<div ng-repeat="entity in entities">
		<div ng-if=" $index % 4 == 0" imagesrow class="imagesrow clearfix">
			<div ng-click="$dismiss()" arachneImageRequest="height" arachneImageHeight="300"  is-placeholder-if-empty="{{entities[$index].entityId}}" imageid="{{entities[$index].thumbnailId}}" link="entity/{{entities[$index].entityId}}" ng-click="setResultIndex(offset + $index)">
				<p><small>{{ entities[$index].title }}</small></p>
			</div>
			<div ng-click="$dismiss()" arachneImageRequest="height" arachneImageHeight="300"  is-placeholder-if-empty="{{entities[$index+1].entityId}}"   imageid="{{entities[$index+1].thumbnailId}}" link="entity/{{entities[$index+1].entityId}}" ng-click="setResultIndex(offset + $index+1)">
				<p><small>{{ entities[$index+1].title }}</small></p>
			</div>
			<div ng-click="$dismiss()" arachneImageRequest="height" arachneImageHeight="300"  is-placeholder-if-empty="{{entities[$index+2].entityId}}"   imageid="{{entities[$index+2].thumbnailId}}" link="entity/{{entities[$index+2].entityId}}" ng-click="setResultIndex(offset + $index+2)">
				<p><small>{{ entities[$index+2].title }}</small></p>
			</div>
			<div ng-click="$dismiss()" arachneImageRequest="height" arachneImageHeight="300"  is-placeholder-if-empty="{{entities[$index+3].entityId}}"   imageid="{{entities[$index+3].thumbnailId}}" link="entity/{{entities[$index+3].entityId}}" ng-click="setResultIndex(offset + $index+3)">
				<p><small>{{ entities[$index+3].title }}</small></p>
			</div>
	
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">OK</button>
</div>
