<form>
	<div class="modal-header">
		<h4 class="modal-title">{{'catalog_choose_catalog' | transl8}}:
		</h4>
	</div>
	<div class="modal-body">
		
		<div ng-if="catalogs.length == 0">
			<a href="catalog" ng-click="$dismiss()">{{ 'catalog_no_catalog' | transl8 }}</a>
		</div>
		<div id="custom-catalog">
			<div ng-repeat="catalog in catalogs" >
				<button class="btn btn-primary" type="submit" ng-click="$close(catalog)">{{ catalog.root.label }}</button><br><br>
		  	</div>
	  	</div>
	</div>
	<div class="modal-footer">
    	<button class="btn btn-default" ng-click="$dismiss()">{{'ui_dismiss' | transl8}}</button>
	</div>
</form>