<form>
	<div class="modal-header">
		<h4 class="modal-title">Neues Notizbuch anlegen:
		</h4>
	</div>
	<div class="modal-body">
		Name des neuen Notizbuchs:
		<div class="form-group">
			<input autofocus type="name" class="form-control" ng-model="name" placeholder="Name">
		</div>
		Kommentar:
		<div class="form-group">
			<textarea type="commentary" class="form-control" ng-model="commentary" placeholder="Kommentar"></textarea>
		</div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary" type="submit" ng-click="$close(name, commentary)" value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
	</div>
</form>