<form>
	<div class="modal-header">
		<h4 class="modal-title">Bitte den Katalog wählen in dem der Eintrag angelegt werden soll:
		</h4>
	</div>
	<div class="modal-body">
		
		<div ng-if="catalogs.length == 0">
			<a href="catalog" ng-click="$dismiss()">Keine Kataloge vorhanden. Bitte erst einen Anlegen!</a>
		</div>
		<div id="custom-catalog">
			<div ng-repeat="catalog in catalogs" >
				<button class="btn btn-primary" type="submit" ng-click="$close(catalog)">{{ catalog.root.label }}</button><br><br>
		  	</div>
	  	</div>
	</div>
	<div class="modal-footer">
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
	</div>
</form>