<div class="modal-header">
			<h4 class="modal-title">Neue Liste anlegen:
			</h4>
		</div>
		<div class="modal-body">
			Listenname:
			<div class="form-group">
				<input type="name" class="form-control" ng-model="name" placeholder="Name">
			</div>
			Kommentar:
			<div class="form-group">
				<input type="commentary" class="form-control" ng-model="commentary" placeholder="Kommentar">
			</div>
		</div>
		<div class="modal-footer">
            	<button class="btn btn-primary" ng-click="$close(name, commentary)">OK</button>
            	<button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>