<form>
	<div class="modal-header">
		<h4 class="modal-title">Neue Eintrag, bitte ArachneId angeben:
		</h4>
	</div>
	<div class="modal-body">
		ArachneId:
		<div class="form-group">
			<input autofocus type="arachneId" class="form-control" ng-model="arachneId" placeholder="arachneId">
		</div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary" type="submit" ng-click="$close(arachneId)" value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
	</div>
</form>