<div class="modal-header">
	<h4 class="modal-title">Neue Notiz anlegen:</h4>
</div>
<div class="modal-body">
	<div>
		Notizbuch:
		<div class="btn-group">
			<select class="form-control" ng-model="selected" ng-options="item.name for item in items">
			</select>
		</div>
	</div>
	<div class="form-group">
		Kommentar:
		<textarea type="commentary" class="form-control" ng-model="commentary"></textarea>
	</div> 
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$close({ 'list': selected, 'commentary': commentary})">OK</button>
	<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
