<form>
	<div class="modal-header">
		<h4 class="modal-title">{{ 'catalog_new_catalog' | transl8 }}:
		</h4>
	</div>
	<div class="modal-body">
		{{ 'catalog_title' | transl8 }}:
		<div class="form-group">
			<input autofocus type="label" class="form-control" ng-model="label" placeholder="Überschrift">
		</div>
		{{ 'catalog_author' | transl8 }}:
		<div class="form-group">
			<textarea type="author" class="form-control" ng-model="author" placeholder="user.username"></textarea>
		</div>
		{{ 'catalog_description' | transl8 }}:
		<div class="form-group">
			<textarea type="text" class="form-control" ng-model="text" placeholder="Beschreibung"></textarea>
		</div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary" type="submit" ng-click="$close(label, text, author)" value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">{{'ui_cancel' | transl8 }}</button>
	</div>
</form>