<div class="modal-header">
	<h4 class="modal-title" ng-if="edit">{{ 'catalog_edit' | transl8 }}:</h4>
	<h4 class="modal-title" ng-if="!edit">{{ 'catalog_new_catalog' | transl8 }}:</h4>
</div>
<div class="modal-body">
	{{ 'catalog_title' | transl8 }}:
	<div class="form-group">
		<input type="label" class="form-control" ng-model="catalog.root.label" placeholder="Überschrift">
	</div>
	{{ 'catalog_author' | transl8 }}:
	<div class="form-group">
		<input type="text" class="form-control" ng-model="catalog.author">
	</div>
	{{ 'catalog_description' | transl8 }}:
	<div class="form-group">
		<input type="text" class="form-control" ng-model="catalog.root.text" placeholder="Beschreibung">
	</div>
	<div ng-if="edit">
		{{ 'catalog_visibility' | transl8 }}:
		<div class="form-group">
			<select ng-model="catalog.public"
					class="form-control"
					convert-to-bool>
				<option value="false">{{ 'catalog_visibility_private' | transl8 }}</option>
				<option value="true">{{ 'catalog_visibility_public' | transl8 }}</option>
			</select>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary"
			ng-click="(!catalog.root.label || !catalog.author) || $close(catalog)"
			ng-class="{disabled:!catalog.root.label || !catalog.author}">
		OK
	</button>
	<button class="btn btn-default" ng-click="$dismiss()">{{'ui_dismiss' | transl8}}</button>
</div>