<div class="modal-header">
	<h4 class="modal-title">Notizbuch bearbeiten:
	</h4>
</div>
<div class="modal-body">
	Name des Notizbuchs:
	<div class="form-group">
		<input type="name" class="form-control" ng-model="bookmarksList.name" placeholder="Name">
	</div>
	Kommentar:
	<div class="form-group">
		<input type="commentary" class="form-control" ng-model="bookmarksList.commentary" placeholder="Kommentar">
	</div>
</div>
<div class="modal-footer">
    	<button class="btn btn-primary" ng-click="$close(bookmarksList.name, commentary)">OK</button>
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
</div>