<form>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ 'catalog_help' | transl8 }}: {{ 'catalog_help_page_title_' + currentPage | transl8 }}
            ({{currentPage + 1}} / {{totalPages}})
        </h4>
    </div>
    <div class="modal-body" style="height: 540px;">
        <div style="margin-bottom: 30px;">
            {{ 'catalog_help_page_text_' + currentPage | transl8 }}
            <span ng-if="currentPage == 2">
                <a href="{{ 'catalog_help_markdown_link_url' | transl8 }}" target="_blank">
                    {{ 'catalog_help_markdown_link_description' | transl8 }}
                    <span class="glyphicon glyphicon-new-window" style="font-size: 10px; margin-left: 3px; top: 0px;"></span>
                </a>
            </span>
        </div>
        <div ng-repeat="i in totalPages | range track by $index">
            <div ng-show="$index == currentPage"><img ng-src="img/edit_catalog_help/page_{{$index}}.gif"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="previousPage()" ng-class="{ disabled: currentPage == 0 }">
            <span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px; top: 2px;"></span>
            {{ 'catalog_help_previous' | transl8 }}
        </button>
        <button class="btn btn-primary" ng-click="nextPage()" ng-class="{ disabled: currentPage == totalPages - 1 }">
            {{ 'catalog_help_next' | transl8 }}
            <span class="glyphicon glyphicon-arrow-right" style="margin-left: 5px; top: 2px;"></span>
        </button>
        <button class="btn btn-default" ng-click="$close()">{{ 'ui_close' | transl8 }}</button>
    </div>
</form>