<form>
	<div class="modal-header">
		<h4 class="modal-title" ng-if="!edit">Neuen Eintrag anlegen:</h4>
		<h4 class="modal-title" ng-if="edit">Eintrag bearbeiten:</h4>
	</div>
	<div class="modal-body">
		Überschrift des <span ng-if="!edit">neuen </span>Eintrags
		<div class="form-group">
			<input autofocus type="label" class="form-control" ng-model="entry.label" placeholder="Überschrift">
		</div>
		Entity-ID <small>(Optional)</small>
		<div class="form-group">
			<input autofocus type="arachneId" class="form-control" ng-model="entry.arachneEntityId" placeholder="Entity ID">
		</div>
		Katalogtext / Notiz <small>(Optional)</small>
		<div ar-markdown-text-editor markdown-text="entry.text" placeholder="Katalogtext"></div>
	</div>
	<div class="modal-footer">
    	<input class="btn btn-primary"
    			type="submit"
    			ng-click="$close(entry)"
    			ng-class="{ disabled: !entry.label }"
    			value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
	</div>
</form>