<form>
	<div class="modal-header">
		<h4 class="modal-title"><b>Index:</b> {{ facetName | transl8 }} </h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="btn-group" role="group">
					  <button type="button" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
					  <button type="button" class="btn btn-default" ng-disabled="true">{{currentPage}}/{{numPages}}</button>
					  <button type="button" class="btn btn-default" ng-disabled="currentPage >= facetIndex.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="currentPage=gotoPage">Go to Page:</button>
				      </span>
				      <input type="text" class="form-control" ng-model="gotoPage">
				</div><!-- /input-group -->
			</div>
		</div>
    	<div class="row">
    		<div class="col-md-12">
		    	<ul>
					<div ng-repeat="item in facetIndex | startFrom:currentPage*pageSize | limitTo:pageSize">
			  			<a type="button" href="/search?q=*&fq={{facetName}}:'{{item}}'" class="list-group-item" ng-click="$dismiss()">{{item}}</a>
				    </div>
			    </ul>
			</div>
		</div>
	<div class="modal-footer">
    	<input class="btn btn-primary"
    			type="submit" ng-click="$dismiss()"
    			value="OK">
    	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
	</div>
</form>