<div class="modal-header">
	<button type="button" class="close"  ng-click="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Passwort vergessen</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="resetPassword" ng-submit="sendForm()">
		<div class="form-group" ng-class="{ 'has-error': contactForm.name.$invalid }">
        	<label class="col-md-2 col-md-offset-1" for="name" style="text-align: right;">Username </label>
        	<div class="col-md-7">
        		<input type="text" name="username" ng-model="usrData.username" class="form-control" placeholder="Username" required />
        	</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': contactForm.email.$invalid }">
        	<label class="col-md-2 col-md-offset-1" for="name" style="text-align: right;">E-Mail </label>
        	<div class="col-md-7">
        		<input type="email" name="email" ng-model="usrData.email" class="form-control" placeholder="E-Mail" required />
        	</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': contactForm.name.$invalid }">
        	<label class="col-md-2 col-md-offset-1" for="name" style="text-align: right;">Name </label>
        	<div class="col-md-7">
        		<input type="text" name="name" ng-model="usrData.name" class="form-control" placeholder="First & Last Name" required />
        	</div>
		</div>	
		<div class="form-group" ng-class="{ 'has-error': contactForm.name.$invalid }">
        	<label class="col-md-2 col-md-offset-1" for="name" style="text-align: right;">Zip </label>
        	<div class="col-md-7">
        		<input type="text" name="zip" ng-model="usrData.zip" class="form-control" placeholder="Zip" required />
        	</div>
		</div>	
		<button class="btn btn-primary col-md-offset-3" type="submit">Send</button>
	</form>
</div>

