<div class="modal-header">
	<h4 class="modal-title">Neuen Katalogtext eingeben:
	</h4>
</div>
<div class="modal-body">
	Überschrift des Eintrags:
	<div class="form-group">
		<input autofocus type="label" class="form-control" ng-model="entry.label">
	</div>
	Eintrag Text:
	<div class="form-group">
		<textarea class="form-control" ng-model="entry.text"></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$close(entry.label, entry.text)">OK</button>
    <button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>            	
</div>