<h4>{{heading}}</h4>

<div class="row">
    <div class="btn-group" role="group">
        <button class="btn btn-default clickable glyphicon {{orderGlyph}}" aria-hidden="true"
                ng-click="toggleListOrder()"></button>
        <button class="btn btn-success" aria-hidden="true" ng-click="selectAll()">Select all</button>
        <button class="btn btn-danger" aria-hidden="true" ng-click="deselectAll()">Deselect all</button>
    </div>
</div>

<div class="row">
    <span class="clickable glyphicon glyphicon-chevron-left"
          ng-click="decreaseOffset()"></span>
    ({{offset+1}}-{{(offset+ipp > itemList.length) ? itemList.length : offset + ipp}} / {{itemList.length}})
    <span class="clickable glyphicon glyphicon-chevron-right"
          ng-click="increaseOffset()"></span> {{selected.length}} selected.
</div>

<div class="row">
    <div ng-repeat="item in itemList.slice(offset, offset + ipp)">
        <div class="clickable" ng-click="toggleItem(item[0])">
            <span class="glyphicon {{(selected.indexOf(item[0]) >= 0) ? 'glyphicon-check' : 'glyphicon glyphicon-unchecked'}}"></span>
            {{item[1]}}
        </div>
    </div>
</div>