<div xmlns:color="http://www.w3.org/1999/xhtml">
  <h3>
    {{selectedPlace}}
  <span ng-if="getPlaceData(selectedPlaceId)['authSource'] == 'GAZ'">
    <a href="https://gazetteer.dainst.org/app/#!/show/{{getPlaceData(selectedPlaceId)['authId']}}"
       target="_blank">
      {{getPlaceData(selectedPlaceId)['name']}} <span class="glyphicon glyphicon-link"></span>
    </a>
  </span>
    <span ng-if="getPlaceData(selectedPlaceId)['authSource'] != 'GAZ'">
      {{getPlaceData(selectedPlaceId)['name']}}
    </span>
  </h3>

  <div class="row">
    <div class="col-md-6">
      <!-- Incoming -->
      <h4>
        <span class="glyphicon glyphicon-resize-small" style="color: blue"></span>: {{incomingCount}}

        <small ng-if="incomingCount > listItemLimit" class="align-center">
          <br>
          <span ng-if="offsetIncoming > 0">
            <span class="clickable small glyphicon glyphicon-chevron-left"
                  ng-click="adjustOffsetIncoming(-listItemLimit)"></span>
          </span>

          {{offsetIncoming+1}}-{{(offsetIncoming + listItemLimit > incomingCount) ? incomingCount : offsetIncoming +
          listItemLimit}}

          <span ng-if="(offsetIncoming + listItemLimit) < incomingCount">
            <span class="clickable small glyphicon glyphicon-chevron-right"
                  ng-click="adjustOffsetIncoming(listItemLimit)"></span>
          </span>
        </small>
      </h4>

      <div ng-repeat="value in listedIncoming">
        <div ng-click="selectionCallback({id: value['origin']['id']})" style="cursor: pointer">
          <span class="badge">{{value['weight']}}</span> {{value['origin']['name']}}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Outgoing -->
      <h4>
        <span class="glyphicon glyphicon-resize-full" style="color: red"></span>: {{outgoingCount}}

        <small ng-if="outgoingCount > listItemLimit">
          <br>
          <span ng-if="offsetOutgoing > 0">
            <span class="clickable small glyphicon glyphicon-chevron-left"
                  ng-click="adjustOffsetOutgoing(-listItemLimit)">
            </span>
          </span>

          {{offsetOutgoing+1}}-{{(offsetOutgoing + listItemLimit > outgoingCount) ? outgoingCount : offsetOutgoing +
          listItemLimit}}

          <span ng-if="(offsetOutgoing + listItemLimit) < outgoingCount">
            <span class="clickable small glyphicon glyphicon-chevron-right"
                  ng-click="adjustOffsetOutgoing(listItemLimit)">
            </span>
          </span>
        </small>

      </h4>


      <div ng-repeat="value in listedOutgoing">
        <div ng-click="selectionCallback({id: value['destination']['id']})" style="cursor: pointer">
          <span class="badge">{{value['weight']}}</span> {{value['destination']['name']}}
        </div>
      </div>
    </div>
  </div>
</div>