<div class="row">
  <div style="height: 500px; width: 100%;" class="map-container"></div>
</div>
<div class="row" ng-show="selectedPlaceId">
  <h3>{{placeData[placeIndexById[selectedPlaceId]]['name']}}</h3>
  <h4>Incoming ({{activeIncomingConnections.length}})</h4>
  <span ng-repeat="value in activeIncomingConnections">
    <button class="btn btn-default" ng-click="setSelectedPlaceId(value['origin']['id'])">
      {{value['origin']['name']}} <span class="badge">{{value['weight']}}</span>
    </button>
  </span>

  <h4>Outgoing ({{activeOutgoingConnections.length}})</h4>
  <span ng-repeat="value in activeOutgoingConnections">
    <button class="btn btn-default" ng-click="setSelectedPlaceId(value['destination']['id'])">
      {{value['destination']['name']}} <span class="badge">{{value['weight']}}</span>
    </button>
  </span>
</div>

<div class="row" ng-show="showControls">
  <br/>
  <div>
    Showing data between dates:
    <span id="date-range-display">
    {{minDate.toISOString().substring(0, 10)}} to {{maxDate.toISOString().substring(0, 10)}}
  </span>
  </div>

  <fieldset>
    <label for="min-date-picker">Select daterange minimum</label>
    <input type="range" id="min-date-picker" name="min date" />
    <label for="max-date-picker">Select daterange maximum</label>
    <input type="range" id="max-date-picker" name="max date"/>
  </fieldset>
</div>
