<div>
  <h3>
  <span ng-if="placeData[placeIndexById[selectedPlaceId]]['authSource'] == 'GAZ'">
    <a href="https://gazetteer.dainst.org/app/#!/show/{{placeData[placeIndexById[selectedPlaceId]]['authId']}}"
       target="_blank">
      {{placeData[placeIndexById[selectedPlaceId]]['name']}} <span class="glyphicon glyphicon-link"></span>
    </a>
  </span>
  <span ng-if="placeData[placeIndexById[selectedPlaceId]]['authSource'] != 'GAZ'">
    {{placeData[placeIndexById[selectedPlaceId]]['name']}}</span>
  </h3>
<h4>Incoming ({{activeIncomingConnections.length}})</h4> <!-- TODO: Translate -->
<span ng-repeat="value in activeIncomingConnections.sort(sortConnectionsDesc)">
  <a class="btn btn-default btn-xs" ng-click="setSelectedPlaceId(value['origin']['id'])">
    <span>{{value['origin']['name']}}<span class="badge">{{value['weight']}}</span></span>
  </a>
  </a>
</span>

<h4>Outgoing ({{activeOutgoingConnections.length}})</h4> <!-- TODO: Translate -->
<span ng-repeat="value in activeOutgoingConnections.sort(sortConnectionsDesc)">
  <a class="btn btn-default btn-xs" ng-click="setSelectedPlaceId(value['destination']['id'])">
    <span>{{value['destination']['name']}} <span class="badge">{{value['weight']}} </span></span>
  </a>
</span>

</div>