<h4>{{heading}}</h4>

<div class="row">
    <div class="btn-group" role="group">
        <button class="btn btn-default clickable glyphicon {{orderGlyph}}" aria-hidden="true"
                ng-click="toggleListOrder()"></button>
        <button class="btn btn-success" aria-hidden="true" ng-click="selectAll()">Select all</button>
        <button class="btn btn-danger" aria-hidden="true" ng-click="deselectAll()">Deselect all</button>
    </div>
</div>

<div class="row">
    <span class="clickable glyphicon glyphicon-chevron-left"
          ng-click="decreaseOffset()"></span>
    ({{offset+1}}-{{(offset+ipp > displayedList.length) ? displayedList.length : offset + ipp}} / {{displayedList.length}})
    <span class="clickable glyphicon glyphicon-chevron-right"
          ng-click="increaseOffset()"></span> {{selected.length}} selected.
</div>

<div class="row">
    <div ng-repeat="item in displayedList.slice(offset, offset + ipp)">
        <div style="text-overflow: ellipsis;white-space: nowrap;" class="clickable" ng-click="toggleItem(item.id)">
            <span class="glyphicon {{(selected.indexOf(item.id) >= 0) ? 'glyphicon-check' : 'glyphicon glyphicon-unchecked'}}"></span>
            <span ng-if="item.active === false"><s>({{item.count}}) {{item.label}}</s></span>
            <span ng-if="item.active === true">({{item.count}}) {{item.label}}</span>
        </div>
    </div>
</div>