<accordion close-others="true" class="accordion-with-list">
	<accordion-group ng-repeat="facetValue in facetValues" ng-click="loadEntities($index)">
		<accordion-heading>
			<span class="badge pull-right">{{facetValue.count}}</span>
			{{facetValue.value}}
		</accordion-heading>
		<div style="max-height:400px; overflow-y: scroll;">			
			<a ng-show="facetValue.count > 1"
					ng-href="search{{facetQueries[$index].toString()}}"
					style="cursor:pointer;"
					class="text-center list-group-item">
				<span class="glyphicon glyphicon-search"></span>
				Alle Anzeigen
			</a>
			<a class="list-group-item" ng-repeat="entity in entities[$index]" ng-href="entity/{{entity.entityId}}{{facetQueries[$parent.$index].setParam('resultIndex',$index).toString()}}">
				{{entity.title}}
			</a>
		</div>
	</accordion-group>
</accordion>