		<div ng-hide="$root.hideFooter" class="row">
			<div class="col-md-12 text-center">
				<hr>
				<p>
					<a href="http://archaeologie.uni-koeln.de" target="_blank"><img src="img/siegel_unikoeln.gif" height="80px"></a>
					<a href="http://www.dainst.org/" target="_blank"><img src="img/greif.png" height="80px"></a>
				</p>
				<p class="small">Copyright Arachne © 2014 | 
					<a href="info/{{dynamicLinkList[0].id}}">{{dynamicLinkList[0].title}}</a> | 
					<a href="info/{{dynamicLinkList[1].id}}">{{dynamicLinkList[1].title}}</a> |
					 {{'footer_bugs_to'|transl8}} <a href="mailto:idai.objects@dainst.de">idai.objects@dainst.de</a></p>
			</div>
		</div>