<div class="ar-imagegrid-cell"
		ng-style="{'width':cellWidth+'px', 'margin':cellMargin+'px'}"
		style="display:inline-block; float:left; overflow: hidden;">
	<a ng-href="{{href}}" class="ar-imagegrid-cell-link">
		<div ng-style="{'height':cellHeight+'px', 'width':cellWidth+'px'}"
				style="background-color: #ddd; text-align:center; position: relative;">
			<span ng-if="cellLabel"
					class="label label-default"
					ng-style="{'max-width':(cellWidth-10)+'px'};">
				{{cellLabel}}
			</span>
			<span style="display: inline-block; height: 100%; vertical-align: middle;"></span><img style="vertical-align:middle;" ng-src="{{img.src}}" width="{{imgWidth}}">
		</div>
		<div ng-hide="hideTitle"
				class="ar-imagegrid-cell-title"
				ng-style="{'width':cellWidth+'px'};">
			<small ng-bind-html="cellTitle">{{cellTitle}}</small>
			<small ng-hide="cellTitle"><i>{{ 'ui.no_title' | transl8 }}</i></small>
			<br/>
			<small class="text-muted" ng-show="cellSubtitle" ng-bind-html="cellSubtitle">{{cellSubtitle}}</small>
			<div ng-if="cellHighlighting" ng-bind-html="cellHighlighting">&nbsp;</div>

		</div>
	</a>
</div>