<h3 ng-if="entity.images.length > 1">
    <a ng-href="entity/{{entity.entityId}}/images{{currentQuery.toString()}}">
        {{'entity_images'|transl8}}
        <small>({{entity.images.length}})</small>
    </a>
</h3>
<h3 ng-if="entity.images.length == 1">{{'entity_image'|transl8}}</h3>

<div class="ar-imageslider">
    <div ng-if="currentImgNo >= 0"
         class="panel panel-default"
         id="previewbox">

        <a ng-if="currentImgNo > 0"
           ng-click="setImage(currentImgNo - 1)"
           id="maximg-nav-left">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>

        <a ng-if="currentImgNo < entity.images.length - 1"
           ng-click="setImage(currentImgNo + 1)"
           id="maximg-nav-right">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>

        <a ng-href="entity/{{entity.entityId}}/image/{{entity.images[currentImgNo].imageId}}{{currentQuery.toString()}}"
           style="cursor:zoom-in;"
           id="maximg">
            <img ar-img img-id="{{entity.images[currentImgNo].imageId}}"
                 img-height="300">
        </a>
    </div>
    <div ng-show="entity.images.length > 1" style="overflow: hidden; padding: 4px;"
         class="thumb-row panel panel-default">

        <a ng-click="pageThumbsLeft()"
           ng-hide="offset <= 0"
           class="navigate-left">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>

        <a ng-click="pageThumbsRight()"
           class="navigate-right"
           ng-hide="offset >= max">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>

        <div ng-style="{'transform': 'translateX(-'+offset+'px)','-webkit-transform': 'translateX(-'+offset+'px)'}"
             id="thumbbox">
            <a ng-click="setImage($index)"
               ng-repeat="image in entity.images"
               ng-class="{ 'active': $index == currentImgNo }">
                <img ar-img img-id="{{image.imageId}}"
                     img-height="70">
            </a>
        </div>

    </div>
</div>