<div>
	<div ng-repeat="row in grid">
		<div ar-imagegrid-cell ng-show="row.complete" ng-repeat="cell in row"
			img="cell.img"
			img-uri="{{cell.imgUri}}"
			img-width="{{cell.imgWidth}}"
			href="{{cell.href}}"
			cell-width="{{cell.width}}"
			cell-height="{{cell.height}}"
			cell-margin="{{margin}}"
			cell-title="{{cell.title}}"
			cell-subtitle="{{cell.subtitle}}"
			cell-label="{{cell.label}}"
			hide-title="{{hideTitle}}">
		</div>
		<!-- prevent row from disappering when single cell is absolutely positioned -->
		<div ng-if="row.length == 1"
				class="ar-imagegrid-cell"
				style="display:inline-block; float:left; margin: 4px;">
			<div ng-style="{'height':row[0].height+'px'};"></div>
			<div ng-hide="hideTitle" class="ar-imagegrid-cell-title"></div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div ng-hide="complete" style="height: 100px">
		<div class="loading" style="position: static; vertical-align:middle; margin-top: 100px;"></div>
	</div>
</div>