<div class="ar-imagegrid-cell" style="width: {{cellWidth}}px; display:inline-block; float:left; margin: {{cellMargin}}px; overflow: hidden;">
	<a href="{{href}}" class="ar-imagegrid-cell-link">
		<div style="height: {{cellHeight}}px; background-color: #ddd; text-align:center; position: relative; width: {{cellWidth}}px;">
			<span ng-if="cellLabel" class="label label-default" style="max-width:{{cellWidth-10}}px;">{{cellLabel}}</span>
			<span style="display: inline-block; height: 100%; vertical-align: middle;"></span><img style="vertical-align:middle;" ng-src="{{img.src}}" width="{{imgWidth}}">
		</div>
		<div ng-hide="hideTitle" class="ar-imagegrid-cell-title" style="width: {{cellWidth}}px;">
			<small>{{cellTitle}}</small><br/>
			<small class="text-muted" ng-show="cellSubtitle">{{cellSubtitle}}</small>
		</div>
	</a>
</div>