<div ng-if="entityCount == 0" class="alert alert-info">
    Keine Orte gefunden.
</div>

<div ng-if="entityCount > 0" style="margin-bottom:10px;">
    <small>
    Insgesamt <b>{{ entityCount|number }}</b> Objekt<span ng-show="entityCount > 1">e</span>
    <br>
    <span ng-if="placesCount">
        an
        <b>{{ placesCount |number }}</b> Ort<span ng-show="placesCount > 1">en</span>
    </span>
</small>
</div>

<div ng-if="entityCount > 0" style="margin-bottom:10px;">
    <a href="search/{{currentQuery.removeParams(['fl', 'lat', 'lng', 'zoom', 'overlays', 'baselayer']).toString()}}" type="button"
            class="btn btn-primary btn-sm btn-block">
        Objekte anzeigen <i class="glyphicon glyphicon-search"> </i>
    </a>
</div>
