<!-- Ausgewählte Facetten -->
<div ng-if="activeFacets.length > 0">
    <h5 class="text-muted uppercase"><b>Aktive Filter</b></h5>
    <a ng-repeat="facet in activeFacets"
            ng-click="removeFacet(facet.key)"
            class="btn btn-sm btn-block btn-primary linethrough-hover">
        <i>{{facet.key | transl8}}</i><br>
        <b>{{facet.value}}</b>
    </a>
</div>

<!-- Andere Restriktionen -->
<div ng-if="currentQuery.restrict" style="margin-top:15px;">
    <a ng-href="{{route}}/{{currentQuery.removeParam('restrict').toString()}}"
        class="btn btn-sm btn-block btn-warning linethrough-hover"
        style="white-space:normal;">
        <i>Nur Objekte mit</i><br>
        <b style="text-transform:capitalize;">{{currentQuery.restrict | transl8}}</b>
    </a>
</div>

<!-- Auswählbare Facetten -->
<small ng-if="entityCount > 2">
    <h5 class="text-muted uppercase" ng-hide="entityCount < 2"><b>{{'ui_filter_plural'|transl8}}</b></h5>
    <div ng-repeat="facet in facetsShown"
            class="panel panel-default facet">
        <div class="panel-heading" ng-click="facet.open = !facet.open" style="padding-left:10px">
            <h5 class="panel-title">
                <span class="glyphicon glyphicon-chevron-down" ng-hide="facet.open" style="color:silver"></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show="facet.open" style="color:silver"></span>
                &nbsp;{{facet.name | transl8 }}{{facetsAppend[facet.name]}}
            </h5>
        </div>
        <ul class="list-unstyled facet" ng-show="facet.open">
            <li ng-repeat="facetValue in facet.values">
                <a style="cursor:pointer" ng-click="addFacet(facet.name, facetValue.value)">
                    <b class="pull-right text-muted">{{facetValue.count | number}}</b>
                    {{facetValue.value | stripCoords}}
                </a>
            </li>
        </ul>
    </div>
</small>
